<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window title="Nouveau Rôle" id="window"
		use="sn.ssi.kermel.web.alertes.controllers.AlertesFormController">
	<borderlayout height="100%">
		<north>
			<hbox widths="85%,*" width="100%" height="25px"
				spacing="0px">

				<menubar>
					<menuitem image="/images/add.png" label="Ajouter"
						forward="onOK">
					</menuitem>
					<menuitem image="/images/cancel.png"
						forward="onClose" label="Fermer">
					</menuitem>
				</menubar>
			</hbox>
		</north>
		<center>
			<vbox width="100%" height="100%"
				style="margin-top: 4%; margin-left: 25%;">
				<div>

					<n:table width="400px">
						<n:tr>
							<n:td>Code:</n:td>
							<n:td>
								<textbox id="txtCode" />
							</n:td>
						</n:tr>
						<n:tr>
							<n:td>Description:</n:td>
							<n:td>
								<textbox id="txtDescription" rows="3" />
							</n:td>
						</n:tr>
						<n:tr>
							<n:td>Etat:</n:td>
							<n:td>
								<listbox mold="select" rows="1"
									id="lstStates">
									<listitem label="Choisir un état"></listitem>
								</listbox>
							</n:td>
						</n:tr>
						<n:tr>
							<n:td>Délai:</n:td>
							<n:td>
								<textbox id="txtDelai" cols="3" />
								(jours)
							</n:td>
						</n:tr>
						<n:tr>
							<n:td>Mode:</n:td>
							<n:td>
								<listbox mold="select" rows="1"
									id="lstMode">
									<listitem label="Mail"></listitem>
									<listitem label="SMS"></listitem>
								</listbox>
							</n:td>
						</n:tr>
						<n:tr>
							<n:td>Contenu:</n:td>
							<n:td>
								<textbox width="97%" id="txtContenu"
									rows="6" />
							</n:td>
						</n:tr>

					</n:table>
				</div>
			</vbox>
		</center>
	</borderlayout>
	</window>
</zk>
