<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window width="100%" title="" height="500px"
		use="sn.ssi.kermel.web.passationsmarches.controllers.OrdredeservicededemarrageController">
		<borderlayout height="100%">
			<center>
				<div height="100%">
					<div id="step0" height="100%">
						<borderlayout height="100%">
							<north>
								<hbox widths="85%,*" width="100%" height="25px" spacing="0px">
									<menubar height="25px">
										<menuitem  image="/images/ok.png" label="${c:l('kermel.common.form.valider')}" id="menuValider"/>
<!-- 										<menuitem  image="/images/cancel.png" label="${c:l('kermel.common.form.fermer')}" id="menuCancel"/> -->
									</menubar>
			                     </hbox>
							</north>

							<center>
								<div style="width:98%;margin-left:1%;margin-top:1%;margin-right:1%;">
<!-- 			<div style="margin-top:4%" > -->
<!-- 					<label  style="color:#000;" sclass="complex-layout-header-label"   value="${c:l('kermel.plansdepassation.proceduresmarches.execution.ordreserdemarrage')}" /> -->
<!-- 		             </div> -->
				 <n:table>
				  <n:tr>
			          <n:td width="39%">${c:l('kermel.plansdepassation.proceduresmarches.execution.ordreserdemarrage.date')}</n:td>
			          <n:td width="1%" align="right">:</n:td>
			          <n:td width="60%"><datebox id="dtdemarrage"  /><label  value="*" style="color:red;"/></n:td>
			        </n:tr>
					<n:tr>
					  <n:td >${c:l('kermel.plansdepassation.proceduresmarches.execution.ordreserdemarrage.fichier')}</n:td>
					  <n:td  >:</n:td>
					  <n:td > <textbox id="txtVersionElectronique" width="300px" readonly="true"/>
						
						<button label="..."  id="btnChoixFichier" image="/images/FileDownload-24x24.png"  style="backgroung-color:#000;"/><label  value="*" style="color:red;"/>
                    </n:td>                    
				</n:tr>
				<n:tr>
				 <n:td>${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.attribution.commentaires')}</n:td>
				 <n:td>:</n:td>
				 <n:td > <textbox id="txtCommentaires" cols="60" rows="5"/></n:td>
				</n:tr>
				<n:tr>
					  <n:td ><label id="lbltitre"/></n:td>
					  <n:td  ><label id="lbldeuxpoints"/></n:td>
					  <n:td > <image id="image" /> </n:td>                    
				</n:tr>
						          
							   </n:table>
					</div>
							</center>
							<south size="75">
			<vbox  width="100%" spacing="5px">
				 <hbox widths="40%,2%,2%,46%,10%">
					    <label/>
						<label  value="(" />
						<label  value="*" style="color:red;"/>
						<label  value=") = ${c:l('kermel.common.form.champs.obligatoire')}" />
						<label/>
					</hbox>
					 <hbox>
					   <label id="lbStatusBar" />
					 </hbox>
					 </vbox>
			</south>
						</borderlayout>
					</div>
					<div id="step1" height="100%" visible="false">
						<borderlayout height="100%">
							<north>
								<hbox widths="90%,*" width="100%" height="25px" spacing="0px">
									<menubar height="100%">
										<menuitem image="/images/cancel.png" label="${c:l('kermel.common.form.fermer')}" id="menuFermer" />
										
									</menubar>
								</hbox>

							</north>
							<center>

								<div style="width:90%;margin-left:5%;margin-top:1%">
									<iframe id="idIframe" width="100%" height="600px" scrolling="auto" />
								</div>
								

							</center>
							<south size="25">
			
			</south>

						</borderlayout>
					</div>
					
					
				</div>
			</center>
		</borderlayout>
	</window>
</zk>