<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window width="100%" title="" height="450px"
		use="sn.ssi.kermel.web.passationsmarches.controllers.GarantiesController">
		<borderlayout height="100%">
			<center>
				<div height="100%">
					<div id="step0" height="100%">
						<borderlayout height="100%">
							<north>
								<hbox widths="85%,*" width="100%" height="25px" spacing="0px">
									<menubar height="25px">
										<menuitem image="/images/add.png" label="${c:l('kermel.common.form.ajouter')}" id="menuAjouter" />
										<menuitem image="/images/delete.png" label="${c:l('kermel.common.form.supprimer')}" id="menuSupprimer" />
									</menubar>
			                     </hbox>
							</north>

							<center>
								<div style="width:98%;margin-left:1%;margin-top:1%;margin-right:1%;">
			
				<listbox  id="lstListe" checkmark="true" ="true">
						<listhead >
							<listheader label="${c:l('kermel.plansdepassation.proceduresmarches.preparation.dossiers.pieces.libelle')}" width="70%" id="lshLibelle"/>
							<listheader label="${c:l('kermel.plansdepassation.proceduresmarches.preparation.dossiers.garanties.pourcentage')}" width="15%" align="center"/>
							<listheader label="${c:l('kermel.plansdepassation.proceduresmarches.preparation.dossiers.infos.montantdao')}" width="15%" align="center"/>
					
						</listhead>
					</listbox>
				</div>
							</center>
							<south size="25px">
								<vbox width="100%" height="100%" heights="80%,*">
									<paging id="pgPagination"/>
								</vbox>
							</south>
						</borderlayout>
					</div>
					<div id="step1" height="100%" visible="false">
						<borderlayout height="100%">
							<north>
								<hbox widths="90%,*" width="100%" height="25px" spacing="0px">
									<menubar height="100%">
										<menuitem image="/images/cancel.png" label="${c:l('kermel.common.form.fermer')}" id="menuFermer" />
										
									</menubar>
								</hbox>

							</north>
							<center>

								<div style="width:98%;margin-left:1%;margin-top:1%">
										<grid id="GridGaranties">
						<auxhead>
							<auxheader
								
								colspan="10">

							</auxheader>
						</auxhead>
						<columns>
							<column label="${c:l('kermel.plansdepassation.proceduresmarches.preparation.dossiers.pieces.libelle')}" width="80%" />
							<column label="${c:l('kermel.plansdepassation.proceduresmarches.preparation.dossiers.garanties.pourcentage')}" width="10%" align="center"/>
							
							<column width="10%">Actions</column>
						</columns>
						
					</grid>
									</div>
								

							</center>
							<south size="25">
			<paging id="pgPieces"/>
			</south>

						</borderlayout>
					</div>
					
					
				</div>
			</center>
		</borderlayout>
	</window>
</zk>