    <?page title="Atlantis"?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window height="600px" width="100%"  use="sn.ssi.kermel.web.passationsmarches.controllers.ListProceduresServicesController">

		<borderlayout height="100%">
			<center>
			<div style="width:98%;margin-top:1%;margin-left:1%;margin-right:1%;">
			<listbox  id="lstListe" checkmark="true">
						 <listhead >
							<listheader label="${c:l('kermel.referentiel.courrier.reference')}" width="15%" id="lshReference"/>
							<listheader label="${c:l('kermel.plansdepassation.passationsmarches.objets')}" width="25%"  id="lshObjet"/>
							<listheader label="${c:l('kermel.referentiel.modepassation')}" width="25%"   id="lshModepassation"/>
							<listheader label="${c:l('kermel.plansdepassation.passationsmarches.datecreations')}" width="10%" align="center" id="lshDate"/>
							<listheader label="${c:l('kermel.plansdepassation.passationsmarches.montantestime')}" width="12%" align="right" id="lshMontant"/>
						<listheader label="${c:l('kermel.avis.soumission')}" width="13%" align="center"   />
						 </listhead>
					</listbox>
				
				<popup id="pop3" width="200px">
        <html><![CDATA[
    Mode de soumission: <br />
     <font color="red"> -> Physique <br />
     -> Electronique<br>
        </font>
        ]]></html>
    </popup>
    
     <popup id="pop1" width="200px">
        <html><![CDATA[
     Mode de soumission : <br />
        <font color="red"> -> Physique uniquement <br />     
    </font>
        ]]></html>
    </popup>

  <popup id="pop2" width="200px">
        <html><![CDATA[
    Mode de soumission : <br />
    <font color="red">->Electronique  <br />       
    </font>
        ]]></html>
    </popup>
			
					
				</div>
			</center>
			<north>
				<vbox width="100%" height="100%" spacing="0px">
				<hbox widths="80%,*" width="100%" height="30px" spacing="0px">
					<kermelsousmenu id="monSousMenu" height="28px"/>
					<hbox pack="end" sclass="z-menubar-hor" height="100%">
					 <textbox id="txtObjet" cols="20" value="${c:l('kermel.plansdepassation.proceduresmarches.recours.objet')}"/>
									        <button id="bchercher" tooltiptext="${c:l('kermel.common.form.rechercher')}" image="/images/find.png"/>

					
				
						</hbox>	
					</hbox>
						
			
				</vbox>
			</north>
			<south size="75">
				<paging id="pgPagination"/>
			</south>
		</borderlayout>
	</window>
</zk>
