<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window width="100%" title="" height="500px"
		use="sn.ssi.kermel.web.passationsmarches.controllers.SoumissionValidationdossierController">
		<borderlayout height="100%">
			<center>
				<div height="100%">
					<div id="step0" height="100%">
						<borderlayout height="100%">
							<north>
								<vbox width="100%" height="100%" spacing="0px">
                            <menubar>
                      		   <menuitem  image="/images/ok.png" label="${c:l('kermel.common.form.valider')}" id="menuValider"/>
                      		    <menuitem  image="/images/zoom.png" label="${c:l('kermel.audits.historiques')}" id="menuEditer" visible="false"/>
                      		    <menuitem  image="/images/cancel.png" label="${c:l('kermel.common.form.fermer')}" id="menuClose" visible="false"/>
		        			</menubar>
					<hbox height="100%"  width="100%" >
					<div style="margin-top:3%" >
					<label  style="color:#000;" sclass="complex-layout-header-label"  id="lbltitre"  />
		             </div>
				     
					
			</hbox>				
				</vbox>
							</north>

							<center autoscroll="true">
								<div style="width:90%;margin-left:5%;margin-top:1%;margin-right:5%;">
			<n:table>
			
							    <n:tr>
			          <n:td width="39%"><label id="labeldatemiseenvaleur"/></n:td>
			          <n:td width="1%"><label id="label2"/></n:td>
			          <n:td width="60%"><datebox id="dtmiseenvalidation"  /><label id="lbl1"  value="*" style="color:red;"/></n:td>
			        </n:tr>
							   <n:tr>
							       <n:td ><label id="labelbordereau"/></n:td>
							       <n:td><label id="label3"/></n:td>
							       <n:td >
							              <textbox id="txtnumborereau"  cols="30"/> <label id="lbl2"  value="*" style="color:red;"/>
							         </n:td>
							     </n:tr>
							      <n:tr>
							       <n:td ><label id="labelcommentaires"/></n:td>
							       <n:td><label id="label4"/></n:td>
							       <n:td >
							              <textbox id="txtcommentaires"  cols="30" rows="5"/> 
							         </n:td>
							     </n:tr>
							    
							     <n:tr>
					<n:td ><label id="Fichier"/></n:td>
					<n:td align="right" ><label id="label5"/></n:td>
					<n:td >
						<textbox id="txtVersionElectronique" width="300px" readonly="true"/>
						
						<button label="..."  id="btnChoixFichier" image="/images/FileDownload-24x24.png"  style="backgroung-color:#000;"/><label id="lbl3"  value="*" style="color:red;"/>
                    </n:td>                    
				</n:tr>
			</n:table>
					 <grid oddRowSclass="myodd" id="GridListe" visible="false">
        <columns>
            <column width="100%" />
           
        </columns>
       
    </grid>
				</div>
							</center>
							<south size="75">
		<vbox  width="100%" spacing="5px">
				  <hbox widths="40%,2%,2%,46%,10%">  
					    <label/>
						<label  value="(" />
						<label  value="*" style="color:red;"/>
						<label  value=") = ${c:l('kermel.common.form.champs.obligatoire')}" />
						<label/>
					</hbox>
					 <hbox>
					   <label id="lbStatusBar" />
					 </hbox>
					 </vbox>
			</south>
						</borderlayout>
					</div>
					<div id="step1" height="100%" visible="false">
						<borderlayout height="100%">
							<north>
								<hbox widths="90%,*" width="100%" height="25px" spacing="0px">
									<menubar height="100%">
										<menuitem image="/images/cancel.png" label="${c:l('kermel.common.form.fermer')}" id="menuFermer" />
										
									</menubar>
								</hbox>

							</north>
							<center>

								<div style="width:90%;margin-left:5%;margin-top:1%">
									<iframe id="idIframe" width="100%" height="600px" scrolling="auto" />
								</div>
								

							</center>
							<south size="25">
			
			</south>

						</borderlayout>
					</div>
					
					
				</div>
			</center>
		</borderlayout>
	</window>
</zk>