<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<?page title="" contentType="text/html;charset=UTF-8"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window title="" border="normal" width="100%" height="600px" use="sn.ssi.kermel.web.referentiel.controllers.GroupesFormImputilisateurController">
		<borderlayout>
			<north>
				<vbox width="100%">
					<hbox width="100%">
						<menubar>
						<menuitem id="menuValider" image="/images/ok.png" label="${c:l('kermel.common.form.valider')}" forward="onOK"/>
						<menuitem id="menuFermer" image="/images/cancel.png" label="${c:l('kermel.common.form.fermer')}" forward="onClose"/>
					</menubar>
					</hbox>
					
				</vbox>
			</north>
			<center>
				<div style="width:80%;margin-left:10%;margin-top:1%;margin-right:10%;">
					<n:table>
						
					   <n:tr>
								<n:td width="14%">${c:l('kermel.referentiel.common.libelle')}</n:td>
								<n:td align="right" width="1%">:</n:td>
								<n:td width="85%"><textbox id="txtlibelle"  /><label  value="*" style="color:red;"/></n:td>
						</n:tr>
						
						 <n:tr>
								<n:td width="14%">${c:l('kermel.common.descriptions')}</n:td>
								<n:td align="right" width="1%">:</n:td>
								<n:td width="85%"><textbox id="txtdescriptions"  /><label  value="*" style="color:red;"/></n:td>
						</n:tr>
						
						 <n:tr>
								<n:td width="14%">${c:l('kermel.common.utilisateur')}</n:td>
								<n:td align="right" width="1%">:</n:td>
								<n:td width="85%"><textbox id="txtutilisateur"  /><label  value="*" style="color:red;"/></n:td>
						</n:tr>
						
						<n:tr>
						       <n:td >${c:l('kermel.common.utilisateur')}</n:td>
						       	<n:td align="right">:</n:td>
						      
								<n:td>
							<bandbox id="bandutilisateur" >
								<bandpopup>
								<vbox>
										<hbox>
											Rechercher
											<textbox id="txtRechercherutilisateur" value="txtutilisateur" />
											<button image="/images/zoom.png" id="btnutilisateur"/>
										</hbox>
									<listbox id="listutilisateur">
									</listbox>
									<paging
					               id="pgutilisateur"/>
					               </vbox>
					               
								</bandpopup>
							</bandbox>
							 	<label  value="*" style="color:red;"/>
						</n:td>
						</n:tr>
						
<!-- 						 <n:tr> -->
<!-- 								<n:td width="14%">${c:l('ecourrier.common.groupeimputation')}</n:td> -->
<!-- 								<n:td align="right" width="1%">:</n:td> -->
<!-- 								<n:td width="85%"><textbox id="txtgroupeimputation"  /><label  value="*" style="color:red;"/></n:td> -->
<!-- 						</n:tr> -->
						
						<n:tr>
						       <n:td >${c:l('kermel.common.groupeimputation')}</n:td>
						       	<n:td align="right">:</n:td>
						      
								<n:td>
							<bandbox id="bandgroupeimputation" >
								<bandpopup>
								<vbox>
										<hbox>
											Rechercher
											<textbox id="txtRecherchergroupeimputation" value="txtgroupeimputation" />
											<button image="/images/zoom.png" id="btnRecherchergroupeimputation"/>
										</hbox>
									<listbox id="listgroupeimputation">
									</listbox>
									<paging
					               id="pg"/>
					               </vbox>
					               
								</bandpopup>
							</bandbox>
							 	<label  value="*" style="color:red;"/>
						</n:td>
						</n:tr>
						
				 </n:table>
				</div> 
			</center>
			<south size="50px">
				<vbox  width="100%" spacing="5px">
					<hbox widths="40%,2%,2%,46%,10%">
					    <label/>
						<label  value="(" />
						<label  value="*" style="color:red;"/>
						<label  value=") = ${c:l('kermel.common.form.champs.obligatoire')}" />
						<label/>
					</hbox>
					 <hbox>
					   <label id="lbStatusBar" />
					 </hbox>
				</vbox>
			</south>
			
		</borderlayout>
	</window>
</zk>