@CHARSET "ISO-8859-1";

body {
	height: 100%;
	font: 11px/20px Verdana, Tahoma, sans-serif;
	color: Black;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

hr {
	margin-left: 10px;
	margin-right: 10px;
	border-color: #42693D;
}

table {
	padding: 0px 0px 0px 0px;
}

INPUT {
	background-color: #fffff0
}

.valeur {
	font: 11px/20px Verdana, Tahoma, sans-serif;
	color: #333;
	font-weight: inherit;
}

div {
	
}

div.titre {
	background-color: #fff;
	width: 100%;
	height: 100%;
	margin-top: 0px;
}

div.titre span {
	float: left;
	width: 75%;
	font-family: fantasy;
	font-size: 16px;
	color: #000;
	margin-top: 10px;
	margin-left: 10px;
}

div.titre image {
	float: right;
	width: 25%;
}

.champs {
	color: black;
	font-family: serif;
	font-weight: bold;
}

.backg {
	background: #F4F4F4;
}

fieldset {
	border: 1px #42693D solid;
}

legend {
	font: 11px/20px Verdana, Tahoma, sans-serif;
	color: #333;
	font-style: italic;
}

#ref {
	
}

#ref dd {
	float: left;
	width: 400px;
	height: 150px;
	margin: 5px 5px 5px 10px;
	cursor: pointer;
	zoom: 1;
}

#ref dd img {
	width: 120px;
	height: 90px;
	margin: 5px 0 0 5px;
	float: left;
}

#ref li {
	font-family: Arial, sans-serif;
	font-size: 100%;
	color: #6597AA;
	list-style-type: none;
	background-image: url(/Kermel-WEB/images/puce.png);
	background-repeat: no-repeat;
	background-position: 0 0.32em;
	padding-left: 15px;
}

#ref li:hover {
	font-family: Arial, sans-serif;
	font-size: 16px;
	color: red;
	list-style-type: none;
	background-image: url(/Kermel-WEB/images/puce.png);
	background-repeat: no-repeat;
	background-position: 0 0.32em;
	padding-left: 15px;
}

#ref ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#ref dd div {
	float: left;
	width: 220px;
	margin-left: 5px;
}

#ref dd h4 {
	font-family: tahoma, arial, san-serif;
	color: green;
	font-size: 16px;
	font-weight: bold;
	margin: 5px 5px 5px 0px;
}

#ref dd p {
	font: normal 10px arial, tahoma, sans-serif;
	color: red;
	margin: 0px 0px 0px 10px;
	font-size: 12px;
}

#ref dd:hover {
	font-family: tahoma, arial, san-serif;
	color: #000;
	font-size: 11px;
	font-weight: bold;
	margin: 5px 5px 5px 10px;
	background: url(/Kermel-WEB/images/contour.png) no-repeat;
}

#loading-mask {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 20000;
	background-color: white;
}

#loading {
	position: absolute;
	left: 45%;
	top: 40%;
	padding: 2px;
	z-index: 20001;
	height: auto;
}

#loading a {
	color: #225588;
}

#loading .loading-indicator {
	background: white;
	color: #42693D;
	font: bold 13px tahoma, arial, helvetica;
	padding: 10px;
	margin: 0;
	height: auto;
}

#loading-msg {
	font: normal 10px arial, tahoma, sans-serif;
}

#ref .x-panel-body {
	background-color: #fff;
	border: 1px solid;
	border-color: #fafafa #fafafa #fafafa #fafafa;
}

#sample-ct {
	border: 1px solid;
	border-color: #dadada #ebebeb #ebebeb #dadada;
	padding: 2px;
}

#ref h2 {
	border-bottom: 2px solid #99bbe8;
	cursor: pointer;
	padding-top: 6px;
}

#ref h2 div {
	background: transparent
		url(/kermel-WEB/images/screens/group-expand-sprite.gif) no-repeat 3px
		-47px;
	padding: 4px 4px 4px 17px;
	color: #42693D;
	font: bold 11px tahoma, arial, helvetica, sans-serif;
}

#ref .collapsed h2 div {
	background-position: 3px 3px;
}

#ref .collapsed dl {
	display: block;
}

.x-window {
	text-align: left;
}

#ref dd h4 span.new-sample {
	color: red;
}

#ref dd h4 span.updated-sample {
	color: blue;
} /* */
.demo-search-inp {
	padding: 2px 0 1px 18px;
	background: white url('http://localhost:9617/Kermel-web/img/search.png')
		no-repeat scroll 0 0;
}

r.myodd td.z-row-inner, tr.myodd {
	background-color: #E4EBF8;
}

.myimg {
	margin: 5px;
	border: 1px solid #B0C75E;
}

div.z-column-cnt {
	text-align: center;
	font-weight: bold;
}

div.z-row-cnt span {
	font-family: arial, sans-serif;
	color: #0E3A99;
}

p {
	font-family: Agency FB;
	font-size: 30px;
	font-weight: bold;
}

.cadre {
	background: white
		url('http://localhost:9617/Kermel-web/images/cadre.png') no-repeat
		scroll 0 0;
}

}
td.Stage {
	background: #e3e3e3;
}

/* Header */
td.Header {
	background: #f0ab00 url(/global/images/HeaderBgRepeat.jpg) repeat-y;
}

td.HeaderOutline {
	background: #e8a300;
}

p.HeaderText {
	color: #333333;
	vertical-align: bottom;
	margin: 0px;
	line-height: 18px;
}

p.HeaderText_RTL {
	color: #333333;
	vertical-align: bottom;
	margin: 0px;
	line-height: 18px;
	direction: rtl;
}

.HeaderBracket {
	padding: 0px 7px 0px 7px;
	background: url(/global/images/HeaderBracket.gif) no-repeat center;
}

p.HeaderText a {
	color: #333333;
	text-decoration: none;
}

p.HeaderText a:visited {
	color: #333333;
	text-decoration: none;
}

p.HeaderText a:hover {
	color: #333333;
	text-decoration: underline;
}

a.HeaderLanguageSelector {
	font: 11px/15px Arial, Helvetica, sans-serif;
	color: #ffffff;
	text-decoration: none;
}

a.HeaderLanguageSelector:visited {
	color: #ffffff;
	text-decoration: none;
}

a.HeaderLanguageSelector:hover {
	color: #ffffff;
	text-decoration: none;
}

/* Main */
td.MainOutline {
	background: #7e7e7e;
}

td.MainTopBar {
	background: #7e7e7e;
}

div.Dove {
	
}

div.Petrol {
	
}

div.WarmGreen {
	
}

div.WarmRed {
	
}

div.VioletMauve {
	
}

td.PanelPhotoBg {
	background-color: #ffffff;
	background-repeat: no-repeat;
}

td.PanelPhotoBgMargin {
	background-color: #ffffff;
	background-repeat: no-repeat;
	padding: 0px 0px 20px 20px;
}

.RightSingleColumnPhoto {
	margin: -72px -20px 20px 20px;
}

/* YourWorkspace */
div.YourWorkspace {
	float: right;
	margin: 0px;
	width: 208px;
	height: 26px;
	vertical-align: top;
	z-index: 20;
}

td.YourWorkspace {
	background: #7e7e7e url(/global/images/YourWorkspaceBgRepeat.jpg)
		repeat-y;
}

td.YourWorkspaceOutline {
	background: #6c6c6c;
}

a.YourWorkspaceLink {
	color: #ffffff;
	text-decoration: none;
}

a.YourWorkspaceLink:visited {
	color: #ffffff;
	text-decoration: none;
}

a.YourWorkspaceLink:hover {
	color: #ffffff;
	text-decoration: none;
}

div.YourWorkspaceCampaign {
	float: right;
	margin: 0px;
	width: 208px;
	height: 34px;
	vertical-align: top;
	z-index: 20;
}
/* Footer */
.FooterText {
	color: #ffffff;
	vertical-align: bottom;
	margin: 0px;
}

span.FooterBracket {
	padding: 0px 5px 0px 5px;
	background: url(/global/images/FooterBracket.gif) no-repeat center;
}

.FooterText a {
	color: #ffffff;
	text-decoration: none;
}

.FooterText a:visited {
	color: #ffffff;
	text-decoration: none;
}

.FooterText a:hover {
	color: #ffffff;
	text-decoration: underline;
}
/* Buttons */
td.ButtonGold {
	font: Bold 11px Tahoma, Arial, Helvetica, sans-serif;
	background: #DF9C00 url(/global/images/ButtonBgRepeatGold.jpg) repeat-x;
}

td.ButtonGold a {
	text-decoration: none;
	color: #ffffff;
}

td.ButtonGold a:visited {
	text-decoration: none;
	color: #ffffff;
}

td.ButtonGold a:hover {
	text-decoration: none;
	color: #FBE6B3;
}

td.ButtonDarkGray {
	font: Bold 11px Tahoma, Arial, Helvetica, sans-serif;
	background: #666666 url(/global/images/ButtonBgRepeatDarkGray.jpg)
		repeat-x;
}

td.ButtonDarkGray a {
	text-decoration: none;
	color: #ffffff;
}

td.ButtonDarkGray a:visited {
	text-decoration: none;
	color: #ffffff;
}

td.ButtonDarkGray a:hover {
	text-decoration: none;
	color: #D1D1D1;
}

td.ButtonDove {
	font: Bold 11px Tahoma, Arial, Helvetica, sans-serif;
	background: #44697D url(/global/images/ButtonBgRepeatDove.jpg) repeat-x;
}

td.ButtonDove a {
	text-decoration: none;
	color: #ffffff;
}

td.ButtonDove a:visited {
	text-decoration: none;
	color: #ffffff;
}

td.ButtonDove a:hover {
	text-decoration: none;
	color: #C7D2D8;
}

td.ButtonPetrol {
	font: Bold 11px Tahoma, Arial, Helvetica, sans-serif;
	background: #156570 url(/global/images/ButtonBgRepeatPetrol.jpg)
		repeat-x;
}

td.ButtonPetrol a {
	text-decoration: none;
	color: #ffffff;
}

td.ButtonPetrol a:visited {
	text-decoration: none;
	color: #ffffff;
}

td.ButtonPetrol a:hover {
	text-decoration: none;
	color: #B9D1D4;
}

td.ButtonWarmGreen {
	font: Bold 11px Tahoma, Arial, Helvetica, sans-serif;
	background: #557630 url(/global/images/ButtonBgRepeatWarmGreen.jpg)
		repeat-x;
}

td.ButtonWarmGreen a {
	text-decoration: none;
	color: #ffffff;
}

td.ButtonWarmGreen a:visited {
	text-decoration: none;
	color: #ffffff;
}

td.ButtonWarmGreen a:hover {
	text-decoration: none;
	color: #CCD6C1;
}

td.ButtonWarmRed {
	font: Bold 11px Tahoma, Arial, Helvetica, sans-serif;
	background: #774A39 url(/global/images/ButtonBgRepeatWarmRed.jpg)
		repeat-x;
}

td.ButtonWarmRed a {
	text-decoration: none;
	color: #ffffff;
}

td.ButtonWarmRed a:visited {
	text-decoration: none;
	color: #ffffff;
}

td.ButtonWarmRed a:hover {
	text-decoration: none;
	color: #D6C9C4;
}

td.ButtonVioletMauve {
	font: Bold 11px Tahoma, Arial, Helvetica, sans-serif;
	background: #644459 url(/global/images/ButtonBgRepeatVioletMauve.jpg)
		repeat-x;
}

td.ButtonVioletMauve a {
	text-decoration: none;
	color: #ffffff;
}

td.ButtonVioletMauve a:visited {
	text-decoration: none;
	color: #ffffff;
}

td.ButtonVioletMauve a:hover {
	text-decoration: none;
	color: #D1C7CE;
}

/* Buttons Campaign-Large */
td.ButtonCampaignGold {
	font: Bold 13px Tahoma, Arial, Helvetica, sans-serif;
	background: #DF9C00 url(/global/images/ButtonBgRepeatCampaignGold.jpg)
		repeat-x;
}

td.ButtonCampaignGold a {
	text-decoration: none;
	color: #ffffff;
}

td.ButtonCampaignGold a:visited {
	text-decoration: none;
	color: #ffffff;
}

td.ButtonCampaignGold a:hover {
	text-decoration: none;
	color: #FBE6B3;
}

/* FontColors */
.FontGold, .orange {
	color: #f0ab00;
}

.FontWhite {
	color: #ffffff;
}

.FontDove {
	color: #44697D;
}

.FontPetrol {
	color: #156570;
}

.FontWarmGreen {
	color: #557630;
}

.FontWarmRed {
	color: #774A39;
}

.FontVioletMauve {
	color: #644459;
}

.FontGray {
	color: #666666;
}
/* Contact SAP Module */
td.ContactSAP {
	background: #F8D580;
	font: 11px/15px Arial, Helvetica, sans-serif;
}

p.ContactSAPText {
	color: #333333;
	margin: 0px 0px 0px 0px;
}

.ContactSAPBracket {
	padding: 0px 7px 0px 7px;
	background: url(/global/images/sme09/MicroSiteHeaderBracket.gif)
		no-repeat center;
}

p.ContactSAPText a {
	color: #333333;
	text-decoration: none;
}

p.CotnactSAPText a:visited {
	color: #333333;
	text-decoration: none;
}

p.ContactSAPText a:hover {
	color: #333333;
	text-decoration: underline;
}

ul#utilitynav-liveperson li {
	display: inline-block;
	list-style-type: none;
	font-weight: bold;
	float: left;
}

ul#utilitynav-liveperson li a {
	text-decoration: none;
	display: inline-block;
	float: left;
	color: #000
}
/* 
rm_hompage.css
Rich Media Homepage CSS - required for DIV placement.

Created: 07.20.10 - VS
Edited: 09.07.10 - design tweaks
*/
.singlePanelDiv {
	float: left;
	margin-right: 8px;
	position: relative;
	cursor: pointer;
}

.panelDiv {
	background-color: #FFFFFF;
	width: 329px;
	height: 147px;
	overflow: hidden;
	top: 0px;
	position: relative;
	z-index: 4;
}

.panelsStyle {
	position: absolute;
	top: 400px;
	z-index: 10;
	width: 978px;
	height: 100px;
}

.panelContent {
	margin-top: 17px;
	margin-left: 10px;
	margin-right: 6px;
	background-color: #FFFFFF;
}

.panelContent h3 {
	margin-left: -1px;
	margin-bottom: 10px;
}

.expandYellow {
	position: absolute;
	z-index: 2;
	top: 116px;
	background: #CFE88D;
	width: 229px;
	height: 31px;
	overflow: hidden;
}

.expandText {
	color: #FFFFFF;
	font: Verdana, Geneva, sans-serif;
	font-size: 12px;
	text-align: right;
	margin-right: 10px;
	font-weight: bold;
}

.moreClass {
	position: absolute;
	top: 112px;
}

.expanded {
	visibility: hidden;
	display: none;
	margin: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	border: 0;
}

.bbarea {
	overflow: hidden;
	height: 300px;
	width: 940px;
	z-index: 4;
}

.singleBB {
	top: 92px;
	position: absolute;
	visibility: visible;
	display: block;
}

.Search {
	/*position:relative;
	padding:20px;
	z-index: 11;
	top: -4px;*/
	width: 400px;
}

.bbIconArea {
	position: relative;
	top: -343px;
	left: -15px;
	z-index: 12;
	float: right;
	width: 940;
	right: auto;
}

.iconStyle {
	position: relative;
	top: 2px;
	left: 2px;
	z-index: 2;
	height: 29px;
	overflow: hidden;
}

.iconBGstyle {
	position: relative;
	width: 29px;
	height: 29px;
	background-color: #FFFFFF;
	top: 0px;
	left: 0px;
	visibility: visible;
	z-index: 2;
}

.iconWhiteStyle {
	position: relative;
	background-color: #FFFFFF;
	opacity: 0.35;
	filter: alpha(opacity = 50);
	width: 29px;
	height: 29px;
	top: -29px;
	z-index: 2;
}

.iconMainClass {
	width: 29px;
	height: 29px;
	float: left;
	margin-right: 5px;
	cursor: pointer;
}

.iconYellowstyle {
	position: relative;
	top: -8px;
	z-index: 1;
}

/* This style is unused... but works - unfortunately, it only produces rectangular shadows, so it won't work on the icons */
.shadow {
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter:
		"progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135,
		Color='#000000');
}

.closeBut {
	position: relative;
	left: 452px;
	top: 5px;
	z-index: 2;
}

.invisible {
	visibility: hidden;
	display: none;
}

.theContent {
	position: absolute;
	top: 0px;
	z-index: 1;
	width: 466px;
	height: 457px;
	overflow: hidden;
}

.unselectable {
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

.searchIconSpace {
	position: absolute;
	top: 107px;
	z-index: 13;
	width: 938px;
}

.bbmoviecss {
	position: absolute;
	z-index: 2;
}

.breeze .complex-layout, .breeze	.complex-layout .z-south, .breeze .complex-layout .z-west
	{
	background: #F7F7F7;
}

.z-borderlayout {
	background: #FFFFFF
}

.complex-layout .z-north {
	background: #008BB6;
}

img.complex-layout-header-img {
	padding: 0 10px;
}

.complex-layout-header-label {
	position: relative;
	/*top: -30px; */
	padding-left: 40px;
	font-size: 14px;
	color: White;
	font-weight: bold;
}

.inner-border, .inner-border .z-north, .inner-border .z-west,
	.inner-border .z-south, .inner-border .z-east {
	background: #FFFFFF;
}

.dl-link {
	text-decoration: none;
	cursor: pointer;
}

/////////////28/10/2013///////
:
 #plan {
	
}

#plan dd {
	float: left;
	width: 400px;
	height: 150px;
	margin: 5px 5px 5px 10px;
	cursor: pointer;
	zoom: 1;
}

#plan dd img {
	width: 50px;
	height: 30px;
	margin: 5px 0 0 5px;
	float: left;
}

#plan li {
	font-family: Arial, sans-serif;
	font-size: 100%;
	color: #6597AA;
	list-style-type: none;
	background-image: url(/Kermel-WEB/images/puce.png);
	background-repeat: no-repeat;
	background-position: 0 0.32em;
	padding-left: 15px;
}

#plan ul {
	list-style: none;
	padding: 0;
	margin: 20px 5px 5px 10px;
}

.uploadBtn img {
	height: 50%;
}

.warning {
	color: #FFB02D;
}

.danger {
	color: #FF0000;
}

.success {
	color: #008000;
}

.signaturesPanel {
	padding: 10px;
}

.signaturesPanel fieldset div {
	padding: 10px 0px;
}

div.page-header2 {
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 30px;
}

.text-strong {
	font-weight: bold !important;
}

input.z-bandbox-inp, input.z-textbox, .z-decimalbox, .z-intbox,
	.z-longbox, .z-doublebox {
	padding-top: 2px;
	padding-bottom: 1px;
}

.nopadding {
	padding: 0px;
}

div.z-listbox-body {
	overflow-x: hidden !important;
}

.dateStyled {
	display: block;
	width: 120px;
	height: 110px;	
	background: #fff;
	text-align: center;
	font-family: 'Helvetica', sans-serif;
	position: relative;
}

.dateStyled .binds {
	position: absolute;
	height: 15px;
	width: 60px;
	background: transparent;
	border: 2px solid #999;
	border-width: 0 5px;
	top: -6px;
	left: 0;
	right: 0;
	margin: auto;
}

.dateStyled .month {
	background: #00aff0 ;
	display: block;
	padding: 8px 0;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	border-bottom: 2px solid #00aff0 ;
	box-shadow: inset 0 -1px 0 0 #00aff0;
}

.dateStyled .day {
	display: block;
	margin: 0;
	padding: 12px 0 2px;
	font-size: 24px;
	box-shadow: 0 0 3px #ccc;
	position: relative;
}

.dateStyled .day::after {
	content: '';
	display: block;
	height: 100%;
	width: 96%;
	position: absolute;
	top: 3px;
	left: 2%;
	z-index: -1;
	box-shadow: 0 0 3px #ccc;
}

.dateStyled .day::before {
	content: '';
	display: block;
	height: 100%;
	width: 90%;
	position: absolute;
	top: 6px;
	left: 5%;
	z-index: -1;
	box-shadow: 0 0 3px #ccc;
}

.dateStyled .jour {
	display: block;
	border-bottom: 1px solid #00aff0;
	padding-bottom: 11px;
	margin-bottom: 5px;
}

.validform  fieldset {
	border: 1px solid #ccc;
}

.validform  fieldset legend {
	color:#38747e;
	font-weight: bold;
}

div.validform {
	padding: 5px;
    background: ghostwhite;
    border: 5px solid rgba(33, 150, 243, 0.44);
}

span.number{      
    color: #ffffff;
    background-color: #59cde2;
    /* border-radius: 50%; */
    text-align: center;
    display: inline-block;
    padding: 5px 10px;
    font-weight: bold;
}
div.z-listbox table {
	width: 100%;
} 
table.large-table table {
	width: 100%;
}

.command-button small span  {
	margin-top: 4px;
    display: inline-block;
}