<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<?page title="${c:l('kermel.plansdepassation.nouveau')}" contentType="text/html;charset=UTF-8"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window title="${c:l('kermel.plansdepassation.nouveau')}" border="normal" width="100%" height="600px" use="sn.ssi.kermel.web.procedurederogataire.controllers.DemandeFormController">
		<borderlayout>
			<north>
				<vbox width="100%">
					<hbox width="100%">
					<menubar height="25px">
<!-- 										<menuitem image="/images/previous.png" label="${c:l('kermel.common.form.precedent')}"  disabled="true"/> -->
<!-- 										<menuitem image="/images/next.png"  label="${c:l('kermel.common.form.suivant')}" 	id="menuNext" /> -->
										 <menuitem image="/images/cancel.png"
							           forward="onClose" label="Fermer">
							           </menuitem>
							         <menuitem id="menuValider" image="/images/ok.png" label="${c:l('kermel.common.form.valider')}" forward="onOK"/>
						              
									</menubar>
					</hbox>
					
				</vbox>
			</north>
			<center>
			<div width="98%" style="margin-top:1%; margin-left: 1%;; margin-right: 1%;">
<!-- 			 <n:fieldset > -->
<!-- 			  <n:legend>${c:l('kermel.plansdepassation.infos.generales')}</n:legend> -->
<!-- 								<groupbox id="gb1" mold="3d" width="100%" closable="false"> -->
<!-- 										<n:table width="100%"> -->
<!-- 											<n:tr> -->
<!-- 												<n:td align="left" width="19%"><label style ="font-weight:bold;size =15px"> ${c:l('kermel.plansdepassation.infos.numplan') } </label> </n:td> -->
<!-- 												<n:td align="right" width="1%">:</n:td> -->
<!-- 												<n:td class="valeur" width="80%"><label id="entete1"/></n:td> -->
<!-- 											</n:tr> -->
<!-- 											<n:tr> -->
<!-- 												<n:td align="left" width="19%"><label style ="font-weight:bold;size =15px"> ${c:l('kermel.common.form.libellrealisation') } </label> </n:td> -->
<!-- 												<n:td align="right" width="1%">:</n:td> -->
<!-- 												<n:td class="valeur" width="80%"><label id="entete2"/></n:td> -->
<!-- 											</n:tr> -->
<!-- 											<n:tr> -->
<!-- 												<n:td align="left" width="19%"><label style ="font-weight:bold;size =15px"> ${c:l('kermel.common.form.typemarche') } </label> </n:td> -->
<!-- 												<n:td align="right" width="1%">:</n:td> -->
<!-- 												<n:td class="valeur" width="80%"><label id="entete3"/></n:td> -->
<!-- 											</n:tr> -->
<!-- 											</n:table> -->
<!-- 									</groupbox> -->
<!-- 									</n:fieldset> -->
<!-- 					<groupbox> -->
					 <vbox style ="margin-top:1%; margin-left: 1%;; margin-right: 1%;">
<!-- 					 <hbox> -->
<!-- 					   <label style ="font-weight:bold;size =15px"> ${c:l('kermel.common.form.typedemande') } </label> -->
<!-- 					 </hbox> -->
					 </vbox>
						
					 <n:table>
<!-- 						<n:tr> -->
<!-- 								<n:td width="20%" ></n:td> -->
<!-- 								<n:td align="left" width="5%">${c:l('kermel.common.form.requete')}</n:td> -->
<!-- 								<n:td align="right" width="1%">:</n:td> -->
<!-- 								<n:td class="valeur" width="74%"><textbox id="txtrequete" cols="10" rows="1"/><label  value="*" style="color:red;"/></n:td> -->
<!-- 						</n:tr> -->
<!-- 						<n:tr>    -->
<!-- 						        <n:td width="20%" ></n:td> -->
<!-- 							    <n:td align="left" width="19%"> ${c:l('kermel.plansdepassation.infos.numplan')} </n:td> -->
<!-- 								<n:td align="right" width="1%">:</n:td> -->
<!-- 								<n:td class="valeur" width="60%"><textbox id="txtnumplan" cols="10" rows="1"/><label  value="*" style="color:red;"/></n:td> -->
<!-- 						</n:tr> -->
						<n:tr>
						        <n:td width="20%" ></n:td>
								<n:td align="left" width="19%">${c:l('kermel.common.form.dateStatut') }</n:td>
								<n:td align="right" width="1%">:</n:td>
							    <n:td class="valeur" width="60%"><datebox id="DateStatut"  /></n:td>		
						</n:tr>
<!-- 							<n:tr> -->
<!-- 							    <n:td width="20%" ></n:td> -->
<!-- 								<n:td align="left" width="19%">${c:l('kermel.common.form.dateMiseValidation') }</n:td> -->
<!-- 								<n:td align="right" width="1%">:</n:td> -->
<!-- 								<n:td class="valeur" width="60%"><datebox id="DateMiseValidation"  /></n:td>		 -->
<!-- 						</n:tr> -->
						<n:tr>
								<n:td width="20%" ></n:td>
								<n:td align="left" width="19%">${c:l('kermel.common.form.motif')}</n:td>
								<n:td align="right" width="1%">:</n:td>
								<n:td class="valeur" width="60%"><textbox id="txtmotif" cols="30" rows="2"/><label  value="*" style="color:red;"/></n:td>
						</n:tr>
					
						  <n:tr>
						  	    <n:td width="20%" ></n:td>
								<n:td align="left" width="19%">${c:l('kermel.referentiel.common.fichier')}</n:td>
								<n:td align="right" width="1%">:</n:td>
								<n:td class="valeur" width="60%">	<textbox id="txtVersionElectronique" width="300px" />
						
						<button label="..."  id="btnChoixFichier" image="/images/FileDownload-24x24.png"  style="backgroung-color:#000;"/><image id="image" /> <label  value="*" style="color:red;"/>
                        </n:td>
						 </n:tr>
						 <n:tr>
								<n:td width="20%" ></n:td>
								<n:td align="left" width="19%">${c:l('kermel.common.form.commentairedcmp')}</n:td>
								<n:td align="right" width="1%">:</n:td>
								<n:td class="valeur" width="60%"><textbox id="txtcommentairedcmp" cols="60" rows="5"/><label  value="*" style="color:red;"/></n:td>
						</n:tr>
						 
				 </n:table>

			
									</div>
<!-- 				</div>  -->
			</center>
			<south size="50px">
				<vbox  width="100%" spacing="5px">
					<hbox widths="40%,2%,2%,46%,10%">
					    <label/>
						<label  value="(" />
						<label  value="*" style="color:red;"/>
						<label  value=") = ${c:l('kermel.common.form.champs.obligatoire')}" />
						<label/>
					</hbox>
					 <hbox>
					   <label id="lbStatusBar" />
					 </hbox>
				</vbox>
			</south>
			
		</borderlayout>
	</window>
</zk>