<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window border="normal" height="550px" width="100%"
		use="sn.ssi.kermel.web.procedurederogataire.controllers.ListDemandeDerogatoiresController">
			<borderlayout height="100%">
			<center>
				<div height="100%">
					<div id="step0" height="100%">
			<borderlayout height="100%">
				<center autoscroll="true">
				  <div style="width:98%;margin-left:1%;margin-top:1%">
					<listbox  id="list" checkmark="true" ="false">
							<listhead >
								<listheader label="${c:l('kermel.common.form.reference')}" width="15%" />
								<listheader label="${c:l('kermel.plansdepassation.proceduresmarches.derogatoires.realisations')}" width="30%" />
								<listheader label="${c:l('kermel.referentiel.modepassation')}" width="18%" id="lshDatecreation" />
								<listheader label="${c:l('kermel.plansdepassation.realisations.datelancement')}" width="10%"  align="center"/>
								<listheader label="${c:l('kermel.plansdepassation.realisations.dateattribution')}" width="10%"  align="center"/>
								<listheader label="${c:l('kermel.plansdepassation.realisations.montant')}" width="30%" align="center"/>
								<listheader label="" width="2%" align="center" />
							</listhead>
						</listbox>
					</div>
				</center>
				<north size="50">
                           <kermelsousmenu id="monSousMenu"/>
				</north>
				<south size="75">
					<paging id="pgProcedure"></paging>
				</south> 
			</borderlayout>
			</div>
			<div id="step1" height="100%" visible="false">
						<borderlayout height="100%">
							<north>
								<vbox width="100%" height="100%" spacing="0px">
                            <menubar>
                      		   <menuitem  image="/images/ok.png" label="${c:l('kermel.common.form.valider')}" id="menuValider" visible="false"/>
                      		    <menuitem  image="/images/zoom.png" label="${c:l('kermel.audits.historiques')}" id="menuEditer" visible="false"/>
                      		    <menuitem  image="/images/cancel.png" label="${c:l('kermel.common.form.fermer')}" id="menuFermer" />
                      		     <menuitem  image="/images/cancel.png" label="${c:l('kermel.common.form.fermer')}" id="menuClose" visible="false"/>
		        			</menubar>
					<hbox height="100%"  width="100%" >
					<div style="margin-top:3%" >
					<label  style="color:#000;" sclass="complex-layout-header-label"  id="lbltitre"  />
		             </div>
				     
					
			</hbox>				
				</vbox>
							</north>

							<center autoscroll="true">
								<div style="width:90%;margin-left:5%;margin-top:1%;margin-right:5%;">
								<groupbox id="gb" mold="3d" width="100%" closable="false">

											<n:table width="100%">
												<n:tr>
													<n:td width="14%">${c:l('kermel.plansdepassation.realisation.envisagee')}</n:td>
													<n:td width="1%">:</n:td>
													<n:td width="85%"> <label id="lblRealisations" /> </n:td>
												</n:tr>
												<n:tr>
													<n:td >${c:l('kermel.referentiel.modepassation')}</n:td>
													<n:td >:</n:td>
													<n:td> <label id="lblModepassation" /> </n:td>
												</n:tr>
											</n:table>


										</groupbox>
											<n:br />
			   <n:table>
					       <n:tr>
									<n:td align="left" width="19%"><label id="lblrequete" value="${c:l('kermel.denonciation.Decision.commentaire')}" visible="false"/></n:td>
								<n:td align="right" width="1%"><label id="label1" visible="false" value=":"/></n:td>
								<n:td class="valeur" width="60%"><textbox id="txtrequete" cols="60" rows="5" visible="false"/><label id="lbl1"  value="*" style="color:red;" visible="false"/></n:td>
						</n:tr>
						 <n:tr>
									<n:td align="left" width="19%"><label value="${c:l('kermel.referentiel.common.fichier')}" id="lblfichier" visible="false"/></n:td>
								<n:td align="right" width="1%"><label id="label2" value=":" visible="false"/></n:td>
								
								<n:td class="valeur" width="60%">	<textbox id="txtVersionElectronique" width="300px" visible="false"/>
						
						<button label="..."  id="btnChoixFichier" image="/images/FileDownload-24x24.png"  style="backgroung-color:#000;" visible="false"/><image id="image" visible="false"/> 
                        </n:td>
						 </n:tr>
						  <n:tr>
						   <n:td ></n:td>
						   <n:td align="right"></n:td>
								<n:td >
								<radiogroup>
	  						<hbox>
	  							<radio id="rdValider" label="${c:l('kermel.common.form.valider')}" selected="true" visible="false"/>
	  							<radio id="rdRejeter" label="${c:l('kermel.common.form.rejeter')}" visible="false"/>
	  						</hbox>
	  				</radiogroup>
								</n:td>
						
						</n:tr>
						</n:table>
					 <grid oddRowSclass="myodd" id="GridListe" visible="false" >
        <columns>
            <column width="100%" />
           
        </columns>
       
    </grid>
				</div>
							</center>
							<south size="75">
		<vbox  width="100%" spacing="5px">
				  <hbox widths="40%,2%,2%,46%,10%">  
					    <label/>
						<label  value="(" />
						<label  value="*" style="color:red;"/>
						<label  value=") = ${c:l('kermel.common.form.champs.obligatoire')}" />
						<label/>
					</hbox>
					 <hbox>
					   <label id="lbStatusBar" />
					 </hbox>
					 </vbox>
			</south>
						</borderlayout>
					</div>
			</div>
			</center>
			</borderlayout>
	</window>
</zk>