<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<?page title="" contentType="text/html;charset=UTF-8"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window title="" border="normal" width="100%" height="600px" use="sn.ssi.kermel.web.referentiel.controllers.FormFormateurController">
		<borderlayout>
			<north>
				<vbox width="100%">
					<hbox width="100%">
						<menubar>
						<menuitem id="menuValider" image="/images/ok.png" label="${c:l('kermel.common.form.valider')}" forward="onOK"/>
						<menuitem id="menuFermer" image="/images/cancel.png" label="${c:l('kermel.common.form.fermer')}" forward="onClose"/>
					</menubar>
					</hbox>
					
				</vbox>
			</north>
			<center autoscroll="true">
				<div width="100%">
					<n:table style="margin-left:15%; margin-top:2%" >
						 
					   	<n:tr>
								<n:td>${c:l('kermel.formateur.nin')}</n:td>
								<n:td width="15%" align="right">:</n:td>
								<n:td><longbox id="lgNin" /><label value="*" style="color:red;"/></n:td>
								
						</n:tr>
						<n:tr>
								<n:td>${c:l('kermel.formateur.pnom')}</n:td>
								<n:td width="15%" align="right">:</n:td>
								<n:td><textbox id="txtPnom" /> <label value="*" style="color:red;"/></n:td>
								
						</n:tr>
						
						
					<n:tr>
								<n:td>${c:l('kermel.formateur.nom')}</n:td>
								<n:td width="15%" align="right">:</n:td>
								<n:td><textbox id="txtNom" /> <label value="*" style="color:red;"/></n:td>
								
						</n:tr>
					<n:tr>
								<n:td>${c:l('kermel.formateur.sexe')}</n:td>
								<n:td width="15%" align="right">:</n:td>
					            <n:td>
									<radiogroup id="radioSexe" >
				  						 <hbox>					
				  							 <radio label="${c:l('kermel.formateur.hom')}"  />
				  							 <radio  label="${c:l('kermel.formateur.fem')}" />
				  						 </hbox>
			  				        </radiogroup>
			  				        <label value="*" style="color:red;" />
								</n:td>
			               
						</n:tr>
					<n:tr>
								<n:td>${c:l('kermel.formateur.datNais')}</n:td>
								<n:td width="15%" align="right">:</n:td>
								<n:td><datebox id="datenaiss" /><label value="*" style="color:red;"/></n:td>
							
						</n:tr>
<!--					<n:tr>-->
<!--								<n:td>${c:l('kermel.formateur.lnais')}</n:td>-->
<!--								<n:td width="15%" align="right">:</n:td>-->
<!--								<n:td><textbox id="txtLieu" /></n:td>-->
<!--								<n:td style="color:red;">*</n:td>-->
<!--						</n:tr>	-->
					<n:tr>
								<n:td>${c:l('kermel.formateur.add')}</n:td>
								<n:td width="15%" align="right">:</n:td>
								<n:td><textbox id="txtAdd" cols="25" rows="2"/><label value="*" style="color:red;"/></n:td>
								
						</n:tr>	
					<n:tr>
								<n:td>${c:l('kermel.formateur.mail')}</n:td>
								<n:td width="15%" align="right">:</n:td>
								<n:td><textbox id="txtMail" /> <label value="*" style="color:red;"/></n:td>
							
					 </n:tr>
					<n:tr>
								<n:td>${c:l('kermel.formateur.tel')}</n:td>
								<n:td width="15%" align="right">:</n:td>
								<n:td><longbox id="lgTel" /> <label value="*" style="color:red;"/></n:td>
								
					 </n:tr>
					 <n:tr>
								<n:td>${c:l('kermel.formateur.cv')}</n:td>
								<n:td width="15%" align="right">:</n:td>
								<n:td>
									<textbox
										id="txtVersionElectronique" />
									<button
										label="..."
										id="btnChoixFichier" image="/images/FileDownload-24x24.png"  style="backgroung-color:green;"/>
								</n:td>
							</n:tr>
					<n:tr>
								<n:td>${c:l('kermel.module.comment')}</n:td>
								<n:td width="15%" align="right">:</n:td>
								<n:td><textbox id="txtCom"  cols="35" rows="3"/></n:td>
	
					 </n:tr> 
					 
					 <n:tr>
									        <n:td>${c:l('kermel.formateur.spec')}</n:td>
											<n:td width="15%" align="right">:</n:td>
											<n:td>
							    <bandbox id="bSpec"  mold="default" autodrop="true" buttonVisible="true" readonly="true">
								             	<bandpopup>
									           		<vbox>
										         		<hbox>
											        		${c:l('kermel.referentiel.nat.form.rechercher')}
											          		<textbox id="txtRechercherSpec" value="${c:l('kermel.referentiel.nat.form.rechercher')}" />
											            	<button image="/images/zoom.png" id="btnRechercherSpec"/>
										         		</hbox>
										         		<listbox width="250px" id="lstSpec"/>
										         		<paging id="pgSpec" detailed="true"/>
									           		</vbox>
								           		</bandpopup>
							            	</bandbox>
							            	<label value="*" style="color:red;"/>
											</n:td>
											
							</n:tr> 					
				 </n:table>
				</div> 
			</center>
			<south >
			  <n:table align="center">
				<n:tr>
					 <n:td  style="color:red;">(*):</n:td>
                     <n:td>${c:l('sysmap.champOblig')}</n:td></n:tr>
                  </n:table>
			
			</south>
		</borderlayout>
	</window>
</zk>