<?page title="Atlantis"?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window height="600px" width="100%"
		use="sn.ssi.kermel.web.fournisseurs.controllers.ListComptesFournisseursActivesController">

		<borderlayout height="100%">
			<center>
				<div
					style="width:98%;margin-left:1%;margin-top:1%;margin-right:1%;">
					<listbox id="lstListe" checkmark="true">
						<listhead>
							<listheader label="Prénom" width="20%" />
							<listheader label="Nom" width="20%" />
							<listheader label="Email" width="10%" />
							<listheader label="Téléphone" width="10%" />
							<listheader label="Fournisseur" width="20%" />
							<listheader label="Date inscription"
								width="10%" />
							<listheader label="Date activation"
								width="10%" />

						</listhead>
					</listbox>
				</div>
			</center>
			<north>
				<vbox width="100%" height="100%" spacing="0px">


					<hbox width="100%">
						<menubar>
							<menuitem image="/images/circle_red.png"
								label="Désactiver" forward="onAdd" />
						</menubar>
					</hbox>
					<hbox height="100%" width="100%">
						<div style="margin-top:3%;margin-bottom:8%">
							<label style="color:#000;"
								sclass="complex-layout-header-label" value="" />
						</div>


					</hbox>


				</vbox>
			</north>
			<south size="75">
				<paging id="pgPagination" />
			</south>
		</borderlayout>
	</window>
</zk>
