<?page title="Atlantis"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window height="100%" id="winProfils"
		use="sn.ssi.kermel.web.securite.controleaccess.profils.controllers.ListProfilsController">
		<borderlayout height="100%">
			<center>
				<listbox width="100%" id="lstProfils"
					checkmark="true">
					<listhead width="100%">
						<listheader label="Code" width="25%">
						</listheader>
						<listheader label="Libellé" width="25%">
						</listheader>
						<listheader label="Description" width="50%">
						</listheader>
					</listhead>
				</listbox>
			</center>
			<north size="50">
				<vbox width="100%">
					<hbox width="100%">
						<menubar>
							<menuitem image="/images/add.png"
								label="Ajouter" forward="onAdd">
							</menuitem>
							<menuitem image="/images/disk.png"
								label="Modifier" forward="onEdit">
							</menuitem>
							<menuitem image="/images/delete.png"
								label="Supprimer" forward="onDelete">
							</menuitem>
							<menuitem image="/img/view.png"
								label="Configurer les processus" forward="onProcess">
							</menuitem>
							<menuitem image="/img/view.png"
								label="Configurer les droits d'accès" forward="onFeatures">
							</menuitem>
							<menuitem image="/images/help.png"
								label="Aide">
							</menuitem>
						</menubar>
					</hbox>
					<hbox widths="75%,25%" width="100%">
						<div style="margin-top:30px;margin-left:5px">
							<label style="font-weight:bold"
								value="GESTION DES PROFILS" />
						</div>
						<image src="/images/logokermel.png"></image>
					</hbox>
				</vbox>
			</north>
			<south size="75" sclass="">
				<paging id="pgProfils"></paging>
			</south>
		</borderlayout>

		<!--		</vbox>-->
	</window>
</zk>