<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>

<?page title="" contentType="text/html;charset=UTF-8"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
<window title="" border="normal" width="100%" height="600px" use="sn.ssi.kermel.web.indsurvmulti.controllers.FormController">
		<borderlayout>
			
			<north>
				<vbox width="100%">
					<hbox width="100%">
						<menubar>
						<menuitem id="menuValider" image="/images/ok.png" label="Valider" forward="onOK"/>
						<menuitem id="menuFermer" image="/images/cancel.png" label="Fermer" forward="onClose"/>
					</menubar>
					</hbox>
					
				</vbox>
			</north>
			
			<center>
				<div width="100%">
					<n:table style="margin-left:15%; margin-top:5%">
						 <n:tr>
								<n:td>${c:l('code') }</n:td>
								<n:td width="20%" align="right">:</n:td>
								<n:td><textbox id="txtCode"  cols="30"/></n:td>
								
						</n:tr>
					   
					   <n:tr>
								<n:td>${c:l('libelle') }</n:td>
								<n:td width="20%" align="right">:</n:td>
								<n:td><textbox id="txtLibelle" constraint="no empty" cols="30"/></n:td>
						</n:tr>
						
						<n:tr>
								<n:td>${c:l('signacation') }</n:td>
								<n:td width="20%" align="right">:</n:td>
								<n:td><textbox id="txtDescription" constraint="no empty" rows="5" cols="30"/></n:td>
						</n:tr>
						
						<n:tr>
								<n:td>${c:l('categorie') }</n:td>
								<n:td width="20%" align="right">:</n:td>
								<n:td>
									<bandbox id="bdCulture" mold="default" autodrop="true" buttonVisible="true" readonly="true">
						             	<bandpopup>
							           		<vbox>
								         		<hbox>
									        		Rechercher
									          		<textbox id="txtRechercherCulture" value="Rechercher" />
									            	<button image="/images/zoom.png" id="btnRechercherCulture"/>
								         		</hbox>
								         		<listbox width="250px" id="lstCulture"/>
								         		<paging id="pgCulture" detailed="true"/>
							           		</vbox>
						           		</bandpopup>
				            		</bandbox>
				            	</n:td>
						</n:tr>
				 </n:table>
				</div> 
			</center>
			
			<south></south>
		</borderlayout>
	</window>
</zk>