<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window height="600px" width="80%" title="Nouvelle Formation" id="window"
		use="sn.ssi.kermel.web.referentiel.controllers.FormFormationAutoriteController">
		<borderlayout height="100%">
			<center>
				<div height="100%">
					<div id="step0" height="100%">
						<borderlayout height="100%">
							<north>
								<hbox widths="80%,*" width="100%" height="25px" spacing="0px">
									<menubar height="25px">
										<menuitem image="/images/previous.png" label="${c:l('kermel.common.form.precedent')}"  disabled="true"/>
										<menuitem image="/images/next.png"  label="${c:l('kermel.common.form.suivant')}" 	id="menuNext" />
										<menuitem image="/images/add.png" label="Valider" disabled="true">
										</menuitem>
										 <menuitem image="/images/cancel.png"
							           forward="onClose" label="${c:l('kermel.common.form.fermer')}">
						              </menuitem>
									</menubar>
			                     	<hbox pack="end" sclass="z-menubar-hor" height="100%">
						
					        			<textbox id="txtRechercherAutorite" value="${c:l('kermel.autoritecontractante.libelle')}" />
										<button image="/images/zoom.png" id="btnRechercherAutorite"/>
									</hbox>	
						 		</hbox>
							</north>

							<center>
								<div style="width:98%;margin-left:1%;margin-top:1%;margin-right:1%;">
			
									<listbox  id="lstAutorite" checkmark="true" ="false">
										<listhead >
											<listheader label="${c:l('kermel.common.form.typeAutoritecontractante') }" width="90%" id="lshLibelle"/>
										</listhead>
									</listbox>
					    		</div>
							</center>
							<south size="25px">
								<vbox width="100%" height="100%" heights="80%,*">
									<paging id="pgAutorite" />
								</vbox>
							</south>
						</borderlayout>
					</div>
					
					<div id="step1" height="100%" visible="false">
						<borderlayout height="100%">
							<north>
								<hbox widths="90%,*" width="100%" height="25px" spacing="0px">
								
									<menubar>
										<menuitem image="/images/previous.png" label="${c:l('kermel.common.form.precedent')}"  id="menuPrevious"/>
										<menuitem image="/images/next.png"  label="${c:l('kermel.common.form.suivant')}" disabled="true"/>

										<menuitem image="/images/add.png"
											label="Valider" forward="onOK">
										</menuitem>
										<menuitem image="/images/cancel.png"
											forward="onClose" label="Fermer">
										</menuitem>
									</menubar>
								</hbox>
							</north>
				          <center>
				               <div>
				              	<div width="98%" style="margin-top:1%; margin-left: 1%;; margin-right: 1%;">
								<groupbox id="gb1" mold="3d" width="100%" closable="false">
										<n:table width="100%">
											<n:tr>
												<n:td align="left" width="25%"><label style ="font-weight:bold;size =15px"> ${c:l('kermel.common.form.typeAutoritecontractante') } </label> </n:td>
												<n:td align="right" width="1%">:</n:td>
												<n:td class="valeur" width="80%"><label id="entete1"/></n:td>
											</n:tr>
											</n:table>
									</groupbox>
									</div>
								<div style="width:98%;margin-left:1%;margin-top:1%;margin-right:1%;">
			                        <listbox  id="list" checkmark="true" ="false">
						              <listhead >
							             <listheader label="${c:l('kermel.referentiel.common.code') }" width="10%" /> 
							             <listheader label="${c:l('kermel.common.form.listeAutorite') }" width="90%" />
						             </listhead>
					            </listbox>	
				                </div>
				               </div>
				       </center>
							<south size="25px">
								<vbox width="100%" height="100%" heights="80%,*">
									<paging id="pg" />
								</vbox>
							</south>
						</borderlayout>
					</div>
				</div>	     
            </center>
		</borderlayout>
	</window>
</zk>