<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window width="100%" title="" height="500px"
		use="sn.ssi.kermel.web.travauxdrp.controllers.AttributionprovisoireController">
		<borderlayout height="100%">
			<center>
				<div height="100%">
					<div id="step3" height="100%">
						<borderlayout height="100%">
							<north>
								<hbox widths="85%,*" width="100%"
									height="25px" spacing="0px">
									<menubar height="25px">
										<menuitem
											image="/images/zoom.png"
											label="${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.attribution.attributaire')}"
											id="menuLots" />
									</menubar>
								</hbox>
							</north>

							<center>
								<div
									style="width:98%;margin-left:1%;margin-top:1%;margin-right:1%;">

									<listbox id="lstAttributaires"
										checkmark="true">
										<listhead>
											<listheader
												label="${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.attribution.attributaire')}"
												width="100%" />
										</listhead>
									</listbox>
								</div>
							</center>
							<south size="25px">
								<vbox width="100%" height="100%"
									heights="80%,*">
									<paging id="pgAttributaires" />
								</vbox>
							</south>
						</borderlayout>
					</div>
					<div id="step2" height="100%" visible="false">
						<borderlayout height="100%">
							<north>
								<hbox widths="85%,*" width="100%"
									height="25px" spacing="0px">
									<menubar height="25px">
										<menuitem
											image="/images/add.png"
											label="${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.attribution.attributaire')}"
											id="menuAttributaire" />
										<menuitem
											image="/images/cancel.png"
											label="${c:l('kermel.common.form.fermer')}"
											id="menuCancelstep2" />
									</menubar>
								</hbox>
							</north>

							<center>
								<div
									style="width:98%;margin-left:1%;margin-top:1%;margin-right:1%;">
									<div style="margin-top:4%">
										<label style="color:#000;"
											sclass="complex-layout-header-label"
											value="${c:l('kermel.plansdepassation.proceduresmarches.travauxdrp.liste.lots')}" />
									</div>
									<listbox id="lstListe"
										checkmark="true">
										<listhead>
											<listheader
												label="${c:l('kermel.plansdepassation.proceduresmarches.travauxdrp.reference')}"
												width="15%" id="lshLibelle" />
											<listheader
												label="${c:l('kermel.plansdepassation.proceduresmarches.travauxdrp.libelle')}"
												width="35%" />
											<listheader
												label="${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.attribution.montantmarche')}"
												width="15%" align="right" />

										</listhead>
									</listbox>
								</div>
							</center>
							<south size="25px">
								<vbox width="100%" height="100%"
									heights="80%,*">
									<paging id="pgPagination" />
								</vbox>
							</south>
						</borderlayout>
					</div>
					<div id="step0" height="100%" visible="false">
						<borderlayout height="100%">
							<north>
								<hbox widths="85%,*" width="100%"
									height="25px" spacing="0px">
									<menubar height="25px">
										<menuitem image="/images/ok.png"
											label="${c:l('kermel.common.form.valider')}"
											id="menuValider" />
										<menuitem
											image="/images/zoom.png"
											label="${c:l('kermel.common.form.editer')}" id="menuEditer" />
										<menuitem
											image="/images/cancel.png"
											label="${c:l('kermel.common.form.fermer')}" id="menuCancel" />
									</menubar>
								</hbox>
							</north>

							<center>
								<div
									style="width:98%;margin-left:1%;margin-top:1%;margin-right:1%;">
									<div style="margin-top:4%">
										<label style="color:#000;"
											sclass="complex-layout-header-label"
											value="${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.attribution.title')}" />
									</div>
									<n:table>
										<n:tr>
											<n:td width="39%">
												${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.attribution.attributaire')}
											</n:td>
											<n:td width="1%">:</n:td>
											<n:td width="60%">
												<textbox
													id="txtAttributaire" width="300px" readonly="true" />
											</n:td>
										</n:tr>
										<n:tr>
											<n:td>
												${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.attribution.delai')}
											</n:td>
											<n:td>:</n:td>
											<n:td>
												<intbox id="indelaimois"
													cols="5" />
												${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.attribution.delai.mois')}
												<intbox
													id="indelaisemaine" cols="5" />
												${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.attribution.delai.semaines')}
												<intbox
													id="indelaijours" cols="5" />
												${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.attribution.delai.jours')}

											</n:td>
										</n:tr>
										<n:tr>
											<n:td>
												${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.attribution.reference')}
											</n:td>
											<n:td>:</n:td>
											<n:td>
												<textbox
													id="txtReference" width="300px" readonly="true" />
											</n:td>
										</n:tr>
										<n:tr>
											<n:td>
												${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.attribution.dateattribution')}
											</n:td>
											<n:td>:</n:td>
											<n:td>
												<datebox
													id="dtdateattribution" width="300px" />
											</n:td>
										</n:tr>
										<n:tr>
											<n:td>
												${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.attribution.monnaie')}
											</n:td>
											<n:td>:</n:td>
											<n:td>
												<textbox id="txtMonnaie"
													width="300px" readonly="true" />
											</n:td>
										</n:tr>
										<n:tr>
											<n:td>
												${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.attribution.montantlu')}
											</n:td>
											<n:td>:</n:td>
											<n:td>
												<decimalbox
													id="dcmontantlu" width="300px" readonly="true" />
											</n:td>
										</n:tr>
										<n:tr>
											<n:td>
												${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.attribution.montantcorrige')}
											</n:td>
											<n:td>:</n:td>
											<n:td>
												<decimalbox
													id="dcmontantcorrige" width="300px" readonly="true" />
											</n:td>
										</n:tr>
										<n:tr>
											<n:td>
												${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.attribution.montantmarche')}
											</n:td>
											<n:td>:</n:td>
											<n:td>
												<decimalbox
													id="dcmontantmarche" width="300px" readonly="true" />
											</n:td>
										</n:tr>
										<n:tr>
											<n:td>
												${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.attribution.montantdefinitif')}
											</n:td>
											<n:td>:</n:td>
											<n:td>
												<decimalbox
													id="dcmontantdefinitif" width="300px" readonly="true" />
											</n:td>
										</n:tr>
										<n:tr>
											<n:td>
												${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.attribution.commentaires')}
											</n:td>
											<n:td>:</n:td>
											<n:td>
												<textbox
													id="txtCommentaires" width="300px" cols="60" rows="3" />
											</n:td>
										</n:tr>
										<n:tr>
											<n:td>
												${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.attribution.procesverbal')}
											</n:td>
											<n:td>:</n:td>
											<n:td>
												<textbox
													id="txtVersionElectronique" width="300px" />
												<button label="..."
													id="btnChoixFichier" image="/images/FileDownload-24x24.png"
													style="backgroung-color:#000;" />
												<label value="*"
													style="color:red;" />
											</n:td>
										</n:tr>
										<n:tr>
											<n:td>
												<label id="lbltitre" />
											</n:td>
											<n:td>
												<label
													id="lbldeuxpoints" />
											</n:td>
											<n:td>
												<image id="image" />
											</n:td>
										</n:tr>
									</n:table>
								</div>
							</center>
							<south size="75">
								<vbox width="100%" spacing="5px">
									<hbox widths="40%,2%,2%,46%,10%">
										<label />
										<label value="(" />
										<label value="*"
											style="color:red;" />
										<label
											value=") = ${c:l('kermel.common.form.champs.obligatoire')}" />
										<label />
									</hbox>
									<hbox>
										<label id="lbStatusBar" />
									</hbox>
								</vbox>
							</south>
						</borderlayout>
					</div>
					<div id="step1" height="100%" visible="false">
						<borderlayout height="100%">
							<north>
								<hbox widths="90%,*" width="100%"
									height="25px" spacing="0px">
									<menubar height="100%">
										<menuitem
											image="/images/cancel.png"
											label="${c:l('kermel.common.form.fermer')}" id="menuFermer" />
									</menubar>
								</hbox>
							</north>
							<center>
								<div
									style="width:90%;margin-left:5%;margin-top:1%">
									<iframe id="idIframe" width="100%"
										height="600px" scrolling="auto" />
								</div>
							</center>
							<south size="25">
							</south>
						</borderlayout>
					</div>
				</div>
			</center>
		</borderlayout>
	</window>
</zk>