<?page title="Atlantis"?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window height="600px" width="100%"  use="sn.ssi.kermel.web.referentiel.controllers.ListMembreCellulePassationController">

		<borderlayout height="100%">
			<center>
			<div style="width:98%;margin-left:1%;margin-top:1%;margin-right:1%;">
				<listbox  id="lstListe" checkmark="true">
						<listhead >
							<listheader label="${c:l('kermel.common.form.nom')}" width="20%" id="lshNom"/>
							<listheader label="${c:l('kermel.common.form.prenom')}" width="20%" id="lshPrenom"/>
							<listheader label="${c:l('kermel.common.form.fonction')}" width="15%"/>
							<listheader label="${c:l('kermel.referentiel.personne.telephone')}" width="15%" />
							<listheader label="${c:l('kermel.referentiel.personne.email')}" width="15%"/>
							<listheader label="${c:l('kermel.common.form.service')}" width="15%"/>
						</listhead>
					</listbox>
				</div>
			</center>
			
			<north>
				<vbox width="100%" height="100%" spacing="0px">
					<hbox widths="75%,*" width="100%" height="100%" spacing="0px">
							<kermelsousmenu id="monSousMenu"/>
<!-- 						<menubar> -->
<!-- 							<menuitem image="/images/add.png" -->
<!-- 								label="${c:l('kermel.common.form.ajouter')}" forward="onAdd">								 -->
<!-- 							</menuitem> -->
<!-- 							<menuitem image="/images/disk.png" -->
<!-- 								label="${c:l('kermel.common.form.modifier')}" forward="onEdit"> -->
<!-- 							</menuitem> -->
<!-- 							<menuitem image="/images/delete.png" -->
<!-- 								label="${c:l('kermel.common.form.supprimer')}" forward="onDelete"> -->
<!-- 							</menuitem> -->
							
<!-- 						</menubar> -->
						<hbox pack="end" sclass="z-menubar-hor" height="100%">
					        <textbox id="txtNom"   value="${c:l('kermel.common.form.nom')}"/>
					        <textbox id="txtPrenom"   value="${c:l('kermel.common.form.prenom')}"/>
					 		<button id="bchercher" tooltiptext="${c:l('kermel.common.form.rechercher')}" image="/images/find.png"/>
						</hbox>	
					</hbox>
						
					
					<hbox height="100%"  width="100%" >
					<div style="margin-top:3%" >
					<label  style="color:#000;" sclass="complex-layout-header-label"   value="${c:l('kermel.divisions.marches.titre')}"/>
		             </div>
				     
					
			</hbox>				
				</vbox>
			</north>
			<south size="75">
				<paging id="pgPagination"/>
			</south>
		</borderlayout>
	</window>
</zk>
