<?xml version="1.0" encoding="UTF-8"?>
<project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="Kermel-BE">
        <wb-resource deploy-path="/" source-path="/ejbModule"/>
        <property name="java-output-path"/>
    </wb-module>
</project-modules>
