<?page title="Atlantis"?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window height="600px" width="100%"  use="sn.ssi.kermel.web.referentiel.controllers.SeuilsRevueAPrioriController">

		<borderlayout height="100%">
			<center>
			<div style="width:100%;margin-top:1%;">
				<listbox  id="lstListe" checkmark="true">
						<listhead >
							<listheader label="${c:l('kermel.montantseuils.typeautorite')}" width="15%" id="lshNom"/>
							<listheader label="${c:l('kermel.montantseuils.typemarche')}" width="20%"/>
							<listheader label="${c:l('kermel.montantseuils.seuils')}" width="15%" />
							<listheader label="${c:l('kermel.montantseuils.procedures')}" width="15%" />
							<listheader label="${c:l('kermel.montantseuils.modeengagement')}" width="15%"/>
							<listheader label="${c:l('kermel.montantseuils.examen')}" width="15%" id="lshCategorie"/>
						</listhead>
					</listbox>
				</div>
			</center>
			
			<north>
				<vbox width="100%" height="100%" spacing="0px">
					<hbox widths="75%,*" width="100%" height="100%" spacing="0px">
							<kermelsousmenu id="monSousMenu"/>

						<hbox pack="end" sclass="z-menubar-hor" height="100%">
					        <bandbox id="bdTypeAutorite" mold="default" value="${c:l('kermel.montantseuils.typeautorite')}" autodrop="true" buttonVisible="true" readonly="true">
								             <bandpopup>
									           <vbox>
										         <hbox>
											        ${c:l('kermel.common.form.rechercher') }
											          <textbox id="txtRechercherTypeAutorite" value="${c:l('kermel.montantseuils.typeautorite')}" />
											            <button image="/images/zoom.png" id="btnRechercherTypeAutorite"/>
										         </hbox>
										         <listbox width="300px" id="lstTypeAutorite"/>
										         <paging id="pgTypeAutorite" detailed="true"/>
									           </vbox>
								           </bandpopup>
							            </bandbox>
							             <bandbox id="bdTypeMarche" value="${c:l('kermel.montantseuils.typemarche')}" mold="default" autodrop="true" buttonVisible="true" readonly="true">
								             <bandpopup>
									           <vbox>
										         <hbox>
											        ${c:l('kermel.common.form.rechercher') }
											          <textbox id="txtRechercherTypeMarche" value="${c:l('kermel.montantseuils.typemarche')}" />
											            <button image="/images/zoom.png" id="btnRechercherTypeMarche"/>
										         </hbox>
										         <listbox width="300px" id="lstTypeMarche"/>
										         <paging id="pgTypeMarche" detailed="true"/>
									           </vbox>
								           </bandpopup>
							            </bandbox>
							             <bandbox value="${c:l('kermel.montantseuils.modepassation')}" id="bdModePassation" mold="default" autodrop="true" buttonVisible="true" readonly="true">
								             <bandpopup>
									           <vbox>
										         <hbox>
											        ${c:l('kermel.common.form.rechercher') }
											          <textbox id="txtRechercherModePassation" value="${c:l('kermel.montantseuils.modepassation')}" />
											            <button image="/images/zoom.png" id="btnRechercherModePassation"/>
										         </hbox>
										         <listbox width="300px" id="lstModePassation"/>
										         <paging id="pgModePassation" detailed="true"/>
									           </vbox>
								           </bandpopup>
							            </bandbox>
							           <textbox id="txtModeEngagement" value="${c:l('kermel.montantseuils.modeengagement')}"  />
							           <combobox id="cbExamen" width="200px" readonly="true">
		                                    <comboitem label="${c:l('kermel.montantseuils.examen.ccmp')}" id="examenccmp"/>
		                                    <comboitem label="${c:l('kermel.montantseuils.examen.dncmp')}" id="examendncmp" />
		                                    <comboitem label="${c:l('kermel.montantseuils.examen.non')}" id="examennon" />
		                                 </combobox>
					 		<button id="bchercher" tooltiptext="${c:l('kermel.common.form.rechercher')}" image="/images/find.png"/>
						</hbox>	
					</hbox>
						
					
				<hbox height="100%"  width="100%" >
					<div style="margin-top:3%" >
					<label  style="color:#000;" sclass="complex-layout-header-label"   value="${c:l('kermel.montantseuils.revueapriori')}"/>
		             </div>
				     
					
			</hbox>				
				</vbox>
			</north>
			<south size="75">
				<paging id="pgPagination"/>
			</south>
		</borderlayout>
	</window>
</zk>
