<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<?page title="new page title" contentType="text/html;charset=UTF-8"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window border="normal" height="600px" width="100%" use="sn.ssi.kermel.web.referentiel.controllers.ListeGroupeFormationController">
		<borderlayout height="100%">
			<center>
				<listbox width="100%" id="list" checkmark="true" ="false">
					<listhead >
					<listheader label="${c:l('kermel.module.code')} "  />		
					<listheader label="${c:l('kermel.module.lib')} "  id="lshLib"/>	
					<listheader label="${c:l('kermel.spec.desc')} "  />	
					
					</listhead>
				</listbox>
			</center>
			
			<north size="50">
				<vbox width="100%">
					<hbox width="100%" widths="5%,5%,5%,10%,*" sclass="z-menubar-hor">

						<kermelsousmenu id="monSousMenu"/>
						<hbox>			
 							 
 							 <textbox id="txtCode" value="${c:l('kermel.module.code')}"></textbox> 
 							  <textbox id="txtLib" value="${c:l('kermel.module.lib')}"></textbox> 
 							 <button id="bchercher" tooltiptext="Chercher" image="/images/find.png"/> 
			  			</hbox>
					</hbox>
					
					<hbox height="100%" widths="90%,*" width="100%" >
						<div style="margin-top:5%" >
							<label     style="color:green;" sclass="complex-layout-header-label"   value="${c:l('kermel.formation.groupe.list')}" />
			            </div>
					</hbox>	
					
				</vbox>
			</north>
			<south size="10%">
				<paging id="pg" detailed="true"></paging>
			</south>
		</borderlayout>

	</window>
</zk>