<?page title="KERMEL - Plateforme de dématérialistion des procédures de passation des marchés"?>
<zk>
	<window id="applicationWindow" height="100%"
		use="sn.ssi.kermel.web.core.templating.controllers.DivBasedTemplateWindow">
		<style src="/assets/wizard.css"></style>
		<style src="/assets/metro/css/metro.css" />
		<style src="/assets/metro/css/metro-icons.css" />
		<style src="/assets/metro/css/metro-responsive.css" />
		<style src="/assets/metro/css/metro-schemes.css" />
		<style src="/assets/metro/css/docs.css" />
		<style src="/assets/bootstrap/bootstrap.css" /> 
		<style src="/css/default.css"></style> 
		<script src="/js/jquery-191.min.js" type="text/javascript"></script>
		<script src="/js/LPAppletLoader.js" type="text/javascript"></script>
		<script src="/js/applet_sign.js" type="text/javascript"></script>
		<borderlayout height="100%">
			<north>
				<include src="menu.zul"></include>
			</north>
			<center>
				<div id="main" height="100%"></div>
				<!-- 			<include id="acceuil" src="footer.zul"></include> -->
			</center>
			<south>
				<!--		<hbox use="sn.ssi.kermel.web.authentication.controllers.FooterController">-->
				<include id="footer" src="footer.zul"></include>
				<!--		//</hbox>-->

			</south>
		</borderlayout>
		
	</window>
</zk>
