<?page title="sigmap"?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c" ?>
<zk>
	<window use="sn.ssi.kermel.web.menu.controllers.MenuController"	id="winMenu">
	<script type="text/javascript">
function logout() {
       if (document.all == null) 
        { 
           if (window.crypto !== null) window.crypto.logout();
          
        }      
        else 
        {     
         
           document.execCommand('ClearAuthenticationCache');
        };     
     
}
 

</script>
		<hbox widths="95%,5%" spacing="1px" height="25px" width="100%" sclass="large-table">
		
			
<hbox widths="5%,95%" width="100%" sclass="large-table">
<menubar height="100%">
				<menuitem image="/images/house.png"
					tooltiptext="${c:l('accueil') }">
 					<attribute name="onClick"> 
									<![CDATA[ 
 	winMenu.loadApplicationState("accueil"); 
 ]]> 
					</attribute>
				</menuitem>

			</menubar>
			<menubar height="100%" >
			
			<kermelmenu label="${c:l('monmenu')}" id="monMenu" />
			
<!-- 				<menu label="${c:l('mesfavoris')}"> -->
<!-- 					<menupopup> -->
<!-- 						<menuitem label="Suivi dossiers" -->
<!-- 							image="images/mnu1.png"> -->
<!-- 							<attribute name="onClick"> -->
<!-- 									<![CDATA[ -->
<!-- 	winMenu.loadApplicationState("liste_dossier_encours"); -->
<!-- ]]> -->
<!-- 								</attribute> -->
<!-- 						</menuitem> -->
<!-- 					</menupopup> -->
<!-- 				</menu> -->
				
			</menubar>

</hbox>
			<menubar height="100%">
				
				<menuitem  tooltiptext="${c:l('modifiermotdepasse') }" id="mdp">
				<attribute name="onClick">
									<![CDATA[
	winMenu.loadApplicationState("changer_mot_depasse");
]]>
								</attribute>
				</menuitem>
<!-- 				<menuitem image="/images/help.png" tooltiptext="${c:l('aideenligne') }"></menuitem> -->
<!-- 				<menuitem image="/images/information.png" tooltiptext="${c:l('mespreferences') }"></menuitem> -->
			</menubar>
			
			
			<!-- kermel LANGUES -->
<!-- 			<menubar height="100%"> -->
<!-- 				<menu label="${c:l('langues') }"> -->
<!-- 					<menupopup> -->
<!-- 						<menuitem label="Français" checked="${c:getCurrentLocale() == 'fr' || c:getCurrentLocale() == 'fr_FR' }">  -->
<!-- 							<attribute name="onClick"> -->
<!-- 								<![CDATA[ -->
<!-- 									session.setAttribute(org.zkoss.web.Attributes.PREFERRED_LOCALE, new Locale("fr")); -->
<!-- 									execution.sendRedirect(""); -->
<!-- 								]]> -->
<!-- 							</attribute> -->
<!-- 						</menuitem> -->
<!-- 						<menuitem label="English" checked="${c:getCurrentLocale() == 'en' || c:getCurrentLocale() == 'en_US' || c:getCurrentLocale() == 'en_GB' }"> -->
<!-- 							<attribute name="onClick" > -->
<!-- 								<![CDATA[ -->
<!-- 									session.setAttribute(org.zkoss.web.Attributes.PREFERRED_LOCALE, new Locale("en")); -->
<!-- 									execution.sendRedirect(""); -->
<!-- 								]]> -->
<!-- 							</attribute> -->
<!-- 						</menuitem> -->
<!-- 						<menuitem label="Español" checked="${c:getCurrentLocale() == 'es' || c:getCurrentLocale() == 'es_ES' }">  -->
<!-- 							<attribute name="onClick"> -->
<!-- 								<![CDATA[ -->
<!-- 									session.setAttribute(org.zkoss.web.Attributes.PREFERRED_LOCALE, new Locale("es")); -->
<!-- 									execution.sendRedirect(""); -->
<!-- 								]]> -->
<!-- 							</attribute> -->
<!-- 						</menuitem> -->
<!-- 					</menupopup> -->
<!-- 				</menu> -->
<!-- 			</menubar> -->
			<!-- //kermel LANGUES -->
			<menubar height="100%">
				<menuitem image="/images/exit.png" tooltiptext="${c:l('deconnexion') }">
					<attribute name="onClick">
						<![CDATA[	
						         if(Sessions.getCurrent().getAttribute("pageDeconnexion")!=null){
						        	 Executions.sendRedirect("http://localhost:8080/Kermel-WEB/"+Sessions.getCurrent().getAttribute("pageDeconnexion"));
						        	 Sessions.getCurrent().invalidate();
						         }else{
						         Executions.sendRedirect("http://localhost:8080/Kermel-WEB/index.zul");
						         }
						         /*Clients.evalJavaScript("logout();");*/
						]]>
					</attribute>
				</menuitem>
			</menubar>
			
		</hbox>
	</window>
</zk>