<head>


<script>
function delCookies(names){
    
    var date = new Date();
		date.setTime(date.getTime()-(24*60*60*1000));
		var expires = "; expires="+date.toGMTString();
//document.cookie = names+"= 1; expires = Tue. 08-Sep-2013 00-00-01 GMT;path=/src/";
document.cookie = names+'=encore un autre test'+ expires + '; path=/cas';

alert(document.cookie);


}



function createCookie() {
	
		
	
        alert(expires);
//	else var expires = "";
//	document.cookie = name+"="+value+expires+"; path=/";
}


</script>

</head>

<body onload="delCookies('CASTGC');"  >





</body>
