.ds_box {
	background-color: #FFF;
	border: 1px solid #000;
	position: absolute;
	z-index: 32767;
}

BODY
{
  	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
    MARGIN-LEFT: 0px;
	background-color: #FFFFFF;
	background: #FFFFFF;
	background-repeat: no-repeat;
    FONT-SIZE: 11px;
    SCROLLBAR-SHADOW-COLOR: #8c9aa1;
    SCROLLBAR-3DLIGHT-COLOR: #e3e3e3;
    SCROLLBAR-ARROW-COLOR: #e3e3e3;
    SCROLLBAR-TRACK-COLOR: #d7dadd;
    FONT-FAMILY: tahoma,sans-serif;
    SCROLLBAR-DARKSHADOW-COLOR: #58707c;
    
}
TABLE
{
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: tahoma,sans-serif;
}
A
{
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: verdana;
	text-decoration:underline;
}
A:hover
{
    FONT-SIZE: 8pt;
    COLOR: #3a37b1;
    FONT-FAMILY: verdana
}
.Style2 {
	font-size: 12px;
	font-weight: bold;
	color: #FF0000;
}
.Afoot
{
    FONT-SIZE: 11px;
    COLOR: #990000;
    FONT-FAMILY: verdana;
    TEXT-DECORATION: none
}
.Afoot:hover
{
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: verdana;
    TEXT-DECORATION:underline;
}

.Asmart
{
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: verdana;
    TEXT-DECORATION: none
}
.Asmart:hover
{
    FONT-SIZE: 11px;
    COLOR: #663399;
    FONT-FAMILY: verdana;
   /* TEXT-DECORATION:underline; */
}


.lienPanel
{
    FONT-SIZE: 11px;
    COLOR: #ffffff;
    FONT-FAMILY: verdana;
    TEXT-DECORATION: none
}
.lienPanel:hover
{
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: verdana;
    /* TEXT-DECORATION:underline; */
}

SELECT
{
    FONT-SIZE: 8pt;
	background-color:#DDEEFF;
    FONT-FAMILY: verdana
}
INPUT
{
    BORDER-RIGHT: black 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: black 1px solid;
    PADDING-LEFT: 0px;
    FONT-SIZE: 8pt;
	background-color:#DDEEFF;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: black 1px solid;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: black 1px solid;
    FONT-FAMILY: verdana
}
TEXTAREA
{
    FONT-SIZE: 8pt;
	background-color:#DDEEFF;
    FONT-FAMILY: verdana
}
HR
{
    COLOR: #accfff
}
.TXT
{
    FONT-FAMILY: ms sans serif, geneva, helvetica
}
.Titre
{
    FONT-SIZE: 14px;
    COLOR: darkred;
    FONT-FAMILY: Arial
}
.Ligne
{
    FONT-SIZE: 12px;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: lightsteelblue
}
.LigneActive
{
    FONT-SIZE: 12px;
    COLOR: darkred;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #c1dfe8;
   /*  TEXT-DECORATION: underline */
}
.LigneSelectionnee
{
    FONT-SIZE: 12px;
    COLOR: darkblue;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #b0ead5
}
.CorpsFrm
{
    BACKGROUND-COLOR: lightsteelblue
}
.EnteteListe
{
    FONT-SIZE: 12px;
    COLOR: black;
    FONT-FAMILY: Arial, 'Microsoft Sans Serif', Tahoma, 'Trebuchet MS', Verdana;
    BACKGROUND-COLOR: #dfffff
}
.EnteteFrm
{
    FONT-SIZE: 11px;
    COLOR: navy;
    FONT-FAMILY: Arial, Garamond;
    BACKGROUND-COLOR: #0066cc
}
.Enveloppe
{
    FONT-SIZE: 18px;
    COLOR: white;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #0066cc
}
.EETB
{
    BORDER-RIGHT: #003333 1px solid;
    BORDER-TOP: #003333 1px solid;
    BORDER-LEFT: #003333 1px solid;
    BORDER-BOTTOM: #003333 1px solid;
    BORDER-COLLAPSE: collapse;
    EMPTY-CELLS: show
}
.EE
{
    BORDER-RIGHT: #cee1ff 1px solid;
    BORDER-TOP: #cee1ff 1px solid;
    BORDER-LEFT: #cee1ff 1px solid;
    BORDER-BOTTOM: #cee1ff 1px solid;
    BORDER-COLLAPSE: collapse;
    EMPTY-CELLS: show
}
.EE TD
{
    BORDER-TOP: #cee1ff 1px solid;
    PADDING-LEFT: 1px;
    HEIGHT: 23px
}
.frmText
{
    MARGIN-TOP: 10px;
    FONT-SIZE: 12pt;
    MARGIN-BOTTOM: 0px;
    FONT-FAMILY: Tahoma
}
.frmPied
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 8px;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 5px;
    COLOR: #ffffff;
    PADDING-TOP: 5px;
    FONT-FAMILY: Tahoma;
    HEIGHT: 10px
}
.lien
{
    FONT-SIZE: 8pt;
    COLOR: #000033;
    FONT-FAMILY: tahoma, sans-serif
}
.lien2
{
    FONT-SIZE: 11px;
    COLOR: #000033;
    FONT-FAMILY: tahoma, sans-serif
}
IFRAME
{
    MARGIN: 0px auto
}
IMG
{
    PADDING-BOTTOM: 0px;
    MARGIN: 0px auto;
    PADDING-TOP: 0px
}
A
{
    MARGIN: 0px auto
}
P
{
    MARGIN: 0px auto
}
FORM
{
    MARGIN: 0px
}
BR
{
    BORDER-TOP-WIDTH: 0px;
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    BORDER-LEFT-WIDTH: 0px;
    BORDER-BOTTOM-WIDTH: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px auto;
    PADDING-TOP: 0px;
    HEIGHT: 0px;
    BORDER-RIGHT-WIDTH: 0px
}
UL
{
    MARGIN-TOP: 0px;
    PADDING-LEFT: 20px;
    FONT-SIZE: 12px;
    LINE-HEIGHT: 14px;
    PADDING-TOP: 0px;
    FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
LI
{
    PADDING-RIGHT: 1px;
    PADDING-LEFT: 1px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 10px;
    MARGIN: 0px;
    COLOR: black;
    LINE-HEIGHT: 16px;
    PADDING-TOP: 1px;
    FONT-FAMILY: tahoma,sans-serif;
    LIST-STYLE-TYPE: square
}
#header
{
    MARGIN: 0px auto;
    WIDTH: 800px;
    BACKGROUND-COLOR: #ffffff
}
#header
{
    DISPLAY: none
}
#header_pic1
{
    FLOAT: left
}
#header_pic2
{
    FLOAT: right
}
#main
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px auto;
    WIDTH: 800px;
    PADDING-TOP: 0px;
    BACKGROUND-COLOR: #ffffff;
}
#content
{
    BORDER-RIGHT: #cacaca 1px dotted;
    PADDING-RIGHT: 14px;
    PADDING-LEFT: 14px;
    VERTICAL-ALIGN: top;
    WIDTH: 610px;
    BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: left
}
#content
{
    BORDER-RIGHT: #cacaca 1px dotted;
    PADDING-RIGHT: 14px;
    PADDING-LEFT: 14px;
    VERTICAL-ALIGN: top;
    WIDTH: 610px;
    BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: left
}
#content
{
    BORDER-RIGHT: #ffffff 1px dotted;
    PADDING-RIGHT: 14px;
    PADDING-LEFT: 14px;
    VERTICAL-ALIGN: top;
    WIDTH: 610px;
    BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: left
}
.backtext
{
    FONT-SIZE: 12px;
    MARGIN-BOTTOM: 20px;
    FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.backtext
{
    DISPLAY: none
}
.backtext A
{
    FONT-WEIGHT: bold;
    COLOR: #58707c;
    BACKGROUND-COLOR: #d7dadd;
    TEXT-DECORATION: none
}
.backtext A:hover
{
    COLOR: #000000;
    /* TEXT-DECORATION: underline */
}
P.mandatory
{
    FONT-SIZE: 11px;
    FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.date
{
    FONT-SIZE: 12px;
    PADDING-BOTTOM: 14px;
    FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.transp
{
    BACKGROUND-COLOR: transparent
}
.transp
{
    BACKGROUND-COLOR: #ffffff
}
P.footnote
{
    FONT-SIZE: 10px;
    COLOR: #9ca5b1;
    FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.stripe
{
    BORDER-TOP: #cacaca 1px dotted
}
.stripe2
{
    BORDER-TOP: #cacaca 1px dotted;
    MARGIN-TOP: 10px;
    MARGIN-BOTTOM: 10px
}
.stripe3
{
    BORDER-TOP: #cacaca 1px solid;
    MARGIN-TOP: 10px;
    MARGIN-BOTTOM: 10px
}
.cooltable
{
    BORDER-RIGHT: #4E6172 1px solid;
    BORDER-TOP: #4E6172 1px solid;
    BORDER-LEFT: #4E6172 1px solid;
    COLOR: #000000;
    BORDER-BOTTOM: #4E6172 1px solid;
    BORDER-COLLAPSE: collapse;
    BACKGROUND-COLOR: #ffffff
}
.cooltable2
{
    BORDER-RIGHT: #4E6172 1px solid;
    BORDER-TOP: #4E6172 1px solid;
    BORDER-LEFT: #4E6172 1px solid;
    COLOR: #000000;
    BORDER-BOTTOM: #4E6172 1px solid;
    BORDER-COLLAPSE: collapse;
    BACKGROUND-COLOR: #ffffff
}
.cooltable3
{
    BORDER-RIGHT: peru 1px solid;
    BORDER-TOP: peru 1px solid;
    BORDER-LEFT: peru 1px solid;
    COLOR: #000000;
    BORDER-BOTTOM: peru 1px solid;
    BORDER-COLLAPSE: collapse;
}

.cooltablehdr
{
    FONT-WEIGHT: bold;
    BORDER-LEFT-COLOR: #a0afe1;
    BORDER-BOTTOM-COLOR: #a0afe1;
    COLOR: #000000;
    BORDER-TOP-COLOR: #a0afe1;
    BACKGROUND-COLOR: #9BB9CA;
    BORDER-RIGHT-COLOR: #a0afe1
}
.cooltablehdr2
{
    FONT-WEIGHT: bold;
    BORDER-LEFT-COLOR: #a0afe1;
    BORDER-BOTTOM-COLOR: #a0afe1;
    COLOR: #000000;
    BORDER-TOP-COLOR: #a0afe1;
    BACKGROUND-COLOR: #CCCCCC;
    BORDER-RIGHT-COLOR: #a0afe1
}

.cooltablealt
{
    BORDER-LEFT-COLOR: #a0afe1;
    BORDER-BOTTOM-COLOR: #a0afe1;
    COLOR: #000033;
    BORDER-TOP-COLOR: #a0afe1;
    BACKGROUND-COLOR: #E4EDF1;
    BORDER-RIGHT-COLOR: #a0afe1
}
.cooltablerow
{
    BORDER-LEFT-COLOR: #a0afe1;
    BORDER-BOTTOM-COLOR: #a0afe1;
    COLOR: #000033;
    BORDER-TOP-COLOR: #a0afe1;
    BACKGROUND-COLOR: #fefeff;
    BORDER-RIGHT-COLOR: #a0afe1
}
.cooltablerowmedia
{
    BORDER-LEFT-COLOR: #a0afe1;
    BORDER-BOTTOM-COLOR: #a0afe1;
    COLOR: #000033;
    BORDER-TOP-COLOR: #a0afe1;
    BACKGROUND-COLOR: ##FFE6CC;
    BORDER-RIGHT-COLOR: #a0afe1
}
.hdate
{
    PADDING-LEFT: 5px;
    FONT-SIZE: 10px;
    PADDING-BOTTOM: 0px;
    WIDTH: 161px;
    COLOR: #990000;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #ffffff 1px solid;
    FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff
}
.searchh
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9px;
    COLOR: #0000cc;
    FONT-FAMILY: tahoma, sans-serif;
    TEXT-DECORATION: underline
}
.search
{
    FONT-SIZE: 10px;
    FONT-FAMILY: verdana,arial,helvetica
}
.bordtablorouj {

	border: 1px solid #660000;
}
.bordgris {

	border: 1px solid #CD021E;
	background-color:#FFFFFF;
}
.headerlogin {

	background-color:#CD021E;
	FONT-SIZE: 9pt; COLOR: #FFFFFF; FONT-FAMILY: Arial, Helvetica, sans-serif
}

.title_box {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.footerRoz
{
background-color:#3399CC;
height:20px;
}
.footerText
{
font:Verdana, Arial, Helvetica, sans-serif;
color:#000000;
font-size:10px;
}
.grosTitre
 {
	font-size: 18px;
	font-weight: bold;
    color:#006600;
}
.fondEntete
{
background-image:url(../images/enteteBleu.jpg);
height:64px;
width:779px;
}
.bandeGaucheWS
{
background-image:url(../images/webSmsBleu.jpg);
width:150px;
height:375px;
background-repeat:no-repeat;
}
.bandeGaucheAS
{
background-image:url(../images/new_contact.jpg);
width:150px;
height:375px;
background-repeat:no-repeat;
}
.bandeGaucheFC
{
background-image:url(../images/fournisseurVer.jpg);
width:150px;
height:375px;
background-repeat:no-repeat;
}
.bandeGaucheJX
{
background-image:url(../images/jeuSms2.jpg);
width:95px;
height:440px;
background-repeat:no-repeat;
}
.bandeGaucheLG
{
background-image:url(../images/new_contact.jpg);
width:150px;
height:375px;
background-repeat:no-repeat;
}
.bandeGaucheME
{
background-image:url(../images/smsMedia.jpg);
width:150px;
height:375px;
background-repeat:no-repeat;
}
.bandeGaucheMI
{
background-image:url(../images/mobInfo.jpg);
width:150px;
height:375px;
background-repeat:no-repeat;
}
.bandeGaucheST
{
background-image:url(../images/new_contact.jpg);
width:150px;
height:375px;
background-repeat:no-repeat;
}
#contenu
{
margin-top:50px;
}
.imagemenu{
	/*border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;*/
}

.sprite {
    background: url("../images/sprite.png") repeat scroll 0 0 transparent;
}

.drapeau {
    border: 0 none;
    height: 19px;
    vertical-align: middle;
    width: 28px;
}

.drapeau_fr {
    background-position: -2px -2px;
    vertical-align: middle;
}

.drapeau_en {
    background-position: -34px -2px;
    vertical-align: middle;
}

.drapeau_es {
    background-position: -66px -2px;
    vertical-align: middle;
}

.drapeau_fr:hover, .drapeau_fr_hover {
    background-position: -2px -25px;
    vertical-align: middle;
}

.drapeau_en:hover, .drapeau_en_hover {
    background-position: -34px -25px;
    vertical-align: middle;
}

.drapeau_es:hover, .drapeau_es_hover {
    background-position: -66px -25px;
    vertical-align: middle;
}