<?page title=""?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window border="normal" height="550px" width="100%"
		use="sn.ssi.kermel.web.traitementdossier.controllers.ListCritereAnalyseController">
<!--		<vbox width="100%" height="100%">-->
			<borderlayout height="100%">
				<center>
					<listbox width="100%" id="list" checkmark="true" ="true">
						<listhead width="100%">
							<listheader label="${c:l('kermel.common.form.codecritereanalyse')}" width="25%" id="lshcodetraitement">
							</listheader>	
							<listheader label="${c:l('kermel.common.form.libellecritereanalyse')}" width="25%" id="lshlibelletraitement">
							</listheader>
							<listheader label="${c:l('kermel.common.form.descriptionanalyse')}" width="50%" id="lshdescription">
							</listheader>	
						</listhead>
					</listbox>
				</center>
				<north size="50">
					<vbox width="100%">
					<hbox width="100%" widths="75%,25%" >
					<kermelsousmenu id="monSousMenu"/>
						 <hbox width="100%" sclass="z-menubar-hor"> 
							<textbox value="${c:l('kermel.common.form.libelletraitement')}" id="txtlibelletraitement"/>
							 <button image="/images/zoom.png" id="btnRechercher"/>				 
						    </hbox> 
					</hbox>
					<hbox widths="75%,25%" width="100%">
						<div style="margin-top:30px;margin-left:5px">
						<label  style="font-weight:bold" value="${c:l('kermel.common.form.traitement')}" />
						</div>
					</hbox>			
					</vbox>
				</north>
				<south size="75" sclass="">
					<paging id="pganalyse"></paging>
				</south>
			</borderlayout>

<!--		</vbox>-->
	</window>
</zk>