<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window height="500px" width="100%" use="sn.ssi.kermel.web.dspdrp.controllers.DossiersPreparationController">
	<vbox width="100%" heights="100%">
			<div style="width:60%;margin-left:20%;margin-top:5%;margin-right:20%;">
			 <n:table width="100%">
			   <n:tr>
			     <n:td width="100%">
			        <n:table>
			          <n:tr>
			            <n:td rowspan="5"></n:td>
			            <n:td colspan="2" style="color:#000;font-family: sans-serif; font-size: 16px">${c:l('kermel.plansdepassation.proceduresmarches.preparation')}</n:td>
			          </n:tr>
			          <n:tr>
						  <n:td ></n:td>
						  <n:td style="color:#000;font-family: sans-serif; font-size: 16px">${c:l('kermel.plansdepassation.proceduresmarches.travauxdrp.consultation.fournisseur')}</n:td>
						</n:tr>
						<n:tr>
						   <n:td></n:td>
						   <n:td>
						      <n:table>
						       
						        <n:tr>
						          <n:td ><image src="/images/puce-a-noter.gif" border="0" /></n:td>
						           <n:td ><label style="color:red;font-family: sans-serif; font-size: 16px;cursor:pointer" value="${c:l('kermel.plansdepassation.proceduresmarches.preparation.dossiers.infos')}" id="infosgenerales"/></n:td>
				                 </n:tr>
				                 <n:tr>
						          <n:td ><image src="/images/puce-a-noter.gif" border="0" /></n:td>
						          <n:td ><label style="color:red;font-family: sans-serif; font-size: 16px;cursor:pointer" value="${c:l('kermel.plansdepassation.proceduresmarches.preparation.dossiers.devise')}" id="devise"/></n:td>
				        	    </n:tr>
						         <n:tr>
						          <n:td ><image src="/images/puce-a-noter.gif" border="0" /></n:td>
						            <n:td ><label style="color:red;font-family: sans-serif; font-size: 16px;cursor:pointer" value="${c:l('kermel.plansdepassation.proceduresmarches.travauxdrp.piecesgaranties')}" id="piecesgaranties"/></n:td>
				               
							        </n:tr>
						        <n:tr>
						          <n:td ><image src="/images/puce-a-noter.gif" border="0" /></n:td>
						              <n:td ><label style="color:red;font-family: sans-serif; font-size: 16px;cursor:pointer" value="${c:l('kermel.plansdepassation.proceduresmarches.preparation.dossiers.criteres')}" id="criteresqualifications"/></n:td>
				              
						          </n:tr>
						       
						      </n:table>
						   </n:td>
						</n:tr>
							<n:tr>
						  <n:td ><image src="/images/puce-a-noter.gif" border="0" /></n:td>
							  <n:td ><label style="color:red;font-family: sans-serif; font-size: 16px;cursor:pointer" value="${c:l('kermel.plansdepassation.proceduresmarches.travauxdrp.selection.fournisseur')}" id="fournisseursselectionnes"/></n:td>
					</n:tr>
			  
						<n:tr>
						  <n:td ><image src="/images/puce-a-noter.gif"  /></n:td>
					  <n:td ><label style="color:red;font-family: sans-serif; font-size: 16px;cursor:pointer" value="${c:l('kermel.plansdepassation.proceduresmarches.travauxdrp.lettreinvitation')}" id="lettreinvitation"/></n:td>
						</n:tr>
					      </n:table>
			     </n:td>
			     
			   </n:tr>
			 </n:table>
			 
			</div>

		</vbox>


	</window>
</zk>

