<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window height="100%" width="100%" use="sn.ssi.kermel.web.dspdrp.controllers.DossiersConsultationController">
			<div width="100%" height="100%">
			
				<tabbox width="100%" use="sn.ssi.kermel.web.common.components.TabDSPDRP" height="100%">
					<tabs width="170px">
						<tab  closable="false" id="TAB_infosgenerales" onCreate="self.setVisible(true)" label="${c:l('kermel.plansdepassation.proceduresmarches.preparation.dossiers.infos')}"/>
							<tab  closable="false" id="TAB_allotissement" label="${c:l('kermel.plansdepassation.proceduresmarches.preparation.dossiers.infos.allotissement')}" />
			     	
						  <tab  closable="false" id="TAB_presentationoffres" onCreate="self.setVisible(true)" label="${c:l('kermel.plansdepassation.proceduresmarches.preparation.dossiers.presentationoffres')}"/>
						<tab  closable="false" id="TAB_devise" label="${c:l('kermel.plansdepassation.proceduresmarches.preparation.dossiers.devise')}"/>
						<tab  closable="false" id="TAB_piecesadministratives" label="${c:l('kermel.plansdepassation.proceduresmarches.travauxdrp.piecesgaranties')}"/>
						<tab  closable="false" id="TAB_criteresqualifications" label="${c:l('kermel.plansdepassation.proceduresmarches.preparation.dossiers.criteres')}" />
					</tabs>
					<tabpanels height="100%">
						<tabpanel id="tabinfosgenerales" height="100%">
							<include id="incinfosgenerales" height="100%"/>
						</tabpanel>
                      
						<tabpanel id="taballotissement" height="100%">
							<include id="incallotissement" height="100%"/>
						</tabpanel>
						 <tabpanel id="tabpresentationoffres" height="100%">
                           <include id="incpresentationoffres" height="100%"/>
						</tabpanel>
						<tabpanel id="tabdevise" height="100%">
							<include id="incdevise" height="100%"/>
						</tabpanel>
				       <tabpanel id="tabpiecesadministratives" height="100%">
							<include id="incpiecesadministratives" height="100%"/>
						</tabpanel>
						
						
						<tabpanel id="tabcriteresqualifications" height="100%">
							<include id="inccriteresqualifications" height="100%"/>
						</tabpanel>
					</tabpanels>
				</tabbox>

			</div>

	</window>
</zk>