<?page title="Message Box" contentType="text/html;charset=UTF-8"?>
<zk>
	<window use="sn.ssi.kermel.web.common.controllers.MessageBoxController"
		border="normal" width="500px" height="200px">
		<vbox spacing="20px" width="100%" align="center">
			<label id="lbMessage"></label>
			<hbox>
				<button label="OK" forward="onOK"></button>
				<button label="Annuler" forward="onCancel"></button>
			</hbox>
		</vbox>
	</window>
</zk>