<?page title="Atlantis"?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window height="600px" width="100%"  use="sn.ssi.kermel.web.referentiel.controllers.ListNatPrixController">

		<borderlayout height="100%">
			<center>
			<div style="width:98%;margin-left:1%;margin-top:1%;margin-right:1%;">
				<listbox  id="lstNat" checkmark="true">
						<listhead >
							<listheader label="${c:l('kermel.referentiel.nat.code')}" width="50%" id="lshCode"/>
							<listheader label="${c:l('kermel.referentiel.nat.libelle')}" width="50%" id="lshLibelle"/>
							
						</listhead>
					</listbox>
				</div>
			</center>
			<north>
				<vbox width="100%" height="100%" spacing="0px">
					<hbox widths="85%,*" width="100%" height="100%" spacing="0px">
<kermelsousmenu id="monSousMenu"/>
				<hbox pack="end" sclass="z-menubar-hor" height="100%">
					<textbox id="txtCode"   value="${c:l('kermel.referentiel.nat.code')}"></textbox>
				        <textbox id="txtLibelle"   value="${c:l('kermel.referentiel.nat.libelle')}"></textbox>
				 <button id="bchercher" tooltiptext="${c:l('kermel.referentiel.nat.form.rechercher')}" image="/images/find.png"/>
						</hbox>	
					</hbox>
						
					
					
			<hbox height="100%"  width="100%" >
					<div style="margin-top:3%" >
					<label  style="color:#000;" sclass="complex-layout-header-label"   value="${c:l('kermel.common.nat.titre.liste')}"/>
		             </div>
				     
					
			</hbox>						
				</vbox>
			</north>
			<south size="75">
				<paging id="pg"/>
			</south>
		</borderlayout>
	</window>
</zk>
