<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<?page title="${c:l('kermel.plansdepassation.nouveau')}" contentType="text/html;charset=UTF-8"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window title="${c:l('kermel.plansdepassation.nouveau')}" border="normal" width="80%" height="100%" use="sn.ssi.kermel.web.plansdepassation.controllers.RealisationMiseAJourFormController">
		<borderlayout>
			<north>
				<vbox width="100%">
					<hbox width="100%">
						<menubar>
						<menuitem id="menuValider" image="/images/ok.png" label="${c:l('kermel.common.form.valider')}" forward="onOK"/>
						<menuitem id="menuFermer" image="/images/cancel.png" label="${c:l('kermel.common.form.fermer')}" />
					</menubar>
					</hbox>
					
				</vbox>
			</north>
			<center autoscroll="true">
				<div style="width:96%;margin-left:2%;margin-top:1%;margin-right:2%;">
				 <groupbox id="gb" mold="3d" width="100%" closable="false">
										<n:table width="100%">
											<n:tr>
												<n:td align="left" width="24%"> ${c:l('kermel.plansdepassation.infos.numplan')} </n:td>
												<n:td align="right" width="1%">:</n:td>
												<n:td class="valeur" width="75%"><label id="lblInfos"/></n:td>
												
											</n:tr>
											
										</n:table>
										</groupbox>
			
										<n:br/>
									
										
				 
				 <vbox width="100%" height="400px">
				<tabbox width="100%">
					<tabs width="170px">
						<tab label="Détails" closable="false"
							id="TAB_DETAILSREAL" onCreate="self.setVisible(true)" />
							<tab label="${c:l('kermel.plansdepassation.realisations.sourcesfinancement')}" closable="false"  id="TAB_BAILLEURS"/>

					</tabs>
					<tabpanels>
						<tabpanel id="tabDetails">
							<div style="width:98%;margin-left:1%;margin-right:1%;">
							  <n:table width="100%">
							   <n:tr>
							     <n:td>
							      <n:fieldset>
							         <n:legend> ${c:l('kermel.plansdepassation.realisation.generalite')} </n:legend>
							           <n:table width="100%">
							               <n:tr>
							                  <n:td width="24%">${c:l('kermel.plansdepassation.service.maitredoeuvre')}</n:td>
							                    <n:td width="1%">:</n:td>
									            <n:td width="75%">
									              <bandbox width="350px" id="bdService" mold="default" autodrop="true" buttonVisible="true" readonly="true"  >
										             <bandpopup>
											           <vbox>
												         <hbox>
													        ${c:l('kermel.common.form.rechercher') }
													          <textbox id="txtRechercherService" value="${c:l('kermel.plansdepassation.service.maitredoeuvre')}" />
													            <button image="/images/zoom.png" id="btnRechercherService"/>
												         </hbox>
												         <listbox width="350px" id="lstService"/>
												         <paging id="pgService" detailed="true"/>
											           </vbox>
										           </bandpopup>
									            </bandbox><label  value="*" style="color:red;"/>
									           </n:td>
									         
							               </n:tr>
							               <n:tr>
						                     <n:td >${c:l('kermel.referentiel.typesmarche')}</n:td>
							                  <n:td >:</n:td>
									            <n:td >
									              <bandbox id="bdType" mold="default" autodrop="true" buttonVisible="true" readonly="true" width="350px" >
										             <bandpopup>
											           <vbox>
												         <hbox>
													        ${c:l('kermel.common.form.rechercher') }
													          <textbox id="txtRechercherType" value="${c:l('kermel.referentiel.typesmarche')}" />
													            <button image="/images/zoom.png" id="btnRechercherType"/>
												         </hbox>
												         <listbox  width="350px" id="lstType"/>
												         <paging id="pgType" detailed="true"/>
											           </vbox>
										           </bandpopup>
									            </bandbox><label  value="*" style="color:red;"/>
									            </n:td>
									         
						                     </n:tr>
						                      <n:tr>
												<n:td >${c:l('kermel.plansdepassation.realisation.description.travaux')}</n:td>
												<n:td  >:</n:td>
												<n:td > <textbox id="txtLibelle" cols="70" rows="2"/><label  value="*" style="color:red;"/> </n:td>
										       </n:tr>
						                      <n:tr>
						                         <n:td >${c:l('kermel.plansdepassation.realisation.mode.passation')}</n:td>
							                     <n:td >:</n:td>
									            <n:td >
									              <bandbox id="bdMode" mold="default" autodrop="true" buttonVisible="true" readonly="true"  width="350px">
										             <bandpopup>
											           <vbox>
												         <hbox>
													        ${c:l('kermel.common.form.rechercher') }
													          <textbox id="txtRechercherMode" value="${c:l('kermel.plansdepassation.realisation.mode.passation')}" />
													            <button image="/images/zoom.png" id="btnRechercherMode"/>
												         </hbox>
												         <listbox  width="350px" id="lstMode"/>
												         <paging id="pgMode" detailed="true"/>
											           </vbox>
										             </bandpopup>
									              </bandbox><label  value="*" style="color:red;"/>
									            </n:td>
						                       
							                  </n:tr>
							                  <n:tr>
							                    <n:td >${c:l('kermel.plansdepassation.realisation.montantmarche')}</n:td>
								                <n:td >:</n:td>
								                <n:td ><decimalbox id="dcmontant"  format="#,##0.##"/><label  value="*" style="color:red;"/></n:td>
							                  </n:tr>
						                     <n:tr>
								<n:td >${c:l('kermel.plansdepassation.realisation.cible')}</n:td>
								<n:td align="right">:</n:td>
								<n:td ><combobox id="cbcible" readonly="true" value="Communautaire" >
									<comboitem label="Communautaire"  value="Communautaire" />
									<comboitem  value="Internationale" label="Internationale"/>
								</combobox><label  value="*" style="color:red;"/></n:td>
						</n:tr> 
						               
							              </n:table>
							          </n:fieldset>
							     </n:td>
							   </n:tr>
							   <n:tr>
							    <n:td>
							      <n:fieldset>
							         <n:legend>${c:l('kermel.plansdepassation.realisation.dossierappeloffre')}</n:legend>
								         <n:table width="100%">
								           <n:tr>
								            <n:td  width="29%"> ${c:l('kermel.plansdepassation.realisations.lancementdate')}   </n:td>
								            <n:td  width="1%">:</n:td>
								            <n:td  width="20%"><datebox id="dtlancement" readonly="true"/><label  value="*" style="color:red;"/></n:td>
								            <n:td width="34%"> ${c:l('kermel.plansdepassation.realisations.attributiondate')}</n:td>
								            <n:td width="1%">:</n:td>
								            <n:td width="15%"><datebox id="dtattribution" readonly="true" /><label  value="*" style="color:red;"/></n:td>
								           </n:tr>
							               <n:tr>
											<n:td > ${c:l('kermel.plansdepassation.realisations.demarragedate')}</n:td>
											<n:td >:</n:td>
											<n:td ><datebox id="dtdemarrage" readonly="true"/></n:td>
								            <n:td > ${c:l('kermel.plansdepassation.realisations.achevementdate')}</n:td>
											<n:td >:</n:td>
											<n:td ><datebox id="dtachevement" readonly="true"/><label  value="*" style="color:red;"/></n:td>
						                   </n:tr>  
						                 
								         </n:table>
							      </n:fieldset>
							     </n:td>
							   </n:tr>
							   
							    
							  </n:table>
					
				 </div>
						</tabpanel>
						<tabpanel id="TAB_Bailleurs">
							<div style="width:98%;margin-left:1%;margin-top:3%;">
						
										<listbox>
											<listhead id="listheadConteneur">
												<listheader label="${c:l('kermel.plansdepassation.realisation.bailleur')}" width="50%" id="lshLibelle"/>
							                    <listheader label="${c:l('kermel.plansdepassation.realisations.sourcesfinancement.chapitre')}" width="28%" />
							                    <listheader label="${c:l('kermel.plansdepassation.realisations.sourcesfinancement.montant')}" width="20%" />
							                    <listheader label="" width="2%" />
							        		</listhead>
											<listitem>
												<listcell>
													<hbox>
													  <bandbox id="bdBailleur" mold="default" autodrop="true" buttonVisible="true" readonly="true" width="350px">
								                         <bandpopup>
									                      <vbox>
										                   <hbox>
											                 ${c:l('kermel.common.form.rechercher') }
											                   <textbox id="txtRechercherBailleur" value="${c:l('kermel.plansdepassation.realisation.bailleur')}" />
											                   <button image="/images/zoom.png" id="btnRechercherBailleur"/>
										                   </hbox>
										                   <listbox width="1OO%" id="lstBailleur"/>
										                   <paging id="pgBailleur" detailed="true"/>
									                      </vbox>
								                         </bandpopup>
							                         </bandbox><label  value="*" style="color:red;"/>
													</hbox>
												</listcell>
												<listcell>
													<textbox id="txtChapitre" cols="30"/> <label  value="*" style="color:red;"/>
												</listcell>
												<listcell>
													<decimalbox id="dcmontantprevu"  cols="20"/><label  value="*" style="color:red;"/>
												</listcell>
												
												<listcell image="/images/ok.png" id="cellValiderBailleur" visible="false"/>
											</listitem>
										</listbox>
										<listbox id="lstListe" checkmark="true">
											<listhead height="0px">
												<listheader width="50%"/>
												<listheader width="20%"/>
												<listheader width="28%"/>
												<listheader width="2%"/>
												
											</listhead>
										</listbox>	
									
									 <paging id="pgPagination" />
					</div>
						</tabpanel>

						
						
					</tabpanels>
				</tabbox>

			</vbox>
				</div> 
			</center>
			<south size="50px">
				<vbox  width="100%" spacing="5px">
					<hbox widths="40%,2%,2%,46%,10%">
					    <label/>
						<label  value="(" />
						<label  value="*" style="color:red;"/>
						<label  value=") = ${c:l('kermel.common.form.champs.obligatoire')}" />
						<label/>
					</hbox>
					 <hbox>
					   <label id="lbStatusBar" />
					 </hbox>
				</vbox>
			</south>
			
		</borderlayout>
	</window>
</zk>