<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<?page title="${c:l('kermel.plansdepassation.nouveau')}" contentType="text/html;charset=UTF-8"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window title="${c:l('kermel.plansdepassation.nouveau')}" border="normal" width="80%" height="500px" use="sn.ssi.kermel.web.plansdepassation.controllers.DetailsRealisationFormController">
		<borderlayout>
			<north>
				<vbox width="100%">
					<hbox width="100%">
						<menubar>
							<menuitem id="menuFermer" image="/images/cancel.png" label="${c:l('kermel.common.form.fermer')}" forward="onClose"/>
					</menubar>
					</hbox>
					
				</vbox>
			</north>
			<center>
				<div style="width:96%;margin-left:2%;margin-top:1%;margin-right:2%;">
				<n:fieldset>
			  <n:legend>${c:l('kermel.plansdepassation.infos.generales')}</n:legend>
			     <groupbox id="gb" mold="3d" width="100%" closable="false">
										<n:table width="100%">
											<n:tr>
												<n:td align="left" width="34%"> ${c:l('kermel.plansdepassation.infos.numplan')} </n:td>
												<n:td align="right" width="1%">:</n:td>
												<n:td class="valeur" width="65%"><label id="lblInfos"/></n:td>
											</n:tr>
											<n:tr>
												<n:td align="left" > ${c:l('kermel.plansdepassation.reference')} </n:td>
												<n:td align="right" >:</n:td>
												<n:td class="valeur"><label id="lblReference"/></n:td>
											</n:tr>
											<n:tr>
												<n:td align="left" > ${c:l('kermel.referentiel.typesmarche')} </n:td>
												<n:td align="right" >:</n:td>
												<n:td class="valeur"><label id="lblTypemarche"/></n:td>
											</n:tr>
											<n:tr>
												<n:td align="left" > ${c:l('kermel.plansdepassation.realisation.description.travaux')} </n:td>
												<n:td align="right" >:</n:td>
												<n:td class="valeur"><label id="lblRealisation"/></n:td>
											</n:tr>
											
											<n:tr>
												<n:td align="left" > ${c:l('kermel.plansdepassation.realisation.mode.passation')} </n:td>
												<n:td align="right" >:</n:td>
												<n:td class="valeur"><label id="lblModepassation"/></n:td>
											</n:tr>
											<n:tr>
												<n:td align="left" > ${c:l('kermel.plansdepassation.realisation.montantmarche')} </n:td>
												<n:td align="right" >:</n:td>
												<n:td class="valeur"><label id="lblMontant"/></n:td>
											</n:tr>
										
											<n:tr>
												<n:td align="left" > ${c:l('kermel.plansdepassation.realisation.cible')} </n:td>
												<n:td align="right" >:</n:td>
												<n:td class="valeur"><label id="lblCbcible"/></n:td>
											</n:tr>
											<n:tr>
												<n:td align="left" > ${c:l('kermel.plansdepassation.realisations.lancementdate')} </n:td>
												<n:td align="right" >:</n:td>
												<n:td class="valeur"><label id="lblDatelancement"/></n:td>
											</n:tr>
											<n:tr>
												<n:td align="left" > ${c:l('kermel.plansdepassation.realisations.attributiondate')} </n:td>
												<n:td align="right" >:</n:td>
												<n:td class="valeur"><label id="lblDateattribution"/></n:td>
											</n:tr>
										    <n:tr>
												<n:td align="left" > ${c:l('kermel.plansdepassation.realisations.demarragedate')} </n:td>
												<n:td align="right" >:</n:td>
												<n:td class="valeur"><label id="lblDatedemarrage"/></n:td>
											</n:tr>
										
											<n:tr>
												<n:td align="left" > ${c:l('kermel.plansdepassation.realisations.achevementdate')} </n:td>
												<n:td align="right" >:</n:td>
												<n:td class="valeur"><label id="lblDateachevement"/></n:td>
											</n:tr>
										</n:table>
										</groupbox>
			                 </n:fieldset>
			
				</div> 
			</center>
			
			
		</borderlayout>
	</window>
</zk>