<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<?page title="${c:l('kermel.plansdepassation.nouveau')}" contentType="text/html;charset=UTF-8"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window title="${c:l('kermel.plansdepassation.nouveau')}" border="normal" width="80%" height="500px" use="sn.ssi.kermel.web.plansdepassation.controllers.SoumissionValidationMAJFormController">
		<borderlayout>
			<north>
				<vbox width="100%">
					<hbox width="100%">
						<menubar>
						<menuitem id="menuValider" image="/images/ok.png" label="${c:l('kermel.common.form.valider')}" forward="onOK"/>
						<menuitem id="menuFermer" image="/images/cancel.png" label="${c:l('kermel.common.form.fermer')}" forward="onClose"/>
					</menubar>
					</hbox>
					
				</vbox>
			</north>
			<center>
				<div style="width:96%;margin-left:2%;margin-top:1%;margin-right:2%;">
				 <n:fieldset>
			  <n:legend>${c:l('kermel.plansdepassation.infos.generales')}</n:legend>
			  <groupbox id="gb" mold="3d" width="100%" closable="false">
										<n:table width="100%">
											<n:tr>
												<n:td align="left" width="24%"> ${c:l('kermel.plansdepassation.infos.numplan')} </n:td>
												<n:td align="right" width="1%">:</n:td>
												<n:td class="valeur" width="75%"><label id="lblInfos"/></n:td>
												
											</n:tr>
											
										</n:table>
										</groupbox>
			</n:fieldset>
			
										<n:br/>
										<n:hr style="margin:0px;" />
										<n:br/>
										<div style="width:80%;margin-left:10%;margin-right:10%;">
					<n:table>
						
					   <n:tr>
								<n:td width="29%">${c:l('kermel.contentieux.pj.Datecourrier')}</n:td>
								<n:td align="right" width="1%">:</n:td>
								<n:td width="70%"> <datebox id="dtdate"/>
								<label  value="*" style="color:red;"/></n:td>
						</n:tr>
					
						<n:tr>
								<n:td >${c:l('kermel.contentieux.pj.Reference')}</n:td>
								<n:td align="right">:</n:td>
								<n:td ><textbox id="txtReference" /></n:td>
						</n:tr>
					 <n:tr>
					<n:td width="20%">${c:l('kermel.common.fichier')}</n:td>
					<n:td align="right">:</n:td>
					<n:td >
						<textbox id="txtVersionElectronique" width="300px" readonly="true"/>
						
						<button label="..."  id="btnChoixFichier" image="/images/FileDownload-24x24.png"  style="backgroung-color:#000;"/>
                    </n:td>                    
				</n:tr>
						<n:tr>
								<n:td >${c:l('kermel.common.commentaires')}</n:td>
								<n:td align="right">:</n:td>
								<n:td ><textbox id="txtCommentaires"  cols="60" rows="5"/></n:td>
						</n:tr>
				 </n:table>
				</div> 
				</div>
			</center>
			<south size="50px">
				<vbox  width="100%" spacing="5px">
					<hbox widths="40%,2%,2%,46%,10%">
					    <label/>
						<label  value="(" />
						<label  value="*" style="color:red;"/>
						<label  value=") = ${c:l('kermel.common.form.champs.obligatoire')}" />
						<label/>
					</hbox>
					 <hbox>
					   <label id="lbStatusBar" />
					 </hbox>
				</vbox>
			</south>
			
		</borderlayout>
	</window>
</zk>