<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window height="600px" width="100%" title="" 
		use="sn.ssi.kermel.web.plansdepassation.controllers.ListesMisesAJourController">
		<borderlayout height="100%">
			<center>
				<div height="100%">
					<div id="step0" height="100%">
						<borderlayout height="100%">
							<north>
								<hbox widths="90%,*" width="100%" height="25px" spacing="0px">
									<menubar height="25px">
										<menuitem image="/images/zoom.png"  label="${c:l('kermel.plansdepassation.miseajour')}" 	id="menuMiseajour" />
									</menubar>
			                    
			              	<hbox pack="end" sclass="z-menubar-hor" height="100%">
							<textbox id="txtNumero"  value="${c:l('kermel.plansdepassation.num')}"/>
						       
				 <button id="bchercher" tooltiptext="${c:l('kermel.common.form.rechercher')}" image="/images/find.png"/>
						</hbox>	
						 </hbox>
							</north>

							<center>
								<div style="width:98%;margin-left:1%;margin-top:1%;margin-right:1%;">
			<div style="margin-top:3%" >
					<label  style="color:#000;" sclass="complex-layout-header-label"   value="${c:l('kermel.plansdepassation.plans')}"/>
		             </div>
				     
				<listbox  id="lstListe" checkmark="true" ="false">
						<listhead >
							<listheader label="${c:l('kermel.plansdepassation.num')}" width="40%" id="lshNumero"/>
							<listheader label="${c:l('kermel.plansdepassation.ann')}" width="20%" id="lshAnnee" align="center"/>
							<listheader label="${c:l('kermel.plansdepassation.datecreation')}" width="20%" id="lshDatecreation" align="center"/>
							<listheader label="${c:l('kermel.plansdepassation.datemiseenvaleur')}" width="20%" id="lshDatemev" align="center"/>
						
						</listhead>
					</listbox>
					
				</div>
							</center>
							<south size="25px">
								<vbox width="100%" height="100%" heights="80%,*">
									<paging id="pgPagination" />
								</vbox>
							</south>
						</borderlayout>
					</div>
					
					
				</div>
			</center>
		</borderlayout>
	</window>
</zk>