<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window width="100%" title="" height="500px"
		use="sn.ssi.kermel.web.plansdepassation.controllers.ListMAJRealisationsServController">
		<borderlayout height="100%">
			<center>
				<div height="100%">
					<div id="step0" height="100%">
						<borderlayout height="100%">
							<north>
								<hbox widths="20%,*" width="100%"
									height="30px" spacing="0px">
									<kermelsousmenu id="monSousMenu"
										height="28px" />
									<hbox pack="end"
										sclass="z-menubar-hor" height="100%">
										<n:table>
											<n:tr>
												<n:td align="top">
													<textbox
														id="txtObjet" cols="20"
														value="${c:l('kermel.plansdepassation.proceduresmarches.recours.objet')}" />
												</n:td>


												<n:td>
													<button
														id="bchercher"
														tooltiptext="${c:l('kermel.common.form.rechercher')}"
														image="/images/find.png" />
												</n:td>
												<n:td>
													${c:l('kermel.plansdepassation.realisations.filtrepar')}:
													<combobox
														id="cbselect" width="200px"
														value="${c:l('kermel.plansdepassation.realisations.filtrepar.service')}">
														<comboitem
															label="${c:l('kermel.plansdepassation.realisations.filtrepar.service')}"
															id="service" />

														<comboitem
															label="${c:l('kermel.plansdepassation.realisations.filtrepar.modepassation')}"
															id="modespassations" />
													</combobox>
												</n:td>
											</n:tr>
										</n:table>



									</hbox>
								</hbox>
							</north>

							<center>
								<div
									style="width:98%;margin-left:1%;margin-top:1%;margin-right:1%;">
									<!-- 			action="onmousedown:gridHandler(event,#{rowid})" -->
									<grid fixedLayout="true"
										width="100%" oddRowSclass="myodd" id="grdRealisations">
										<columns>
											<column width="2%" />
											<column width="98%"
												id="idgride" />
										</columns>
									</grid>
								</div>
							</center>
							<south size="20px">
								<paging id="pgPagination" />
							</south>
						</borderlayout>
					</div>




				</div>
			</center>
		</borderlayout>
	</window>
</zk>