    <?page title="Atlantis"?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window height="500px" width="100%"  use="sn.ssi.kermel.web.prestationintellectuelle.controllers.ContratsaimmatriculerController">

		<borderlayout height="100%">
			<center>
			<div style="width:98%;margin-top:1%;margin-left:1%;margin-right:1%;">
			<listbox  id="lstListe" checkmark="false" ="false">
						 <listhead >
						    <listheader label="${c:l('kermel.paiement.numcontrat')}" width="10%" align="center"/>
							<listheader label="${c:l('kermel.contentieux.AC')}" width="25%" />
							<listheader label="${c:l('kermel.referentiel.courrier.reference')}" width="10%" />
							<listheader label="${c:l('kermel.plansdepassation.passationsmarches.objets')}" width="25%"  />
							<listheader label="${c:l('kermel.referentiel.modepassation')}" width="15%"  />
							<listheader label="${c:l('kermel.plansdepassation.passationsmarches.montantestime')}" width="10%" align="center" />
						     <listheader label="" width="2.5%" align="center" />
						      <listheader label="" width="2.5%" align="center" />
						 </listhead>
					</listbox>
				
					
					
				</div>
			</center>
			
			<south size="20">
				<paging id="pgPagination"/>
			</south>
		</borderlayout>
	</window>
</zk>
