<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window height="500px" width="100%" use="sn.ssi.kermel.web.prestationintellectuelle.controllers.DemandePropositionController">
	<vbox width="100%" heights="100%">
			<vbox width="100%" height="500px">
			
				<tabbox width="100%" use="sn.ssi.kermel.web.common.components.TabProcedurespi">
					<tabs width="170px">
						<tab  closable="false" id="TAB_infosgeneralesdp"  label="${c:l('kermel.plansdepassation.proceduresmarches.prestationintellectuelle.infosgenerales')}"/>
						 <tab  closable="false" id="TAB_presentationoffres" onCreate="self.setVisible(true)" label="${c:l('kermel.plansdepassation.proceduresmarches.preparation.dossiers.presentationoffres')}"/>
				
						<tab  closable="false" 	id="TAB_devise" label="${c:l('kermel.plansdepassation.proceduresmarches.preparation.dossiers.devise')}"/>
						<tab  closable="false" id="TAB_piecesadministratives"  label="${c:l('kermel.plansdepassation.proceduresmarches.preparation.dossiers.pieces')}"/>
						<tab  closable="false" 	id="TAB_criteresqualificationsdp" label="${c:l('kermel.plansdepassation.proceduresmarches.prestationintellectuelle.criteresnotations')}"/>
				
					</tabs>
					<tabpanels>
						<tabpanel id="tabinfosgeneralesdp">
							<include id="incinfosgeneralesdp" />
						</tabpanel>
						 <tabpanel id="tabpresentationoffres">
                           <include id="incpresentationoffres" />
						</tabpanel>
						<tabpanel id="tabdevise">
							<include id="incdevise" />
						</tabpanel>
                       <tabpanel id="tabpiecesadministratives">
							<include id="incpiecesadministratives" />
						</tabpanel>
						<tabpanel id="tabcriteresqualificationsdp">
							<include id="inccriteresqualificationsdp" />
						</tabpanel>
					
					</tabpanels>
				</tabbox>

			</vbox>

		</vbox>


	</window>
</zk>