<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">

<window height="650px" width="100%" use="sn.ssi.kermel.web.prestationintellectuelle.controllers.SuiviProcedurePIFormController"> 

	<borderlayout>
	   <west title=" " size="295px" splittable="false" collapsible="false" autoscroll="true">
		 	 <panel title="" border="normal" width="300px" >
				        <panelchildren>
				        <vbox>

                      <hbox>
                         <image src="/images/arrow.png"/>A Faire
                        <image src="/images/puce.png"/>En cours
                         <image src="/images/rdo_on.png"/>Fait
                      </hbox>
				     
				        <tree id="tree" zclass="z-dottree"  width="280px"  >
				       
		
		<treechildren>
			
			 <treeitem id="treemanifestationdinteret">
				<treerow >
				  <treecell id="cellmanifestationdinteret" image="/images/arrow.png" label="${c:l('kermel.plansdepassation.proceduresmarches.prestationintellectuelle.manifestationinteret')}"  style="color:red;font-family: sans-serif; font-size: 14px"/>
				</treerow>
				 <treechildren>
					<treeitem  id="treetraitementdossier" >
						<treerow>
							<treecell id="celltraitementdossier" image="/images/arrow.png" label="${c:l('kermel.plansdepassation.proceduresmarches.prestationintellectuelle.traitementdossier')}" style="color:red;font-family: sans-serif; font-size: 14px"/>
						</treerow>
						<treechildren>
						    
					       <treeitem  id="treepreparation" >
							 <treerow>
								 <treecell id="cellpreparation" image="/images/arrow.png" label="${c:l('kermel.plansdepassation.proceduresmarches.prestationintellectuelle.preparation')}" style="color:red;font-family: sans-serif; font-size: 14px"/>
							 </treerow>
							 <treechildren>
					       <treeitem id="treetermereference" >
							 <treerow>
								<treecell id="celltermereference" image="/images/arrow.png" label="${c:l('kermel.plansdepassation.proceduresmarches.prestationintellectuelle.termedereference')}" style="color:red;font-family: sans-serif; font-size: 14px"/>
							 </treerow>
<!-- 							 <treechildren> -->
<!-- 							       <treeitem  id="treeinfosgenerales" > -->
<!-- 									 <treerow> -->
<!-- 										<treecell id="cellinfosgenerales" label="${c:l('kermel.plansdepassation.proceduresmarches.prestationintellectuelle.infosgenerales')}" style="color:red;font-family: sans-serif; font-size: 14px"/> -->
<!-- 									 </treerow> -->
<!-- 								   </treeitem> -->
<!-- 								   <treeitem  id="treecriteresqualifications" > -->
<!-- 									 <treerow> -->
<!-- 										<treecell id="cellcriteresqualifications" label=" ${c:l('kermel.plansdepassation.proceduresmarches.prestationintellectuelle.critersqualificaions')}" style="color:red;font-family: sans-serif; font-size: 14px"/> -->
<!-- 									 </treerow> -->
<!-- 								   </treeitem> -->
<!-- 						     </treechildren>  -->
						   </treeitem>
						   <treeitem  id="treemiseenvalidation" >
							 <treerow>
								<treecell id="cellmiseenvalidation" image="/images/arrow.png" label="${c:l('kermel.plansdepassation.proceduresmarches.prestationintellectuelle.miseenvalidation')}" style="color:red;font-family: sans-serif; font-size: 14px"/>
							 </treerow>
						   </treeitem>
						    <treeitem  id="treepublication" >
							 <treerow>
								<treecell id="cellpublication" image="/images/arrow.png" label=" ${c:l('kermel.plansdepassation.proceduresmarches.prestationintellectuelle.publication')}" style="color:red;font-family: sans-serif; font-size: 14px"/>
							 </treerow>
						   </treeitem>
						    <treeitem  id="treedepotcandidatures" >
							 <treerow>
								<treecell id="celldepotcandidatures" image="/images/arrow.png" label="${c:l('kermel.plansdepassation.proceduresmarches.prestationintellectuelle.depotscandidatures')}" style="color:red;font-family: sans-serif; font-size: 14px"/>
							 </treerow>
						   </treeitem>
						</treechildren> 
						   </treeitem>
						   <treeitem  id="treeevaluation" >
							 <treerow>
								<treecell id="cellevaluation" image="/images/arrow.png" label=" ${c:l('kermel.plansdepassation.proceduresmarches.prestationintellectuelle.evaluation')}" style="color:red;font-family: sans-serif; font-size: 14px"/>
							 </treerow>
							 <treechildren>
					       <treeitem  id="treepreselection" >
							 <treerow>
								<treecell id="cellpreselection" image="/images/arrow.png" label="${c:l('kermel.plansdepassation.proceduresmarches.prestationintellectuelle.preselection')}" style="color:red;font-family: sans-serif; font-size: 14px"/>
							 </treerow>
						   </treeitem>
						   <treeitem  id="treenotificationauxcandidatsretenus" >
							 <treerow>
								<treecell id="cellnotificationauxcandidatsretenus" image="/images/arrow.png" tooltiptext="${c:l('kermel.plansdepassation.proceduresmarches.prestationintellectuelle.notificationauxcandidatsretenus.details')}" label="${c:l('kermel.plansdepassation.proceduresmarches.prestationintellectuelle.notificationauxcandidatsretenus')}" style="color:red;font-family: sans-serif; font-size: 14px"/>
							 </treerow>
						   </treeitem>
						</treechildren> 
						   </treeitem>
						</treechildren> 
					</treeitem>
					
				 </treechildren>
			 </treeitem>
		     <treeitem  id="treedemandeproposition" >
				<treerow>
					<treecell id="celldemandeproposition" image="/images/arrow.png" label="${c:l('kermel.plansdepassation.proceduresmarches.prestationintellectuelle.demandeproposition')}" style="color:red;font-family: sans-serif; font-size: 14px"/>
				</treerow>
				<treechildren>
				    <treeitem  id="treedao" >
						<treerow>
							<treecell id="celldao" image="/images/arrow.png" label="${c:l('kermel.plansdepassation.proceduresmarches.prestationintellectuelle.traitementdossier.dao')}" style="color:red;font-family: sans-serif; font-size: 14px"/>
						</treerow>
						<treechildren>
						     <treeitem open="false" id="treepreparationdp" >
					           <treerow>
					             <treecell id="cellpreparationdp" image="/images/arrow.png" label="${c:l('kermel.plansdepassation.proceduresmarches.preparation')}" style="color:red;font-family: sans-serif; font-size: 14px"/>
					           </treerow>
					             <treechildren>
								      <treeitem open="false" id="treetermereferencedp" >
									    <treerow>
									     <treecell id="celltermereferencedp" image="/images/arrow.png" label="${c:l('kermel.plansdepassation.proceduresmarches.prestationintellectuelle.demandeproposition')}" style="color:red;font-family: sans-serif; font-size: 14px"/>
									   </treerow>
									  </treeitem>
									   <treeitem  id="treemiseenvalidationdp" >
											 <treerow>
												<treecell id="cellmiseenvalidationdp" image="/images/arrow.png" label="${c:l('kermel.plansdepassation.proceduresmarches.prestationintellectuelle.miseenvalidation')}" style="color:red;font-family: sans-serif; font-size: 14px"/>
											 </treerow>
									  </treeitem>
					             </treechildren>
				                </treeitem>
				                 <treeitem open="false" id="treeouvertureplis">
					<treerow >
					 <treecell id="cellouverturesplis" image="/images/arrow.png" tooltiptext="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis')}" style="color:red;font-family: sans-serif; font-size: 14px" />
					</treerow>
					<treechildren>
				      <treeitem open="false" id="treeregistredepot" >
					    <treerow>
					     <treecell id="cellregistredepot" image="/images/arrow.png" label="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.registredepot')}" style="color:red;font-family: sans-serif; font-size: 14px"/>
					   </treerow>
					  </treeitem>
					   <treeitem  id="treeouvertureplisdp" >
							 <treerow>
								<treecell id="cellouvertureplisdp" image="/images/arrow.png" label="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis')}" style="color:red;font-family: sans-serif; font-size: 14px"/>
							 </treerow>
							 <treechildren>
							      <treeitem id="treelistepresencemembrescommissions">
								    <treerow >
									  <treecell id="celllistepresencemembrescommissions" image="/images/arrow.png" label="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis.presencecommissionsmarche')}" tooltiptext="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis.presencecommissionsmarches')}" style="color:red;font-family: sans-serif; font-size: 14px" />
								    </treerow>
							     </treeitem>
							      <treeitem id="treerepresentantssoumissionnaires">
								    <treerow >
									  <treecell id="cellrepresentantssoumissionnaires" image="/images/arrow.png" label="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis.presencerepresentantsoums')}" tooltiptext="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis.presencerepresentantsoum')}" style="color:red;font-family: sans-serif; font-size: 14px" />
								    </treerow>
							      </treeitem>
							       <treeitem id="treerepresentantsservicestechniques">
								    <treerow >
									  <treecell id="cellrepresentantsservicestechniques" image="/images/arrow.png" tooltiptext="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis.representantservicetechnique')}"  style="color:red;font-family: sans-serif; font-size: 14px" />
								    </treerow>
							      </treeitem>
							       <treeitem id="treeobservateursindependants">
								    <treerow >
									  <treecell id="cellobservateursindependants" image="/images/arrow.png" label="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis.obserindependant')}" tooltiptext="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis.obserindependants')}" style="color:red;font-family: sans-serif; font-size: 14px" />
								    </treerow>
							      </treeitem>
							       <treeitem id="treepiecessoumissionnaires">
								    <treerow >
									  <treecell id="cellpiecessoumissionnaires" image="/images/arrow.png" label="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis.piecesadministrative')}" tooltiptext="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis.piecesadministratives')}" style="color:red;font-family: sans-serif; font-size: 14px" />
								    </treerow>
							      </treeitem>
							       <treeitem id="treelecturesoffres">
								    <treerow >
									  <treecell id="celllecturesoffres" image="/images/arrow.png" label="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis.lectureoffres')}" tooltiptext="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis.lectureoffres')}" style="color:red;font-family: sans-serif; font-size: 14px" />
								    </treerow>
							      </treeitem>
							       <treeitem id="treeincidents">
								    <treerow >
									  <treecell id="cellincidents" image="/images/arrow.png" label="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis.incidents')}" tooltiptext="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis.incidents.details')}" style="color:red;font-family: sans-serif; font-size: 14px" />
								    </treerow>
							      </treeitem>
							      <treeitem id="treeprocesverbalouverture">
								    <treerow >
									  <treecell id="cellprocesverbalouverture" image="/images/arrow.png" label="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis.procesverbalouverture')}" tooltiptext="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis.procesverbalouverture')}" style="color:red;font-family: sans-serif; font-size: 14px" />
								    </treerow>
							      </treeitem>
							       <treeitem id="treecompositioncommissiontechnique">
								    <treerow >
									  <treecell id="cellcompositioncommissiontechnique" image="/images/arrow.png" label="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis.commissiontechnique')}" tooltiptext="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis.compositioncommissiontechnique')}" style="color:red;font-family: sans-serif; font-size: 14px" />
								    </treerow>
							      </treeitem>
							      
							 </treechildren>
					  </treeitem>
					</treechildren>
				 </treeitem>
				 </treechildren>
				</treeitem>
				 <treeitem id="treeevaluationdao">
					<treerow>
					  <treecell id="cellevaluationdao" image="/images/arrow.png" label="${c:l('kermel.plansdepassation.proceduresmarches.prestationintellectuelle.traitementdossier.evaluation')}" style="color:red;font-family: sans-serif; font-size: 14px" />
					</treerow>
					<treechildren>
					    <treeitem id="itemevaluationattributionprovisoire">
					<treerow>
					  <treecell id="cellouvertureevaluationoffresfin" image="/images/arrow.png" label="${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire')}" style="color:red;font-family: sans-serif; font-size: 14px" />
					</treerow>
					<treechildren>
				      <treeitem open="false" id="treeevaluationoffre" >
					    <treerow>
					     <treecell id="cellevaluationoffre" image="/images/arrow.png" label="${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.evaluation')}" style="color:red;font-family: sans-serif; font-size: 14px"/>
					   </treerow>
					    <treechildren>
						 <treeitem id="treetransmissiondossier">
							<treerow>
							 <treecell id="celltransmissiondossier" image="/images/arrow.png" label="${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.evaluation.transmissiondossier.resume')}" tooltiptext="${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.evaluation.transmissiondossier')}" style="color:red;font-family: sans-serif; font-size: 14px" />
							</treerow>
						</treeitem>
						<treeitem id="treeverificationconformite">
							<treerow>
							  <treecell id="cellverificationconformite" image="/images/arrow.png" label="${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.evaluation.verificationconformite')}" tooltiptext="${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.evaluation.verificationconformite')}" style="color:red;font-family: sans-serif; font-size: 14px" />
							</treerow>
						</treeitem>
						<treeitem id="treenotestechniques">
							<treerow>
							  <treecell id="cellnotestechniques" image="/images/arrow.png" label="${c:l('kermel.plansdepassation.proceduresmarches.prestationintellectuelle.evaluationoffres.notestechniques')}" tooltiptext="${c:l('kermel.plansdepassation.proceduresmarches.prestationintellectuelle.evaluationoffres.saisienotestechniques')}" style="color:red;font-family: sans-serif; font-size: 14px" />
							</treerow>
						</treeitem>
						 <treeitem id="treerapportevaluation">
							<treerow>
							 <treecell id="cellrapportevaluation" image="/images/arrow.png" label="${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.evaluation.rapportevaluation')}" style="color:red;font-family: sans-serif; font-size: 14px" />
							</treerow>
						</treeitem>
<!-- 						 <treeitem id="treeclassement"> -->
<!-- 							<treerow> -->
<!-- 							 <treecell id="cellclassement" image="/images/arrow.png" label="${c:l('kermel.plansdepassation.proceduresmarches.prestationintellectuelle.evaluationoffres.classement')}" style="color:red;font-family: sans-serif; font-size: 14px" /> -->
<!-- 							</treerow> -->
<!-- 						</treeitem> -->
					   </treechildren>
					  </treeitem>
					   <treeitem  id="treeouvertureoffrefinancieres" >
							 <treerow>
								<treecell id="cellouvertureoffrefinancieres" image="/images/arrow.png" tooltiptext="${c:l('kermel.plansdepassation.proceduresmarches.prestationintellectuelle.ouvertureoffrefinancieres')}" label="${c:l('kermel.plansdepassation.proceduresmarches.prestationintellectuelle.ouvertureoffrefinancieres')}" style="color:red;font-family: sans-serif; font-size: 14px"/>
							 </treerow>
							  <treechildren>
							     <treeitem id="treelistepresencemembrescommissionsdp">
								    <treerow >
									  <treecell id="celllistepresencemembrescommissionsdp" image="/images/arrow.png" label="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis.presencecommissionsmarche')}" tooltiptext="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis.presencecommissionsmarches')}" style="color:red;font-family: sans-serif; font-size: 14px" />
								    </treerow>
								 </treeitem>
								  <treeitem id="treerepresentantssoumissionnairesdp">
								    <treerow >
									  <treecell id="cellrepresentantssoumissionnairesdp" image="/images/arrow.png" label="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis.presencerepresentantsoums')}" tooltiptext="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis.presencerepresentantsoum')}" style="color:red;font-family: sans-serif; font-size: 14px" />
								    </treerow>
							      </treeitem>
							      <treeitem id="treeoffresfinancieres">
								    <treerow >
									  <treecell id="celloffresfinancieres" image="/images/arrow.png" label="${c:l('kermel.plansdepassation.proceduresmarches.prestationintellectuelle.evaluationoffres.lecturesoffresfinancieres')}" tooltiptext="${c:l('kermel.plansdepassation.proceduresmarches.prestationintellectuelle.evaluationoffres.lecturesoffresfinancieres.description')}" style="color:red;font-family: sans-serif; font-size: 14px" />
								    </treerow>
							      </treeitem>
							       <treeitem id="treesaisiprixevalues">
								    <treerow >
									  <treecell id="cellsaisiprixevalues" image="/images/arrow.png" label="${c:l('kermel.plansdepassation.proceduresmarches.prestationintellectuelle.evaluationoffres.saisieprixevalues')}" tooltiptext="${c:l('kermel.plansdepassation.proceduresmarches.prestationintellectuelle.evaluationoffres.saisieprixevalues.description')}" style="color:red;font-family: sans-serif; font-size: 14px" />
								    </treerow>
							      </treeitem>
							       <treeitem id="treeclassementfinanciere">
							         <treerow>
							           <treecell id="cellclassementfinanciere" image="/images/arrow.png" label="${c:l('kermel.plansdepassation.proceduresmarches.prestationintellectuelle.evaluationoffres.classement')}" style="color:red;font-family: sans-serif; font-size: 14px" />
							        </treerow>
						           </treeitem>
							</treechildren>
					  </treeitem>
					   <treeitem id="treeclassementfinal">
						<treerow>
							<treecell id="cellclassementfinal" image="/images/arrow.png" label="${c:l('kermel.plansdepassation.proceduresmarches.prestationintellectuelle.evaluationoffres.classement')}" style="color:red;font-family: sans-serif; font-size: 14px" />
						</treerow>
					  </treeitem>
					   <treeitem  id="treeresultatnegociation" >
							 <treerow>
								<treecell id="cellresultatnegociation" image="/images/arrow.png" label="${c:l('kermel.plansdepassation.proceduresmarches.prestationintellectuelle.resultatnegociation')}" style="color:red;font-family: sans-serif; font-size: 14px"/>
							 </treerow>
					  </treeitem>
					  
					   <treeitem  id="treeattributionprovisoire" >
							 <treerow>
								<treecell id="cellattributionprovisoire" image="/images/arrow.png" label="${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.attribution')}" style="color:red;font-family: sans-serif; font-size: 14px"/>
							 </treerow>
					  </treeitem>
					   <treeitem  id="treesoumissionpourvalidationattributionprovisoire" >
							 <treerow>
								<treecell id="cellsoumissionpourvalidationattributionprovisoire" image="/images/arrow.png" label="${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.miseenvalidation')}" style="color:red;font-family: sans-serif; font-size: 14px"/>
							 </treerow>
					  </treeitem>
					   <treeitem  id="treepubattriprovisoire" >
							 <treerow>
								<treecell id="cellpubattriprovisoire" image="/images/arrow.png" tooltiptext="${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.pubattriprovisoire')}" style="color:red;font-family: sans-serif; font-size: 14px"/>
							 </treerow>
					  </treeitem>
					</treechildren>
				 </treeitem>
					
						  </treechildren>
					   </treeitem>
				 
				
				
				 <treeitem id="itemapprobation">
					<treerow>
					  <treecell id="cellapprobation" image="/images/arrow.png" label="${c:l('kermel.plansdepassation.proceduresmarches.prestationintellectuelle.traitementdossier.marche')}" style="color:red;font-family: sans-serif; font-size: 14px" />
					</treerow>
					<treechildren>
				      <treeitem open="false" id="treemavprojet" >
					    <treerow>
					     <treecell id="cellmavprojet" tooltiptext="${c:l('kermel.plansdepassation.proceduresmarches.prestationintellectuelle.mavprojet.detail')}" image="/images/arrow.png" label="${c:l('kermel.plansdepassation.proceduresmarches.prestationintellectuelle.mavprojet')}" style="color:red;font-family: sans-serif; font-size: 14px"/>
					   </treerow>
					  </treeitem>
					  <treeitem open="false" id="treesignaturemarche" >
					    <treerow>
					     <treecell id="cellsignaturemarche" image="/images/arrow.png" label="${c:l('kermel.plansdepassation.proceduresmarches.prestationintellectuelle.signaturemarche')}" style="color:red;font-family: sans-serif; font-size: 14px"/>
					   </treerow>
					  </treeitem>
					   <treeitem  id="treeapprobationprocedure" >
							 <treerow>
								<treecell id="cellapprobationprocedure" image="/images/arrow.png" label="${c:l('kermel.plansdepassation.proceduresmarches.prestationintellectuelle.approbationprocedure')}" style="color:red;font-family: sans-serif; font-size: 14px"/>
							 </treerow>
					  </treeitem>
					  <treeitem id="itemimmatriculation">
					<treerow>
					  <treecell id="cellimmatriculation" image="/images/arrow.png" label="${c:l('kermel.plansdepassation.proceduresmarches.prestationintellectuelle.immatriculation')}" style="color:red;font-family: sans-serif; font-size: 14px" />
					</treerow>
				 </treeitem>
					   <treeitem  id="treenotificationmarche" >
							 <treerow>
								<treecell id="cellnotificationmarche" image="/images/arrow.png" label="${c:l('kermel.plansdepassation.proceduresmarches.prestationintellectuelle.notificationmarche')}" style="color:red;font-family: sans-serif; font-size: 14px"/>
							 </treerow>
					  </treeitem>
					  <treeitem  id="treepubattribdefinitive" >
							 <treerow>
								<treecell id="cellpubattribdefinitive" image="/images/arrow.png" label="${c:l('kermel.plansdepassation.proceduresmarches.approbation.pubattribdefinitive')}" style="color:red;font-family: sans-serif; font-size: 14px"/>
							 </treerow>
					  </treeitem>
					</treechildren>
				 </treeitem>
				  
				</treechildren>
			 </treeitem>
			<treeitem open="false" id="treerecours" >
				<treerow>
					<treecell id="cellrecours" label="${c:l('kermel.plansdepassation.proceduresmarches.prestationintellectuelle.recours')}" style="color:#000;font-family: sans-serif; font-size: 14px"/>
				</treerow>
			</treeitem>
			<treeitem open="false" id="treedocuments" >
				<treerow>
					<treecell id="celldocuments" label=" ${c:l('kermel.plansdepassation.proceduresmarches.prestationintellectuelle.documents')}" style="color:#000;font-family: sans-serif; font-size: 14px"/>
				</treerow>
			</treeitem>
			<treeitem open="false" id="treejournalevenements" >
				<treerow>
					<treecell id="celljournalevenements" label="${c:l('kermel.plansdepassation.proceduresmarches.prestationintellectuelle.journalevenements')}" style="color:#000;font-family: sans-serif; font-size: 14px"/>
				</treerow>
			</treeitem>
		</treechildren>
	</tree>
	</vbox>
				        </panelchildren>
				    </panel>
		</west>
		<center style="background-image:url(/Ohada-WEB/images/background.png);background-repeat:repeat-x;" autoscroll="true">
					<div style="width:100%;margin-top:0%;margin-left:0%;height:100%" >
			 <panel  border="normal" width="1OO%" >
                <panelchildren>
               <vbox spacing="0" width="100%"  heights="10%,90%">

                   <groupbox id="gb" mold="3d" width="100%" closable="false">

				<vbox width="100%" height="100%">
           <n:fieldset>
			  <n:legend ><label id="lgtitre" /></n:legend>
			  <n:table width="100%">
			   <n:tr>
			     <n:td width="19%">${c:l('kermel.plansdepassation.passationsmarches.objets')}</n:td>
			     <n:td width="1%">:</n:td>
			     <n:td width="40%"> <label id="lblObjets" /> </n:td>
			     <n:td width="14%"> ${c:l('kermel.referentiel.modepassation')} </n:td>
			     <n:td width="1%">:</n:td>
				<n:td width="25%"><label id="lblModePassation" /></n:td>
			   </n:tr>
			   <n:tr>
			   <n:td align="left"> ${c:l('kermel.plansdepassation.passationsmarches.montantestime')} </n:td>
			   <n:td >:</n:td>
			   <n:td ><label id="lblMontant" /> </n:td>
			   <n:td align="left"> ${c:l('kermel.referentiel.modeselection')} </n:td>
			    <n:td >:</n:td>
				<n:td><label id="lblModeSelection" /> </n:td>
			   </n:tr>
			   <n:tr>
			   <n:td align="left"> ${c:l('kermel.referentiel.typesmarche')} </n:td>
			   <n:td >:</n:td>
			    <n:td > <label id="lblType" /> 	</n:td>
			    <n:td >${c:l('kermel.plansdepassation.proceduresmarches.preparation.mevalidation.creerle')}</n:td>
				<n:td >:</n:td>
				<n:td><label id="lblDatecreation" /></n:td>
							   </n:tr>
			  </n:table>
					
</n:fieldset>
				</vbox>

			</groupbox>
                    <splitter id="s1" collapse="before"/>
                   <div align="center">
														<include id="idinclude"/>
												</div>
                </vbox>
                
        </panelchildren>
    </panel>
			   <div>
			   		
			   </div>
			
												
		</div>
			
		</center>
	</borderlayout>
</window>
</zk>