<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window height="500px" width="100%" use="sn.ssi.kermel.web.prestationintellectuelle.controllers.DossiersTermeareferenceController">
	<vbox width="100%" heights="100%">
			<vbox width="100%" height="500px">
			
				<tabbox width="100%" use="sn.ssi.kermel.web.common.components.TabProcedurespi">
					<tabs width="170px">
						<tab  closable="false" id="TAB_infosgenerales"  label="${c:l('kermel.plansdepassation.proceduresmarches.prestationintellectuelle.infosgenerales')}"/>
						<tab  closable="false" 	id="TAB_criteresqualifications" label="${c:l('kermel.plansdepassation.proceduresmarches.prestationintellectuelle.criteresnotations')}"/>
					</tabs>
					<tabpanels>
						<tabpanel id="tabinfosgenerales">
							<include id="incinfosgenerales" />
						</tabpanel>
						<tabpanel id="tabcriteresqualifications">
							<include id="inccriteresqualifications" />
						</tabpanel>
                       
					
					</tabpanels>
				</tabbox>

			</vbox>

		</vbox>


	</window>
</zk>