<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window width="100%" title="" height="500px"
		use="sn.ssi.kermel.web.prestationintellectuelle.controllers.LectureOffreController">
		<borderlayout height="100%">
			<center>
				<div height="100%">
					<div id="step0" height="100%">
						<borderlayout height="100%">
							<north>
								<hbox widths="85%,*" width="100%" height="25px" spacing="0px">
<!-- 									<menubar height="25px"> -->
<!-- 										<menuitem image="/images/add.png" label="${c:l('kermel.common.form.ajouter')}" id="menuAjouter" /> -->
<!-- 										<menuitem image="/images/disk.png"  label="${c:l('kermel.common.form.modifier')}" 	id="menuModifier" /> -->
<!-- 										<menuitem image="/images/delete.png" label="${c:l('kermel.common.form.supprimer')}" id="menuSupprimer" /> -->
<!-- 									</menubar> -->
			                     </hbox>
							</north>

							<center>
								<div style="width:98%;margin-left:1%;margin-top:1%;margin-right:1%;">
			<div style="margin-top:4%" >
					<label  style="color:#000;" sclass="complex-layout-header-label"   value="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis.lectureoffres')}" />
		             </div>
		            
				<listbox  id="lstListe" checkmark="false" ="true">
						<listhead >
						    <listheader label="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis.lectureoffres.numeroplis')}" width="10%" />
							<listheader label="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis.lectureoffres.raisonsocial')}" width="60%" />
							<listheader label="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis.lectureoffres.pays')}" width="20%" />
						  	<listheader label="" width="5%" />
					    	<listheader label="" width="5%" />
						</listhead>
					</listbox>
				</div>
							</center>
							<south size="25px">
								<vbox width="100%" height="100%" heights="80%,*">
									<paging id="pgPagination" />
								</vbox>
							</south>
						</borderlayout>
					</div>
					<div id="step1" height="100%" visible="false">
						<borderlayout height="100%">
							<north>
								<hbox widths="90%,*" width="100%" height="25px" spacing="0px">
									<menubar height="100%">
										<menuitem image="/images/ok.png" label="${c:l('kermel.common.form.valider')}" id="menuValider" />
										<menuitem image="/images/cancel.png" label="${c:l('kermel.common.form.fermer')}" id="menuFermer" />
										
									</menubar>
								</hbox>

							</north>
							<center>
				<div style="width:80%;margin-left:10%;margin-top:5%;margin-right:10%;">
										<n:table>
										<n:tr>
			          <n:td  width="29%">${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis.lectureoffres.numeroplis')}</n:td>
			          <n:td width="1%">:</n:td>
			          <n:td width="70%"><intbox id="txtnumplis"  cols="10" readonly="true"/><label  value="*" style="color:red;"/></n:td>
			        </n:tr>
										 <n:tr>
			          <n:td>${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis.lectureoffres.raisonsocial')}</n:td>
			          <n:td >:</n:td>
			      
			          <n:td ><textbox id="txtRaisonsocial" readonly="true" cols="60"/>  </n:td>
			         
			        </n:tr>
			       
			     
			         <n:tr>
			          <n:td >${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis.lectureoffres.pays')}</n:td>
			          <n:td >:</n:td>
			      
			          <n:td >
			              <textbox id="txtPays"  readonly="true" />
					  </n:td>
			         
			        </n:tr>
			       
			        
			         <n:tr>
							       <n:td>${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis.lectureoffres.lettresoumission')}</n:td>
							       <n:td>:</n:td>
							        <n:td ><hbox>
							        <radiogroup id="rdlettresoumission">
	  					           	<hbox>
	  							    <radio id="rdsoumoui" label="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis.lectureoffres.oui')}" />
	  							    <radio id="rdsoumnon" label="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis.lectureoffres.non')}" />
	  							</hbox></radiogroup><label  value="*" style="color:red;"/></hbox></n:td>
							     </n:tr>
							     
			         <n:tr>
							       <n:td>${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis.lectureoffres.offretechnique')}</n:td>
							       <n:td>:</n:td>
							        <n:td ><hbox>
							        <radiogroup id="rdoffretechnique">
	  					           	<hbox>
	  							    <radio id="rdoftoui" label="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis.lectureoffres.oui')}" />
	  							    <radio id="rdoftnon" label="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis.lectureoffres.non')}" />
	  							</hbox></radiogroup><label  value="*" style="color:red;"/></hbox></n:td>
							     </n:tr>
							      <n:tr>
							       <n:td>${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis.lectureoffres.offreoffrefinanciere')}</n:td>
							       <n:td>:</n:td>
							        <n:td ><hbox>
							        <radiogroup id="rdoffreoffrefinanciere">
	  					           	<hbox>
	  							    <radio id="rdoffoui" label="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis.lectureoffres.oui')}" />
	  							    <radio id="rdoffnon" label="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis.lectureoffres.non')}" />
	  							</hbox></radiogroup><label  value="*" style="color:red;"/></hbox></n:td>
							     </n:tr>
						</n:table>
								
									</div>

							</center>
							<south size="50">
			<vbox  width="100%" spacing="5px">
				  <hbox widths="40%,2%,2%,46%,10%">  
					    <label/>
						<label  value="(" />
						<label  value="*" style="color:red;"/>
						<label  value=") = ${c:l('kermel.common.form.champs.obligatoire')}" />
						<label/>
					</hbox>
					 <hbox>
					   <label id="lbStatusBar" />
					 </hbox>
					 </vbox>
			</south>

						</borderlayout>
					</div>
					
					
				</div>
			</center>
		</borderlayout>
	</window>
</zk>