<?page title="Atlantis"?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window height="500px" width="100%"  use="sn.ssi.kermel.web.prestationintellectuelle.controllers.NotificationMarcheController">

		<borderlayout height="100%">
			<center>
			<div style="width:90%;margin-left:5%;margin-top:1%;margin-right:5%;">
			<n:table>
							    
							      <n:tr>
							       <n:td  width="39%">${c:l('kermel.plansdepassation.proceduresmarches.approbation.notificationmarche.date')}</n:td>
							       <n:td  width="1%">:</n:td>
							        <n:td width="60%"><datebox id="dtdatepublication"  /><label  value="*" style="color:red;"/></n:td>
							     </n:tr>
							       <n:tr>
							       <n:td >${c:l('kermel.plansdepassation.proceduresmarches.approbation.notificationmarche.reference')}</n:td>
							       <n:td>:</n:td>
							       <n:td >
							              <textbox id="txtreferences"  /> <label  value="*" style="color:red;"/>
							         </n:td>
							     </n:tr>
							       <n:tr>
							       <n:td >${c:l('kermel.plansdepassation.proceduresmarches.preparation.publication.commentairespub')}</n:td>
							       <n:td>:</n:td>
							       <n:td >
							              <textbox id="txtcommentaires"  cols="60" rows="5"/> 
							         </n:td>
							     </n:tr>
							   
			</n:table>
					
				</div>
			</center>
			<north>
				<vbox width="100%" height="100%" spacing="0px">
<menubar>
                      		<menuitem  image="/images/ok.png" label="${c:l('kermel.common.form.valider')}" id="menuValider"/>
						
					</menubar>
					<hbox height="100%"  width="100%" >
					<div style="margin-top:3%" >
					<label  style="color:#000;" sclass="complex-layout-header-label"   value="${c:l('kermel.plansdepassation.proceduresmarches.approbation.notificationmarche.titre')}"/>
		             </div>
				     
					
			</hbox>				
				</vbox>
			</north>
			<south size="50">
			<vbox  width="100%" spacing="5px">
				  <hbox widths="40%,2%,2%,46%,10%">  
					    <label/>
						<label  value="(" />
						<label  value="*" style="color:red;"/>
						<label  value=") = ${c:l('kermel.common.form.champs.obligatoire')}" />
						<label/>
					</hbox>
					 <hbox>
					   <label id="lbStatusBar" />
					 </hbox>
					 </vbox>
			</south>
		</borderlayout>
	</window>
</zk>
