<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window width="100%" title="" height="450px"
		use="sn.ssi.kermel.web.prestationintellectuelle.controllers.PiecessoumissionnairesController">
		<borderlayout height="100%">
			<center>
				<div height="100%">
					<div id="step0" height="100%">
						<borderlayout height="100%">
							<north>
								<hbox widths="85%,*" width="100%" height="25px" spacing="0px">
									<menubar height="25px">
										<menuitem image="/images/disk.png" label="${c:l('kermel.common.form.modifier')}" id="menuModifier" />
									</menubar>
			                     </hbox>
							</north>

							<center>
								<div style="width:98%;margin-left:1%;margin-right:1%;">
			<div style="margin-top:3%" >
					<label  style="color:#000;" sclass="complex-layout-header-label"   value="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis.piecesadministratives.controles')}" />
		             </div>
		             <label value="F:${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis.piecesadministratives.fournie')}        NF:${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis.piecesadministratives.noufournie')}"/>
					<grid fixedLayout="true" width="100%" oddRowSclass="myodd" id="grdListes" action="onmousedown:gridHandler(event,#{rowid})">
						<columns>
							<column width="2%" />							
							<column  width="98%" id="idgride"/>
						</columns>
					</grid>		
			
				</div>
							</center>
							<south size="25px">
								<vbox width="100%" height="100%" heights="80%,*">
									<paging id="pgPagination"/>
								</vbox>
							</south>
						</borderlayout>
					</div>
					
					<div id="step1" height="100%">
						<borderlayout height="100%">
							<north>
								<hbox widths="85%,*" width="100%" height="25px" spacing="0px">
									<menubar height="25px">
										<menuitem image="/images/ok.png" label="${c:l('kermel.common.form.valider')}" id="menuValider" />
										<menuitem image="/images/cancel.png" label="${c:l('kermel.common.form.fermer')}" id="menuFermer" />
									</menubar>
			                     </hbox>
							</north>

							<center>
								<div style="width:98%;margin-left:1%;margin-right:1%;margin-top:1%;">
				 <listbox  id="lstListe" checkmark="true" ="true">
						<listhead >
							<listheader label="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.registreretrait.raisonsocial')}" width="70%" />
							<listheader label="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis.piecesadministratives.piece')}" width="30%" />
							
						</listhead>
					</listbox>
				</div>
							</center>
							<south size="25px">
								<vbox width="100%" height="100%" heights="80%,*">
									<paging id="pgListe"/>
								</vbox>
							</south>
						</borderlayout>
					</div>
					
				</div>
			</center>
		</borderlayout>
	</window>
</zk>