<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window width="100%" title="" height="500px"
		use="sn.ssi.kermel.web.prestationintellectuelle.controllers.RegistreDepotDPController">
		<borderlayout height="100%">
			<center>
				<div height="100%">
					<div id="step0" height="100%">
						<borderlayout height="100%">
							<north>
								 <hbox widths="85%,*" width="100%" height="25px" spacing="0px">
									<menubar height="25px">
										<menuitem image="/images/add.png" label="${c:l('kermel.common.form.ajouter')}" id="menuAjouter" />
										<menuitem image="/images/disk.png" label="${c:l('kermel.common.form.modifier')}" id="menuModifier" />
										<menuitem image="/images/delete.png" label="${c:l('kermel.common.form.supprimer')}" id="menuSupprimer" />
										<menuitem image="/images/zoom.png" label="${c:l('kermel.common.form.editer')}" id="menuEditer" />
									</menubar>
			                     </hbox>
							</north>

							<center>
								<div style="width:98%;margin-left:1%;margin-top:1%;margin-right:1%;">
			<div style="margin-top:4%" >
					<label  style="color:#000;" sclass="complex-layout-header-label"   value="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.registredepot')}" />
		             </div>
		            
				<listbox  id="lstListe" checkmark="true" ="true">
						<listhead >
						    <listheader label="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.registredepot.numeroplis')}" width="10%" />
							<listheader label="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.registredepot.raisonsocial')}" width="35%" />
							<listheader label="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis.lectureoffres.pays')}" width="15%" />
							<listheader label="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.registredepot.telephone')}" width="10%" />
							<listheader label="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.registredepot.email')}" width="14%" />
							<listheader label="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.registredepot.datedepot')}" width="8%" />
						     <listheader label="${c:l('kermel.contentieux.Heure')}" width="8%" />
						</listhead>
					</listbox>
				</div>
							</center>
							<south size="25px">
								<vbox width="100%" height="100%" heights="80%,*">
									<paging id="pgPagination" />
								</vbox>
							</south>
						</borderlayout>
					</div>
					<div id="step1" height="100%" visible="false">
						<borderlayout height="100%">
							<north>
								<hbox widths="90%,*" width="100%" height="25px" spacing="0px">
									<menubar height="100%">
										<menuitem image="/images/ok.png" label="${c:l('kermel.common.form.valider')}" id="menuValider" />
										<menuitem image="/images/cancel.png" label="${c:l('kermel.common.form.fermer')}" id="menuFermer" />
										
									</menubar>
								</hbox>

							</north>
							<center>
<div style="width:98%;margin-left:1%;margin-top:1%">
										
					  <n:table>
						<n:tr>
			              <n:td  width="29%">${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.registredepot.numeroordrearrivee')}</n:td>
			              <n:td width="1%">:</n:td>
			              <n:td width="70%"><intbox id="numero"  cols="10"/><label  value="*" style="color:red;"/></n:td>
			            </n:tr>
			             <n:tr>
			              <n:td >${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.registredepot.nomcandidat')}</n:td>
			              <n:td >:</n:td>
			              <n:td >
							              <bandbox id="bdCandidat" mold="default" autodrop="true" buttonVisible="true" readonly="true" width="350px">
								             <bandpopup>
									           <vbox>
										         <hbox>
											        ${c:l('kermel.common.form.rechercher') }
											          <textbox id="txtRechercherCandidat" value="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.registredepot.nomcandidat')}" />
											            <button image="/images/zoom.png" id="btnRechercherCandidat"/>
										         </hbox>
										         <listbox width="350px" id="lstCandidat"/>
										         <paging id="pgCandidat" detailed="true"/>
									           </vbox>
								           </bandpopup>
							            </bandbox><label  value="*" style="color:red;"/>
							         </n:td>
			         
			           </n:tr>
			           <n:tr>
			              <n:td >${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis.lectureoffres.pays')}</n:td>
			              <n:td >:</n:td>
			              <n:td ><textbox id="txtPays" readonly="true"/></n:td>
			            </n:tr>
			           <n:tr>
			              <n:td >${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.registredepot.modereceptionplis')}</n:td>
			              <n:td >:</n:td>
			              <n:td >
			                 <combobox id="cbmodereception" width="200px" value="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.registredepot.modereceptionplis.courrier')}" readonly="true">
 									<comboitem label="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.registredepot.modereceptionplis.courrier')}" id="courriers"/> 
									
							 </combobox> 
			              <label  value="*" style="color:red;"/></n:td>
			            </n:tr>
			            <n:tr>
			              <n:td >${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.registredepot.datereceptionplis')}</n:td>
			              <n:td >:</n:td>
			              <n:td ><datebox id="datedepot" /><label  value="*" style="color:red;"/>
			              ${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.registredepot.heurereceptionplis')}:
			              <timebox id="heuredepot"  /><label  value="*" style="color:red;"/></n:td>
			            </n:tr>
			             <n:tr>
			              <n:td >${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.registredepot.observations')}</n:td>
			              <n:td >:</n:td>
			              <n:td ><textbox id="observations"  cols="60" rows="4"/></n:td>
			            </n:tr>
			             <n:tr>
			              <n:td >${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.registredepot.observationsdechargecandidat')}</n:td>
			              <n:td >:</n:td>
			              <n:td ><textbox id="observationsdechargecandidat"  cols="60" rows="4"/></n:td>
			            </n:tr>
			         </n:table>
									</div>

							</center>
						<south size="50">
			<vbox  width="100%" spacing="5px">
				  <hbox widths="40%,2%,2%,46%,10%">  
					    <label/>
						<label  value="(" />
						<label  value="*" style="color:red;"/>
						<label  value=") = ${c:l('kermel.common.form.champs.obligatoire')}" />
						<label/>
					</hbox>
					 <hbox>
					   <label id="lbStatusBar" />
					 </hbox>
					 </vbox>
			</south>

						</borderlayout>
					</div>
					<div id="step2" height="100%" visible="false">
						<borderlayout height="100%">
							<north>
								<hbox widths="90%,*" width="100%" height="25px" spacing="0px">
									<menubar height="25px">
											<menuitem label="${c:l('kermel.common.form.fermer')}" image="/images/cancel.png" id="menuCancel"/>
									</menubar>
									
								</hbox>
							</north>
							<center autoscroll="true">
								<vbox width="100%">
									<iframe id="iframe" width="100%" height="600px" scrolling="auto"/>
								</vbox>								
							</center>
							<south>
								
							</south>
						</borderlayout>
					</div>
					
				</div>
			</center>
		</borderlayout>
	</window>
</zk>