<?page title="" contentType="text/html;charset=UTF-8"?>
<zk>
<window title="" border="normal" height="300px" width="100%" use="sn.ssi.kermel.web.common.controllers.AbstractWindow">
	<borderlayout height="100%">
		<center>
		<div width="50%" height="300px">
			<chart id="barchart" title="" width="500" height="200"
        type="bar" threeD="false" fgAlpha="128">
    <zscript><![CDATA[
        CategoryModel catmodel = new SimpleCategoryModel();
        catmodel.setValue("2013", "RDAO", new Integer(20));
        catmodel.setValue("2013", "VAP", new Integer(35));
        catmodel.setValue("2013", "EJT", new Integer(40));
        catmodel.setValue("2013", "VDPD", new Integer(55));
        catmodel.setValue("2013", "VAV", new Integer(40));
        catmodel.setValue("2013", "DIM", new Integer(60));
        catmodel.setValue("2013", "VNPPM", new Integer(70));
        catmodel.setValue("2013", "VMPPM", new Integer(90));
        
        catmodel.setValue("2014", "RDAO", new Integer(24));
        catmodel.setValue("2014", "VAP", new Integer(45));
        catmodel.setValue("2014", "EJT", new Integer(46));
        catmodel.setValue("2014", "VDPD", new Integer(58));
        catmodel.setValue("2014", "VAV", new Integer(48));
        catmodel.setValue("2014", "DIM", new Integer(68));
        catmodel.setValue("2014", "VNPPM", new Integer(79));
        catmodel.setValue("2014", "VMPPM", new Integer(99));
        barchart.setModel(catmodel);
    ]]></zscript>
</chart>
</div>
		</center>
		
	</borderlayout>
</window>
</zk>