<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<?page title="new page title" contentType="text/html;charset=UTF-8"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window border="normal" height="600px" width="100%" use="sn.ssi.kermel.web.referentiel.controllers.ListModuleController">
		<borderlayout height="100%">
			<center>
			<div style="width:98%;margin-top:1%;margin-left:1%;margin-right:1%;">
			  <div style="margin-top:5%" >
							<label    style="color:green;" sclass="complex-layout-header-label"  value="${c:l('kermel.module.liste')}" />
			            </div>
			
				<listbox width="100%" id="list" checkmark="true">
					<listhead >
					<listheader label="${c:l('kermel.module.code')} " width="10%" />		
					<listheader label="${c:l('kermel.module.lib')} "  id="lshLib" width="40%" />	
			        <listheader label="${c:l('kermel.module.cibl')} " width="15%" />	
				    <listheader label="${c:l('kermel.module.vol')} " width="10%" />	
				    <listheader label="${c:l('kermel.module.obj')} " width="15%" />	
				    <listheader label="${c:l('kermel.module.pre')} " width="15%" />		
					<listheader label="${c:l('kermel.module.prog')} " width="5%"  />
					</listhead>
				</listbox>
				</div>
			</center>
			
			<north size="50">
				<vbox width="100%">
					<hbox width="100%" widths="5%,5%,5%,10%,*" sclass="z-menubar-hor">
<!-- 						<menubar> -->
<!-- 							<menuitem image="/images/add.png" -->
<!-- 								label="Ajouter" forward="onAdd">								 -->
<!-- 							</menuitem> -->
<!-- 							<menuitem image="/images/disk.png" -->
<!-- 								label="Modifier" forward="onEdit"> -->
<!-- 							</menuitem> -->
<!-- 							<menuitem image="/images/delete.png" -->
<!-- 								label="Supprimer" forward="onDelete"> -->
<!-- 							</menuitem> -->
<!-- 						</menubar> -->
						<kermelsousmenu id="monSousMenu"/>
						<hbox>			
 							 
 							 <textbox id="txtCode" value="${c:l('kermel.module.code')}"></textbox> 
 							  <textbox id="txtLib" value="${c:l('kermel.module.lib')}"></textbox> 
 							 <button id="bchercher" tooltiptext="Chercher" image="/images/find.png"/> 
			  			</hbox>
					</hbox>
					
					<hbox height="100%" widths="90%,*" width="100%" >
						
						
					</hbox>	
					
				</vbox>
			</north>
			<south size="10%">
				<paging id="pg" detailed="true"></paging>
			</south>
		</borderlayout>

	</window>
</zk>