<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window width="100%" title="" height="500px"
		use="sn.ssi.kermel.web.aoodeuxetapes.controllers.PublicationdossierController">
		<borderlayout height="100%">
			<center>
				<div height="100%">
					<div id="step0" height="100%">
						<borderlayout height="100%">
						<north>
				<vbox width="100%" height="100%" spacing="0px">
<menubar>
                      		<menuitem  image="/images/ok.png" label="${c:l('kermel.common.form.valider')}" id="menuValider"/>
						
					</menubar>
					<hbox height="100%"  width="100%" >
					<div style="margin-top:3%" >
					<label  style="color:#000;" sclass="complex-layout-header-label"   id="lbltitre"/>
		             </div>
				     
					
			</hbox>				
				</vbox>
			</north>

							<center>
					 <div style="width:90%;margin-left:5%;margin-top:1%;margin-right:5%;">
			<n:table>
			
							 
							    
							      <n:tr>
							       <n:td width="34%">${c:l('kermel.plansdepassation.proceduresmarches.preparation.publication.date')}</n:td>
							       <n:td width="1%">:</n:td>
							        <n:td width="65%"><datebox id="dtdatepublication"  cols="30" /><label  value="*" style="color:red;"/></n:td>
							     </n:tr>
							     <n:tr>
					  <n:td >${c:l('kermel.plansdepassation.proceduresmarches.preparation.dossiers.infos.avisappelsoffre')}</n:td>
					  <n:td  >:</n:td>
					  <n:td  > <textbox id="txtVersionElectronique" width="300px" />
						
						<button label="..."  id="btnChoixFichier" image="/images/FileDownload-24x24.png"  style="backgroung-color:#000;"/><label  value="*" style="color:red;"/>
                  <image id="image" />
                    </n:td>                    
				</n:tr>
				
							       <n:tr>
							       <n:td>${c:l('kermel.plansdepassation.proceduresmarches.preparation.publication.question')}</n:td>
							       <n:td>:</n:td>
							        <n:td ><hbox>
							        <radiogroup>
	  						<hbox>
	  							<radio id="rdOui" label="${c:l('kermel.plansdepassation.proceduresmarches.preparation.publication.question.oui')}" />
	  							<radio id="rdNon" label="${c:l('kermel.plansdepassation.proceduresmarches.preparation.publication.question.non')}" selected="true"/>
	  						</hbox></radiogroup><label  value="*" style="color:red;"/></hbox></n:td>
							     </n:tr>
							     <n:tr>
							       <n:td >${c:l('kermel.plansdepassation.proceduresmarches.preparation.publication.commentairespub')}</n:td>
							       <n:td  >:</n:td>
							       <n:td > <textbox id="txtcommentaires"  cols="60" rows="5"/>  </n:td>
							     </n:tr>
			</n:table>
					
				</div>
							</center>
							<south size="50">
			<vbox  width="100%" spacing="5px">
				  <hbox widths="40%,2%,2%,46%,10%">  
					    <label/>
						<label  value="(" />
						<label  value="*" style="color:red;"/>
						<label  value=") = ${c:l('kermel.common.form.champs.obligatoire')}" />
						<label/>
					</hbox>
					 <hbox>
					   <label id="lbStatusBar" />
					 </hbox>
					 </vbox>
			</south>
						</borderlayout>
					</div>
					<div id="step1" height="100%" visible="false">
						<borderlayout height="100%">
							<north>
								<hbox widths="90%,*" width="100%" height="25px" spacing="0px">
									<menubar height="100%">
										<menuitem image="/images/cancel.png" label="${c:l('kermel.common.form.fermer')}" id="menuFermer" />
										
									</menubar>
								</hbox>

							</north>
							<center>

								<div style="width:90%;margin-left:5%;margin-top:1%">
									<iframe id="idIframe" width="100%" height="600px" scrolling="auto" />
								</div>
								

							</center>
							<south size="25">
			
			</south>

						</borderlayout>
					</div>
					
					
				</div>
			</center>
		</borderlayout>
	</window>
</zk>