<?page title=""?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window height="600px" id="winFormReleve" border="normal" width="100%"  title=""  use="sn.ssi.kermel.web.dspaoo.controllers.ClassementFinaleController">
		<borderlayout height="100%">
			
			<center autoscroll="true">
				<div height="100%">
	
					<div id="step1" height="100%" visible="true">

					<borderlayout height="100%">
						<center autoscroll="true">
						<div style="width:98%;margin-left:1%;margin-top:1%;margin-right:1%;">			
							<div style="margin-top:4%" >
					<label  style="color:#000;" sclass="complex-layout-header-label"   value="${c:l('kermel.plansdepassation.proceduresmarches.classementparlot')}" />
		             </div>
							
							<grid id="GridLots" align="left">																			
										<columns>
											<column label="${c:l('kermel.plansdepassation.proceduresmarches.travauxdrp.lotslot')}" width="40%"  />
											<column label="${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.evaluation.correctionoffres.montantlu')}" width="15%" align="center" />
											<column label="${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.evaluation.correctionoffres.montantdevise')}" width="15%" align="center" />
										    <column label="${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.evaluation.classementfinal.qualification')}" width="15%" align="center"  />	
											<column label="${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.evaluation.classementfinal.attributaire')}" width="15%" align="center"  />	
																			
										</columns>
									</grid>
							
							
							</div>
						</center>
						<south>
						
						</south>
					</borderlayout>
				

					</div>
				</div>
				
			</center>
			<south size="20px">
							<vbox width="100%" height="100%"
								heights="80%,*">
								<label width="100%"
									style="margin-bottom:5px" id="lbStatusBarStep5">
								</label>
							</vbox>
						</south>
		</borderlayout>


	</window>
</zk>