    <?page title="Atlantis"?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window height="500px" width="100%"  use="sn.ssi.kermel.web.dspaoo.controllers.RevueDAOController">

		<borderlayout height="100%">
			<center>
			<div style="width:98%;margin-top:1%;margin-left:1%;margin-right:1%;">
			<listbox  id="lstListe" checkmark="false" ="false">
						 <listhead >
						
							<listheader label="${c:l('kermel.contentieux.AC')}" width="30%" />
							<listheader label="${c:l('kermel.referentiel.courrier.reference')}" width="10%" />
							<listheader label="${c:l('kermel.plansdepassation.passationsmarches.objets')}" width="30%"  />
							<listheader label="${c:l('kermel.referentiel.modepassation')}" width="15%"  />
							<listheader label="${c:l('kermel.plansdepassation.passationsmarches.montantestime')}" width="12.5%" align="center" />
						     <listheader label="" width="2.5%" align="center" />
						    
						 </listhead>
					</listbox>
				
					
					
				</div>
			</center>
			<north>
				<vbox width="100%" height="100%" spacing="0px">
			    <hbox  sclass="z-menubar-hor" height="100%" spacing="0px" width="100%">
					<textbox id="txtDenomination"  value="${c:l('kermel.autoritecontractante.libelle')}"/>
							${c:l('kermel.plansdepassation.proceduresmarches.dossiers.gestion')} <intbox id="intgestion" cols="10" /> 
				      <button id="btnchercher" tooltiptext="${c:l('kermel.common.form.rechercher')}" image="/images/find.png"/>
						</hbox>	
					
				</vbox>
			</north>
			<south size="75">
				<paging id="pgPagination"/>
			</south>
		</borderlayout>
	</window>
</zk>
