<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<?page title="" contentType="text/html;charset=UTF-8"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window title="" border="normal" width="100%" height="600px" use="sn.ssi.kermel.web.referentiel.controllers.FormListeRougeFournisseurController">
		<borderlayout>
			<north>
				<vbox width="100%">
					<hbox width="100%">
						<menubar>
						<menuitem id="menuValider" image="/images/ok.png" label="${c:l('kermel.common.form.valider')}" forward="onOK"/>
						<menuitem id="menuFermer" image="/images/cancel.png" label="${c:l('kermel.common.form.fermer')}" forward="onClose"/>
					</menubar>
					</hbox>
					
				</vbox>
			</north>
			<center>
				<div style="width:90%;margin-left:5%;margin-top:1%;margin-right: 5%;">
					<n:table>
					
					<n:tr>
						 <n:td width="24%">Choisir la décision</n:td>
							  <n:td width="1%">:</n:td>
							            <n:td width="75%">
							            
			                               <bandbox id="bdDecision" mold="default" constraint="no empty" autodrop="true" buttonVisible="true" readonly="true" width="400px">
								             <bandpopup>
									           <vbox>
										         <hbox>
											        ${c:l('kermel.common.form.rechercher') }
											          <textbox id="txtRechercherDecision" value="${c:l('kermel.referentiel.common.code.categorie')}" />
											            <button image="/images/zoom.png" id="btnRechercherCategorie"/>
										         </hbox>
										         <listbox width="400px" id="lstDecision"/>
										         <paging id="pgDecision" detailed="true"/>
									           </vbox>
								           </bandpopup>
							            </bandbox><label   id="idlibelle"/>
							         </n:td>
						            </n:tr>
					
						 <n:tr>
								<n:td >Ref </n:td>
								<n:td  align="right">:</n:td>
								<n:td ><textbox id="txtRef"   cols="60" constraint="no empty" /><label  value="*" style="color:red;"/></n:td>
								
						</n:tr>
					  
						
						<n:tr>
								<n:td>Ninea</n:td>
								<n:td align="right">:</n:td>
								<n:td ><textbox id="txtNinea"   cols="60"  constraint="no empty"/></n:td>
								
						</n:tr>
						
						<n:tr>
								<n:td>Raison Sociale</n:td>
								<n:td align="right">:</n:td>
								<n:td ><textbox id="txtRaisonsociale"   cols="60" rows="5" constraint="no empty"/></n:td>
								
						</n:tr>
				
				
				         <n:tr>
								<n:td>Motif </n:td>
								<n:td align="right">:</n:td>
								<n:td ><textbox id="txtMotif"   cols="60" rows="5" constraint="no empty"/></n:td>
								
						</n:tr>
				
				
				
				      		<n:tr>
								<n:td>Date  début </n:td>
								<n:td align="right">:</n:td>
								<n:td ><datebox id="dtdebut" constraint="no empty" /></n:td>
								
						</n:tr>
						
						<n:tr>
								<n:td>Date fin </n:td>
								<n:td align="right">:</n:td>
								<n:td ><datebox id="dtfin" constraint="no empty" /></n:td>
								
						</n:tr>
						
						
						 <n:tr>
								<n:td>Commentaire </n:td>
								<n:td align="right">:</n:td>
								<n:td ><textbox id="txtCommentaire"   cols="60" rows="5" constraint="no empty"/></n:td>
								
						</n:tr>
				
				 </n:table>
				</div> 
			</center>
			<south size="50px">
				<vbox  width="100%" spacing="5px">
					<hbox widths="40%,2%,2%,46%,10%">
					    <label/>
						<label  value="(" />
						<label  value="*" style="color:red;"/>
						<label  value=") = ${c:l('kermel.common.form.champs.obligatoire')}" />
						<label/>
					</hbox>
					 <hbox>
					   <label id="lbStatusBar" />
					 </hbox>
				</vbox>
			</south>
			
		</borderlayout>
	</window>
</zk>