<?page title="Atlantis"?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window height="750px" width="100%"  use="sn.ssi.kermel.web.referentiel.controllers.ListeRougeFournisseurController">

		<borderlayout height="100%">
			<center>
			<div style="width:98%;margin-left:1%;margin-top:1%;margin-right:1%;">
				<listbox  id="lstListe" checkmark="true" ="true">
						<listhead >
							<listheader label="Ref" width="10%" id="lshLibelle"/>
							<listheader label="Raison Sociale" width="20%" />
							<listheader label="Décision" width="20%" />
							<listheader label="Date Début" width="10%" />
							<listheader label="Date fin" width="10%" />
							<listheader label="Motif" width="25%" />
							<listheader label="Action" width="5%" />
			           </listhead>
					</listbox>
				</div>
			</center>
			<north>
				<vbox width="100%" height="100%" spacing="0px">
					<hbox widths="85%,*" width="100%" height="100%" spacing="0px">
           <kermelsousmenu id="monSousMenu"/>
				<hbox pack="end" sclass="z-menubar-hor" height="100%">
							<textbox id="txtLibelle"  value=""/>
					</hbox>	
					</hbox>
					<hbox height="100%"  width="100%" >
					<div style="margin-top:3%" >
					<label  style="color:#000;" sclass="complex-layout-header-label"   value="Liste Rouge des Fournisseur"/>
		             </div>
				     
					
			</hbox>					
				</vbox>
			</north>
			<south size="75">
				<paging id="pgPagination"/>
			</south>
		</borderlayout>
	</window>
</zk>
