<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<?page title="${c:l('kermel.common.form.piece')}" contentType="text/html;charset=UTF-8"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window  border="normal" width="100%" height="300px" use="sn.ssi.kermel.web.contentieux.controllers.RapportController">
	<borderlayout height="100%">
			<center>
				<div height="100%">
					<div id="step0" height="100%">
		<borderlayout>
			<north>
				<vbox width="100%">
					<hbox width="100%">
						<menubar>
						<menuitem id="menuValider" image="/images/ok.png" label="${c:l('kermel.common.form.valider')}" forward="onOK"/>

					
					</menubar>
					</hbox>
				</vbox>
			</north>
			<center>
				<div height="100px" style="width:80%;margin-left:10%;margin-top:3%;margin-right:10%;">
					<n:table>
					  	 <n:tr>
										 <n:td>${c:l('kermel.contentieux.dossiers.rapport.daterapport') }</n:td>
										  <n:td >:</n:td>
										  <n:td><datebox id="txtdaterapport"  /><label  value="*" style="color:red;"/></n:td>		
							</n:tr>

						   <n:tr>
								<n:td >${c:l('kermel.referentiel.common.fichier')}</n:td>
								<n:td align="right">:</n:td>
								<n:td >	<textbox id="txtVersionElectronique" width="300px" readonly="true"/>
						
						<button label="..."  id="btnChoixFichier" image="/images/FileDownload-24x24.png"  style="backgroung-color:#000;"/><image id="image" /> <label  value="*" style="color:red;"/>
                       </n:td>
						 </n:tr>
				 </n:table>
				</div> 
			</center>
			<south size="50px">
				<vbox  width="100%" spacing="5px">
					<hbox widths="40%,2%,2%,46%,10%">
					    <label/>
						<label  value="(" />
						<label  value="*" style="color:red;"/>
						<label  value=") = ${c:l('kermel.common.form.champs.obligatoire')}" />
						<label/>
					</hbox>
					 <hbox>
					   <label id="lbStatusBar" />
					 </hbox>
				</vbox>
			</south>
		</borderlayout>
			</div>
					<div id="step1" height="100%" visible="false">
						<borderlayout height="100%">
							<north>
								<hbox widths="90%,*" width="100%" height="25px" spacing="0px">
									<menubar height="100%">
										<menuitem image="/images/cancel.png" label="${c:l('kermel.common.form.fermer')}" id="menuFermerstep1" />
										
									</menubar>
								</hbox>

							</north>
							<center>

								<div style="width:90%;margin-left:5%;margin-top:1%">
									<iframe id="idIframe" width="100%" height="600px" scrolling="auto" />
								</div>
								

							</center>
							<south size="25">
			
			</south>

						</borderlayout>
					</div>
					
					
				</div>
			</center>
		</borderlayout>
	</window>
</zk>