<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window width="100%" title="" height="450px"
		use="sn.ssi.kermel.web.fournituretravaux.controllers.DevisController">
		<borderlayout height="100%">
			<center>
				<div height="100%">
					<div id="step0" height="100%">
						<borderlayout height="100%">
							<north>
								<hbox widths="85%,*" width="100%" height="25px" spacing="0px">
									<menubar height="25px">
										<menuitem image="/images/add.png" label="${c:l('kermel.common.form.ajouter')}" id="menuAjouter" />
										<menuitem image="/images/disk.png"  label="${c:l('kermel.common.form.modifier')}" 	id="menuModifier" />
										<menuitem image="/images/delete.png" label="${c:l('kermel.common.form.supprimer')}" id="menuSupprimer" />
									</menubar>
			                     </hbox>
							</north>

							<center>
								<div style="width:98%;margin-left:1%;margin-top:1%;margin-right:1%;">
			
				<listbox  id="lstListe" checkmark="true" ="true">
						<listhead >
							<listheader label="${c:l('kermel.plansdepassation.proceduresmarches.preparation.dossiers.devise.monnaie')}" width="80%" id="lshLibelle"/>
							<listheader label="${c:l('kermel.plansdepassation.proceduresmarches.preparation.dossiers.devise.dtauxconversion')}" width="20%" />
							
						</listhead>
					</listbox>
				</div>
							</center>
							<south size="25px">
								<vbox width="100%" height="100%" heights="80%,*">
									<paging id="pgPagination" />
								</vbox>
							</south>
						</borderlayout>
					</div>
					<div id="step1" height="100%" visible="false">
						<borderlayout height="100%">
							<north>
								<hbox widths="90%,*" width="100%" height="25px" spacing="0px">
									<menubar height="100%">
										<menuitem image="/images/ok.png" label="${c:l('kermel.common.form.valider')}" id="menuValider" />
										<menuitem image="/images/cancel.png" label="${c:l('kermel.common.form.fermer')}" id="menuFermer" />
										
									</menubar>
								</hbox>

							</north>
							<center>

								<div style="width:90%;margin-left:5%;margin-top:1%">
										<n:table>
										 <n:tr>
			          <n:td width="29%">${c:l('kermel.plansdepassation.proceduresmarches.preparation.dossiers.devise.monnaie')}</n:td>
			          <n:td width="1%">:</n:td>
			      
			          <n:td width="70%">
							              <bandbox id="bdMonnaie" mold="default" autodrop="true" buttonVisible="true" readonly="true">
								             <bandpopup>
									           <vbox>
										         <hbox>
											        ${c:l('kermel.common.form.rechercher') }
											          <textbox id="txtRechercherMonnaie" value="${c:l('kermel.plansdepassation.proceduresmarches.preparation.dossiers.devise.monnaie')}" />
											            <button image="/images/zoom.png" id="btnRechercherMonnaie"/>
										         </hbox>
										         <listbox width="250px" id="lstMonnaie"/>
										         <paging id="pgMonnaie" detailed="true"/>
									           </vbox>
								           </bandpopup>
							            </bandbox><label  value="*" style="color:red;"/>
							         </n:td>
			         
			        </n:tr>
			        <n:tr>
			          <n:td>${c:l('kermel.plansdepassation.proceduresmarches.preparation.dossiers.devise.dtauxconversion')}</n:td>
			          <n:td>:</n:td>
			          <n:td ><decimalbox id="dcTaux"  cols="30"/><label  value="*" style="color:red;"/></n:td>
			        </n:tr>
										</n:table>
								
									</div>
								

							</center>
							<south size="50">
			<vbox  width="100%" spacing="5px">
				  <hbox widths="40%,2%,2%,46%,10%">  
					    <label/>
						<label  value="(" />
						<label  value="*" style="color:red;"/>
						<label  value=") = ${c:l('kermel.common.form.champs.obligatoire')}" />
						<label/>
					</hbox>
					 <hbox>
					   <label id="lbStatusBar" />
					 </hbox>
					 </vbox>
			</south>

						</borderlayout>
					</div>
					
					
				</div>
			</center>
		</borderlayout>
	</window>
</zk>