<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window width="100%" title="" height="500px"
		use="sn.ssi.kermel.web.fournituretravaux.controllers.DocumentsController">
		<borderlayout height="100%">
			<center>
				<div height="100%">
					<div id="step0" height="100%">
						<borderlayout height="100%">
							

							<center>
								<div style="width:98%;margin-left:1%;margin-top:1%;margin-right:1%;">
			<div style="margin-top:4%" >
					<label  style="color:#000;" sclass="complex-layout-header-label"   value="${c:l('kermel.plansdepassation.proceduresmarches.documents.titre')}" />
		             </div>
				      <listbox  id="lstListe" checkmark="false" ="false">
						 <listhead >
							<listheader label="${c:l('kermel.plansdepassation.proceduresmarches.documents.libelle')}" width="75%" />
							<listheader label="${c:l('kermel.courrierac.date')}" width="15%" />
						    <listheader label="${c:l('kermel.plansdepassation.proceduresmarches.documents.fichier')}" width="10%" align="center" />
						</listhead>
					</listbox>
				</div>
							</center>
							<south size="25px">
								<vbox width="100%" height="100%" heights="80%,*">
									<paging id="pgPagination" />
								</vbox>
							</south>
						</borderlayout>
					</div>
					<div id="step1" height="100%" visible="false">
						<borderlayout height="100%">
							<north>
								<hbox widths="90%,*" width="100%" height="25px" spacing="0px">
									<menubar height="100%">
										<menuitem image="/images/cancel.png" label="${c:l('kermel.common.form.fermer')}" id="menuFermer" />
										
									</menubar>
								</hbox>

							</north>
							<center>

								<div style="width:90%;margin-left:5%;margin-top:1%">
									<iframe id="idIframe" width="100%" height="600px" scrolling="auto" />
								</div>
								

							</center>
							<south size="25">
			
			</south>

						</borderlayout>
					</div>
					
				</div>
			</center>
		</borderlayout>
	</window>
</zk>