<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window width="100%" title="" height="500px"
		use="sn.ssi.kermel.web.fournituretravaux.controllers.ClassementFinalController">
		<borderlayout height="100%">
			<center>
				<div height="100%">
					<div id="step0" height="100%">
						<borderlayout height="100%">
							<north>
								<hbox widths="85%,*" width="100%" height="25px" spacing="0px">
<!-- 									<menubar height="25px"> -->
<!-- 									    <menuitem image="/images/ok.png" label="${c:l('kermel.common.form.valider')}" id="menuValider" /> -->
<!-- 									</menubar> -->
			                     </hbox>
							</north>

							<center>
								<div style="width:98%;margin-left:1%;margin-top:1%;margin-right:1%;">
			<div style="margin-top:4%" >
					<label  style="color:#000;" sclass="complex-layout-header-label"   value="${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.evaluation.verificationconformite.examen')}" />
		             </div>
		         
		    <div style="color:red;">${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.evaluation.verificationconformite.aceptation')}</div>
				<listbox  id="lstListe" checkmark="true" ="true" >
						<listhead >
						    <listheader label="${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.evaluation.correctionoffres.soumissionnaire')}" width="40%" />
							<listheader label="${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.evaluation.correctionoffres.montantlu')}" width="15%" />
								<listheader label="${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.evaluation.correctionoffres.montantdevise')}" width="15%" align="center"/>
								<listheader label="${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.evaluation.classementfinal.qualification')}" width="10%" align="center"/>
				             <listheader label="${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.evaluation.classementfinal.attributaire')}" width="20%" align="center"/>
			
						</listhead>
					</listbox>
				</div>
							</center>
							<south size="25px">
								<vbox width="100%" height="100%" heights="80%,*">
									<paging id="pgPagination" />
								</vbox>
							</south>
						</borderlayout>
					</div>
					
				</div>
			</center>
		</borderlayout>
	</window>
</zk>