<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window width="100%" title="" height="500px"
		use="sn.ssi.kermel.web.fournituretravaux.controllers.ListepresencemembrescommissionsController">
		<borderlayout height="100%">
			<center>
				<div height="100%">
					<div id="step0" height="100%">
						<borderlayout height="100%">
							<north>
								<hbox widths="85%,*" width="100%" height="25px" spacing="0px">
									<menubar height="25px">
										<menuitem image="/images/ok.png" label="${c:l('kermel.common.form.valider')}" id="menuValider" />
										
									</menubar>
			                     </hbox>
							</north>

							<center>
								<div style="width:98%;margin-left:1%;margin-right:1%;">
			<div style="margin-top:3%" >
					<label  style="color:#000;" sclass="complex-layout-header-label"   value="${c:l('kermel.plansdepassation.proceduresmarches.preparation.dossiers.commissions.marches')}" />
		             </div>
			<div style="color:red;">${c:l('kermel.plansdepassation.proceduresmarches.preparation.dossiers.commissions.marches.selectionner')}</div>
				 <listbox  id="lstListe" checkmark="true" ="true">
						<listhead >
							<listheader label="${c:l('kermel.common.form.nom')}" width="10%" />
							<listheader label="${c:l('kermel.common.form.prenom')}" width="30%" />
							<listheader label="${c:l('kermel.referentiel.personne.telephone')}" width="10%" />
							<listheader label="${c:l('kermel.common.form.fonction')}" width="30%" />
							<listheader label="${c:l('kermel.referentiel.personne.email')}" width="20%" />
						</listhead>
					</listbox>
				</div>
							</center>
							<south size="25px">
								<vbox width="100%" height="100%" heights="80%,*">
									<paging id="pgPagination"/>
								</vbox>
							</south>
						</borderlayout>
					</div>
					<div id="step1" height="100%" visible="false">
						<borderlayout height="100%">
							<north>
								<hbox widths="90%,*" width="100%" height="25px" spacing="0px">
									<menubar height="25px">
											<menuitem label="${c:l('kermel.common.form.fermer')}" image="/images/cancel.png" id="menuCancel"/>
									</menubar>
									
								</hbox>
							</north>
							<center autoscroll="true">
								<vbox width="100%">
									<iframe id="iframe" width="100%" height="600px" scrolling="auto"/>
								</vbox>								
							</center>
							<south>
								
							</south>
						</borderlayout>
					</div>
					
				</div>
			</center>
		</borderlayout>
	</window>
</zk>