<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<?page title="" contentType="text/html;charset=UTF-8"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window title="" border="normal" width="100%" height="600px" style="margin-top:45%;"
		use="sn.ssi.kermel.web.referentiel.suivieformation.FormParticipantsController">
		<borderlayout>
	
			<center>	
				<div height="100%">
					
					
					<div id="step1" height="100%" >
						<borderlayout height="100%">
							<north>
								<hbox widths="90%,*" width="100%" height="25px" spacing="0px">
								
									<menubar>
										<menuitem image="/images/previous.png" label="${c:l('kermel.common.form.precedent')}"  id="menuPrevious" disabled="true"></menuitem>
										<menuitem image="/images/next.png"  label="${c:l('kermel.common.form.suivant')}" 	id="menuNext1"></menuitem>
                                      	<menuitem image="/images/cancel.png" forward="onClose" label="${c:l('kermel.common.form.fermer')}"></menuitem>
									</menubar>
								</hbox>
							</north>
				          <center>
				               <div>
				              	<div width="98%" style="margin-top:1%; margin-left: 1%;; margin-right: 1%;">
								<groupbox id="gb1" mold="3d" width="100%" closable="false">
										<n:table width="100%">
											<n:tr>
												<n:td align="left" width="25%"><label style ="font-weight:bold;size =15px"> ${c:l('kermel.common.form.typeAutoritecontractante') } </label> </n:td>
												<n:td align="right" width="1%">:</n:td>
												<n:td class="valeur" width="80%"><label id="entete1"/></n:td>
											</n:tr>
											</n:table>
									</groupbox>
									</div>
								<div style="width:98%;margin-left:1%;margin-top:1%;margin-right:1%;">
			                        <listbox  id="list" checkmark="true" ="false">
						              <listhead >
							             <listheader label="${c:l('kermel.referentiel.common.code') }" width="15%" /> 
							             <listheader label="${c:l('kermel.autoritecontractante.libelle') }" width="85%" />
						             </listhead>
					            </listbox>	
				                </div>
				               </div>
				       </center>
							<south size="25px">
								<vbox width="100%" height="100%" heights="80%,*">
									<paging id="pg" />
								</vbox>
							</south>
						</borderlayout>
					</div>
				    <div id="step2" height="100%" visible="false" >
				      <borderlayout height="100%">
					     <north>
						      <hbox widths="90%,*" width="100%" height="25px" spacing="0px">
						 <menubar>
							<menuitem image="/images/previous.png" label="${c:l('kermel.common.form.precedent')}"  id="menuPrevious1"></menuitem>
							<menuitem image="/images/next.png"  label="${c:l('kermel.common.form.suivant')}" disabled="true"></menuitem>
						      <menuitem id="menuValider" image="/images/ok.png" label="${c:l('kermel.common.form.valider')}" ></menuitem>
										<menuitem image="/images/cancel.png" forward="onClose" label="${c:l('kermel.common.form.fermer')}"></menuitem>
					      </menubar>
						     </hbox>
							</north>
							    <center>
							    
                                   <div width="98%" style="margin-top:1%; margin-left: 1%;; margin-right: 1%;">
								
								    <groupbox  mold="3d" width="100%" closable="true" open="true">
								       <caption>
								       <label 	style="font-family:fantasy;position: relative;right:50%;font-size: 16px;color: green;
	                                        margin-right:42%;" >${c:l('kermel.autorite')} </label> 
	                                    </caption>    
										<n:table width="100%">
										<n:tr>
												<n:td align="left" width="25%"> <label style ="font-weight:bold;size =15px"> ${c:l('kermel.common.form.typeAutoritecontractante') } </label> </n:td>
												<n:td align="right" width="1%">:</n:td>
												<n:td class="valeur" width="80%"><label id="entete2"/></n:td>
											</n:tr>
											<n:tr>
												<n:td align="left" width="19%"><label style ="font-weight:bold;size =15px"> ${c:l('kermel.autoritecontractante.libelle') } </label> </n:td>
												<n:td align="right" width="1%">:</n:td>
												<n:td class="valeur" width="80%"><label id="entete3"/></n:td>
											</n:tr>
										</n:table>
									
									</groupbox>
						<n:br/>
      					<n:table style="margin-left:10%;  margin-right:10%">
						<n:tr></n:tr>
						<n:tr>
							<n:td>${c:l('kermel.formation.participant.prenom')}</n:td>
							<n:td width="15%" align="right">:</n:td>
							<n:td><textbox id="txtPrenom" cols="50"/><label  value="*" style="color:red;"/></n:td>
						</n:tr>
						<n:tr>
							<n:td>${c:l('kermel.formation.participant.nom')}</n:td>
							<n:td width="15%" align="right">:</n:td>
							<n:td><textbox id="txtNom" cols="50"/><label  value="*" style="color:red;"/></n:td>
						</n:tr>
						<n:tr>
							<n:td>${c:l('kermel.formation.participant.telephone')}</n:td>
							<n:td width="15%" align="right">:</n:td>
							<n:td><textbox id="txtTelephone" cols="50"/><label  value="*" style="color:red;"/></n:td>
						</n:tr>
						<n:tr>
							<n:td>${c:l('kermel.formation.participant.mobile')}</n:td>
							<n:td width="15%" align="right">:</n:td>
							<n:td><textbox id="txtMobile" cols="50"/><label  value="*" style="color:red;"/></n:td>
						</n:tr>
						<n:tr>
							<n:td>${c:l('kermel.formation.participant.mail')}</n:td>
							<n:td width="15%" align="right">:</n:td>
							<n:td><textbox id="txtMail" cols="50"/><label  value="*" style="color:red;"/></n:td>
						</n:tr>
						<n:tr>
							<n:td>${c:l('kermel.formation.participant.adresse')}</n:td>
							<n:td width="15%" align="right">:</n:td>
							<n:td><textbox id="txtAdresse" rows="5" cols="50"/><label  value="*" style="color:red;"/></n:td>
						</n:tr>
					</n:table>
				
			 </div>	
			</center>
			<south>
			<vbox  width="100%" spacing="5px" align="center">

					 <hbox>
					  <label/>
						<label  value="(" />
						<label  value="*" style="color:red;"/>
					   <label value=") = " />
					  <label id="lbStatusBar" />
					 </hbox>
					 </vbox>
			
			</south>
		</borderlayout>
		</div>
		</div>
       </center>
	</borderlayout>
</window>
</zk>