<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<?page title="" contentType="text/html;charset=UTF-8"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window title="" border="normal" width="100%" height="600px" use="sn.ssi.kermel.web.referentiel.suivieformation.FormbailleurController">
		<borderlayout>
			<north>
				<vbox width="100%">
					<hbox width="100%">
						<menubar>
						<menuitem id="menuValider" image="/images/ok.png" label="${c:l('kermel.common.form.valider') }" forward="onOK"/>
						<menuitem id="menuFermer" image="/images/cancel.png" label="${c:l('kermel.common.form.fermer') }" forward="onClose"/>
					</menubar>
					</hbox>
					
				</vbox>
			</north>
			<center>
				<div width="100%">
					<n:table style="margin-left:15%; margin-top:5%">
						 
					   	
						<n:tr>
								<n:td>${c:l('kermel.formation.bail.nom')}</n:td>
								<n:td width="15%" align="right">:</n:td>
								<n:td><textbox id="txtNom" /></n:td>
								<n:td style="color:red;">*</n:td>
						</n:tr>
						

				 </n:table>
				</div> 
			</center>
			<south>
			  <n:table>
				<n:tr>
					 <n:td  style="color:red;">(*):</n:td>
                     <n:td>${c:l('recherche.chercheur.champObli')}</n:td></n:tr>
                  </n:table>
			
			</south>
		</borderlayout>
	</window>
</zk>