<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<?page title="${c:l('ecoagris.formation.courriers.titre.page')}"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window border="none" height="415px" width="100%"
		use="sn.ssi.kermel.web.referentiel.suivieformation.ListPiecesJointesController">
		<borderlayout height="100%">

			<north size="50">
				<vbox width="100%">
					<hbox width="100%" widths="45%,55%"
						sclass="z-menubar-hor">
						<menubar>
							<menuitem image="/images/add.png"
								label="${c:l('kermel.referentiel.nat.form.ajouter') }" forward="onAdd" />
							<menuitem image="/images/disk.png"
								label="${c:l('kermel.referentiel.nat.form.modifier') }" forward="onEdit" />
							<menuitem image="/images/delete.png"
								label="${c:l('kermel.referentiel.nat.form.supprimer') }" forward="onDelete" />
						</menubar>
						<hbox>
							<textbox id="txtLibelle"
								value="${c:l('kermel.formation.pj.libelle') }" />
							<textbox id="txtNF"
								value="${c:l('kermel.formation.pj.nomfichier') }" />
							<button id="bchercher"
								tooltiptext="Chercher" image="/images/find.png" />
						</hbox>
					</hbox>
				</vbox>
			</north>

			<center>
			<div width="98%" style="margin-top:1%; margin-left: 1%;; margin-right: 1%;">
				<listbox width="100%" id="list_piecesjointes"
					checkmark="true" ="false" >
					<listhead width="100%">
						<listheader
							label="${c:l('kermel.formation.pj.libelle')}" width="20%"
							id="lhllibelle" />
						<listheader
							label="${c:l('kermel.formation.pj.nomfichier')}" width="25%"
							id="lhlnomfichier" />
						<listheader
							label="${c:l('kermel.formation.pj.format')}" width="15%"
							id="lhlformat" />
						<listheader
							label="${c:l('kermel.formation.pj.taille')}" width="15%"
							id="lhltaille" />
						<listheader
							label="${c:l('kermel.formation.pj.datemisenligne')}"
							width="15%" id="lhldate" />
						<listheader
							label="${c:l('kermel.formation.pj.fe')}" 
							width="10%"/>

					</listhead>
				</listbox>
				</div>
			</center>

			<south size="10%" sclass="">
				<paging id="pg" detailed="true" />
			</south>
		</borderlayout>
	</window>
</zk>