<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<?page title="${c:l('ecoagris.formation.participant.titre.page')}"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window border="none" height="415px" width="100%"
		use="sn.ssi.kermel.web.referentiel.suivieformation.ListPresenceController">
		<borderlayout height="100%">

			<north >
		
			      <hbox  width="100%"  height="100%" spacing="0px">
									<menubar  height="100%">

										<menuitem id="saisi" image="/images/disk.png" label="${c:l('kermel.formation.saisi')}"/>
										
									</menubar>
			        
						 		</hbox>
	
			</north>

			<center>
				<listbox width="100%" id="list"
					checkmark="true" ="false" style="margin:3% 0% 0% 3%">
					<listhead width="100%">
						<listheader
							label="${c:l('kermel.formation.fiche.jr')}"
							width="30%" id="lshJour"/>
						<listheader
							label="${c:l('kermel.formation.fiche.Date')}" width="20%" />
						<listheader
						label="${c:l('kermel.formation.fiche.Nbrpre')}" width="20%" />
						<listheader
						label="${c:l('kermel.formation.fiche.nbrAbs')}" width="20%" />
						<listheader
							label="${c:l('kermel.formation.fiche.el')}"
							width="10%" />
					</listhead>
				</listbox>
			</center>

			<south size="10%" sclass="">
				<paging id="pg" detailed="true" />
			</south>
		</borderlayout>
	</window>
</zk>