<?page title="Atlantis"?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window height="600px" width="100%"  use="sn.ssi.kermel.web.archives.controllers.ListeNoeudsFilsController">

		<borderlayout height="100%">
			<center>
			  <div style="width:98%;margin-left:1%;margin-top:1%;margin-right:1%;">
				<listbox  id="lstListe" checkmark="true" ="true">
				  <listhead >
				    <listheader label="${c:l('kermel.archivage.idNoeudClassement')}" width="10%" id="lshCode"/>
					<listheader label="${c:l('kermel.archivage.libelleNoeudClassement')}" width="50%" id="lshLibelle"/>
					<listheader label="${c:l('kermel.archivage.typeNoeudClassement')}" width="40%" />
					
				  </listhead>
				</listbox>
				
			  </div>
		    </center>
			<north>
              <vbox width="100%" height="100%" spacing="0px">
				<hbox widths="85%,*" width="100%" height="90%" spacing="0px">
                <kermelsousmenu id="monSousMenu"/>
                <hbox><textbox value="Rechercher"></textbox></hbox>
			   </hbox>
			   				
				</vbox>
			</north>
			<south size="75">
				<paging id="pgPagination"/>
			</south>
		</borderlayout>
	</window>
</zk>
