<?page title=""?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window border="normal" height="550px" width="100%"
		use="sn.ssi.kermel.web.audits.controllers.ListPiecejointeController">
<!--		<vbox width="100%" height="100%">-->
			<borderlayout height="100%">
				<center>
					<listbox width="100%" id="list" checkmark="true" ="true">
						<listhead width="100%">
							<listheader label="${c:l('kermel.referentiel.common.date')}" width="95%" id="lshdate"/>
							<listheader label="" width="5%" id="lshfichier"/>	
						</listhead>
					</listbox>
				</center>
				<north size="50">
					<vbox width="100%">
					<hbox width="100%" widths="75%,25%" >
<!-- 					<kermelsousmenu id="monSousMenu"/> -->
                <menubar height="25px">

						<menuitem image="/images/add.png"
							label="Ajouter" id="menuValiderStep1" forward="onAdd"/>
						<menuitem image="/images/disk.png"
							label="Modifier" id="menuCancelStep1" forward="onEdit"/>
                        <menuitem image="/images/delete.png"
							label="Supprimer" id="menudeleteStep1" forward="onDelete"/>
					</menubar>
						 <hbox width="100%" sclass="z-menubar-hor"> 
							<datebox id="datedenonciation"/>
							 <button image="/images/zoom.png" id="btnRechercher"/>				 
						    </hbox> 
					</hbox>
					<hbox widths="75%,25%" width="100%">
						<div style="margin-top:30px;margin-left:5px">
<!-- 						<label  style="font-weight:bold" value="${c:l('kermel.common.form.piecejointe')}" /> -->
						</div>
						
					</hbox>			
					</vbox>
				</north>
				<south size="75" sclass="">
					<paging id="pgpiece"></paging>
				</south>
			</borderlayout>

<!--		</vbox>-->
	</window>
</zk>