<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<?page title="${c:l('kermel.common.form.rapport')}" contentType="text/html;charset=UTF-8"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window title="" border="normal" width="100%" height="100%" use="sn.ssi.kermel.web.referentielprix.controllers.CategoriesFormController">
		<borderlayout>
			<north>
				<vbox width="100%">
					<hbox width="100%">
						<menubar>
						<menuitem id="menuValider" image="/images/ok.png" label="${c:l('kermel.common.form.valider')}" forward="onOK"/>
						<menuitem id="menuFermer" image="/images/cancel.png" label="${c:l('kermel.common.form.fermer')}" forward="onClose"/>
					</menubar>
					</hbox>
				</vbox>
			</north>
			<center>
				<div height="100px" style="width:80%;margin-left:10%;margin-top:3%;margin-right:10%;">
					<n:table>
					    <n:tr>
								<n:td >${c:l('kermel.referentielprix.categorie.code')}</n:td>
								<n:td align="right">:</n:td>
								<n:td ><textbox id="txtcode" /><label  value="*" style="color:red;"/></n:td>
						</n:tr>
					     <n:tr>
								<n:td >${c:l('kermel.referentielprix.categorie.designation')}</n:td>
								<n:td align="right">:</n:td>
								<n:td ><textbox id="txtdesignation"  cols="60" rows="2"/><label  value="*" style="color:red;"/></n:td>
						</n:tr> 
						 <n:tr>
								<n:td >${c:l('kermel.referentielprix.categorie.commentaire')}</n:td>
								<n:td align="right">:</n:td>
								<n:td ><textbox id="txtcommentaire"  cols="60" rows="5"/></n:td>
						</n:tr> 
						
				 </n:table>
				</div> 
			</center>
			<south size="50px">
				<vbox  width="100%" spacing="5px">
					<hbox widths="40%,2%,2%,46%,10%">
					    <label/>
						<label  value="(" />
						<label  value="*" style="color:red;"/>
						<label  value=") = ${c:l('kermel.common.form.champs.obligatoire')}" />
						<label/>
					</hbox>
					 <hbox>
					   <label id="lbStatusBar" />
					 </hbox>
				</vbox>
			</south>
		</borderlayout>
	</window>
</zk>