<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window height="500px" width="100%" use="sn.ssi.kermel.web.servicetravaux.controllers.DossiersApprobationController">
	<vbox width="100%" heights="100%">
			<div style="width:60%;margin-left:20%;margin-top:5%;margin-right:20%;">
			 <n:table width="100%">
			   <n:tr>
			     <n:td width="100%">
			        <n:table>
			          <n:tr>
			            <n:td rowspan="6"></n:td>
			            <n:td colspan="2" style="color:#000;font-family: sans-serif; font-size: 16px">
			               <label style="color:red;font-family: sans-serif; font-size: 20px;" value="${c:l('kermel.plansdepassation.proceduresmarches.approbation')}" id="lblapprobation"/>
			           
			            </n:td>
			          </n:tr>
			          <n:tr>
						  <n:td ><image src="/images/puce-a-noter.gif" border="0" /></n:td>
						  	  <n:td ><label style="color:red;font-family: sans-serif; font-size: 16px;cursor:pointer" value="${c:l('kermel.plansdepassation.proceduresmarches.approbation.souscriptionmarche')}" id="souscriptiondumarche"/></n:td>
						</n:tr>
					
						<n:tr>
						  <n:td ><image src="/images/puce-a-noter.gif"  /></n:td>
						  	  <n:td ><label style="color:red;font-family: sans-serif; font-size: 16px;cursor:pointer" value="${c:l('kermel.plansdepassation.proceduresmarches.approbation.examenjuririques')}" id="bonsengagement"/></n:td>
				
						</n:tr>
						<n:tr>
						  <n:td ><image src="/images/puce-a-noter.gif" border="0" /></n:td>
						  	  <n:td ><label style="color:red;font-family: sans-serif; font-size: 16px;cursor:pointer" value="${c:l('kermel.plansdepassation.proceduresmarches.approbation.approbationmarche')}" id="approbationmarche"/></n:td>
				
							</n:tr>
						<n:tr>
						  <n:td ><image src="/images/puce-a-noter.gif" border="0" /></n:td>
						  	  <n:td ><label style="color:red;font-family: sans-serif; font-size: 16px;cursor:pointer" value="${c:l('kermel.plansdepassation.proceduresmarches.approbation.notificationmarche')}" id="notificationmarche"/></n:td>
				
						</n:tr>
						<n:tr>
						  <n:td ><image src="/images/puce-a-noter.gif" border="0" /></n:td>
						  	  <n:td ><label style="color:red;font-family: sans-serif; font-size: 16px;cursor:pointer" value="${c:l('kermel.plansdepassation.proceduresmarches.approbation.pubattribdefinitive')}" id="publicationattributiondefinitive"/></n:td>
				
							</n:tr>
			        </n:table>
			     </n:td>
			     
			   </n:tr>
			 </n:table>
			 
			
				
			</div>

		</vbox>


	</window>
</zk>

