<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window height="500px" width="100%" use="sn.ssi.kermel.web.servicetravaux.controllers.DossiersEvaluationsPlisController">
	<vbox width="100%" heights="100%">
			<div style="width:60%;margin-left:20%;margin-top:5%;margin-right:20%;">
		        <n:table width="100%">
			          <n:tr>
			            <n:td rowspan="6" width="10%"></n:td>
			            <n:td colspan="2" style="color:#000;font-family: sans-serif; font-size: 16px">
			              <label style="color:red;font-family: sans-serif; font-size: 16px;cursor:pointer" value="${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire')}" id="lblevaattrprovisoire"/>
			            </n:td>
				      </n:tr>
			          <n:tr>
					 	  <n:td ><image src="/images/puce-a-noter.gif" border="0" /></n:td>
						  <n:td style="color:#000;font-family: sans-serif; font-size: 16px">
						  <label style="color:red;font-family: sans-serif; font-size: 16px;cursor:pointer" value="${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.evaluation')}" id="lblevaluation"/>
						  </n:td>
						</n:tr>
						<n:tr>
						   <n:td></n:td>
						   <n:td>
						      <n:table>
						        <n:tr>
						          <n:td ><image src="/images/puce-a-noter.gif" border="0" /></n:td>
						          <n:td ><label style="color:red;font-family: sans-serif; font-size: 16px;cursor:pointer" value="${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.evaluation.transmissiondossier')}" id="lbltransmissiondossier"/></n:td>
				
							        </n:tr>
						        <n:tr>
						          <n:td ><image src="/images/puce-a-noter.gif" border="0" /></n:td>
						          	  		  <n:td ><label style="color:red;font-family: sans-serif; font-size: 16px;cursor:pointer" value="${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.evaluation.controlegarantie')}" id="lblcontrolegarantie"/></n:td>
				
							        </n:tr>
						        <n:tr>
						          <n:td ><image src="/images/puce-a-noter.gif" border="0" /></n:td>
						          	  		  <n:td ><label style="color:red;font-family: sans-serif; font-size: 16px;cursor:pointer" value="${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.evaluation.verificationconformite')}" id="lblverificationconformite"/></n:td>
				
							        </n:tr>
						        <n:tr>
						          <n:td ><image src="/images/puce-a-noter.gif" border="0" /></n:td>
						          	  		  <n:td ><label style="color:red;font-family: sans-serif; font-size: 16px;cursor:pointer" value="${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.evaluation.correctionoffres')}" id="lblformcorrectionoffre"/></n:td>
				
						 	        </n:tr>
						        <n:tr>
						          <n:td ><image src="/images/puce-a-noter.gif" border="0" /></n:td>
						          	  		  <n:td ><label style="color:red;font-family: sans-serif; font-size: 16px;cursor:pointer" value="${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.evaluation.vercriteresqualification')}" id="lblvercriteresqualification"/></n:td>
				
						            </n:tr>
						        <n:tr>
						          <n:td ><image src="/images/puce-a-noter.gif" border="0" /></n:td>
						          	  		  <n:td ><label style="color:red;font-family: sans-serif; font-size: 16px;cursor:pointer" value="${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.evaluation.classementfinal')}" id="lblformclassementfinal"/></n:td>
				
							        </n:tr>
						        <n:tr>
						          <n:td ><image src="/images/puce-a-noter.gif" border="0" /></n:td>
						          	  		  <n:td ><label style="color:red;font-family: sans-serif; font-size: 16px;cursor:pointer" value="${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.evaluation.rapportevaluation')}" id="lblrapportevaluation"/></n:td>
				
							        </n:tr>
						      </n:table>
						   </n:td>
						</n:tr>
						<n:tr>
						  <n:td ><image src="/images/puce-a-noter.gif"  /></n:td>
						  	  		  <n:td ><label style="color:red;font-family: sans-serif; font-size: 16px;cursor:pointer" value="${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.attribution')}" id="lblattributionprovisoire"/></n:td>
				
						</n:tr>
						<n:tr>
						  <n:td ><image src="/images/puce-a-noter.gif" border="0" /></n:td>
						  	  		  <n:td ><label style="color:red;font-family: sans-serif; font-size: 16px;cursor:pointer" value="${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.miseenvalidation')}" id="lblsouscriptiondumarche"/></n:td>
				
						</n:tr>
						<n:tr>
						  <n:td ><image src="/images/puce-a-noter.gif" border="0" /></n:td>
						  	  		  <n:td ><label style="color:red;font-family: sans-serif; font-size: 16px;cursor:pointer" value="${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.pubattriprovisoire')}" id="lblpublicationattributionprovisoire"/></n:td>
				
						</n:tr>
			        </n:table>
					
			</div>

		</vbox>


	</window>
</zk>
	
	