<?page title=""?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window height="600px" id="winFormReleve" border="normal" width="100%"  title=""  use="sn.ssi.kermel.web.servicetravaux.controllers.CorrectionOffreController">
		<borderlayout height="100%">
			<north>
				<hbox widths="75%,*" width="100%"
					height="25px" spacing="0px">
					<menubar height="25px">
						
						
						<menuitem image="/images/cancel.png"
							label="Fermer" id="Fermer1"/>
					</menubar>
				</hbox>
			</north>
			<center autoscroll="true">
				<div height="100%">
	
					<div id="step1" height="100%" visible="true">

					<borderlayout height="100%">
						<center autoscroll="true">
						<div style="width:98%;margin-left:1%;margin-top:1%;margin-right:1%;">			
							<div style="margin-top:4%" >
					<label  style="color:#000;" sclass="complex-layout-header-label"   value="${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.evaluation.verificationconformite.examen')}" />
		             </div>
							
							<grid id="GridLots" align="left">																			
										<columns>
											<column label="${c:l('kermel.plansdepassation.proceduresmarches.travauxdrp.lotslot')}" width="70%"  />
												<column label="${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.evaluation.correctionoffres.montantcorrige')}" width="20%" align="center" />
											<column label="" width="10%" align="center"  />
																					
										</columns>
									</grid>
							
							
							</div>
						</center>
						<south>
						
						</south>
					</borderlayout>
				

					</div>
				</div>
				
			</center>
			<south size="20px">
							<vbox width="100%" height="100%"
								heights="80%,*">
								<label width="100%"
									style="margin-bottom:5px" id="lbStatusBarStep5">
								</label>
							</vbox>
						</south>
		</borderlayout>


	</window>
</zk>