<?page title=""?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window border="normal" height="550px" width="100%"
		use="sn.ssi.kermel.web.referentiel.controllers.ListPrestataireController">
			<borderlayout height="100%">
				<center>
					<listbox width="100%" id="list" checkmark="true" ="true">
						<listhead width="100%">
<!-- 							<listheader label="${c:l('kermel.common.form.numero')}" width="15%" id="lshnumero"> -->
<!-- 							</listheader>	 -->
<!-- 							<listheader label="${c:l('kermel.common.form.identifiant')}" width="15%" id="lshidentifiant"> -->
<!-- 							</listheader>	 -->
							<listheader label="${c:l('kermel.referentiel.common.raisonsociale')}" width="25%" id="lshraisonsociale">
							</listheader>	
							<listheader label="${c:l('kermel.referentiel.common.adresse')}" width="15%" id="lshadresse">
							</listheader>
							<listheader label="${c:l('kermel.referentiel.common.mail')}" width="15%" id="lshmail">
							</listheader>
							<listheader label="${c:l('kermel.referentiel.common.pays')}" width="15%" id="lshpays">
							</listheader>
							<listheader label="${c:l('kermel.referentiel.common.commentaire')}" width="30%" id="lshcommentaire">
							</listheader>
						</listhead>
					</listbox>
				</center>
				<north size="50">
					<vbox width="100%">
					<hbox width="100%" widths="75%,25%">
					<kermelsousmenu id="monSousMenu"/>
						 <hbox width="100%" sclass="z-menubar-hor"> 
							 <textbox value="${c:l('kermel.common.form.numero')}" id="txtnumero"/>
							 <textbox value="${c:l('kermel.common.form.identifiant')}" id="txtidentifiant"/>
							 <textbox value="${c:l('kermel.referentiel.common.raisonsociale')}" id="txtraisonsociale"/>
							 <button image="/images/zoom.png" id="btnRechercher"/>				 
						    </hbox> 
					</hbox>
					<hbox widths="75%,25%" width="100%">
						<div style="margin-top:30px;margin-left:5px">
						<label  style="font-weight:bold" value="${c:l('kermel.common.form.repertoireauditeur')}" />
						</div>
						
					</hbox>			
					</vbox>
				</north>
				<south size="75" sclass="">
					<paging id="pg"></paging>
				</south>
			</borderlayout>
	</window>
</zk>