<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="Kermel">
        <wb-resource deploy-path="/" source-path="/EarContent" tag="defaultRootSource"/>
        <dependent-module archiveName="Kermel-WEB.war" deploy-path="/" handle="module:/resource/Kermel-WEB/Kermel-WEB">
            <dependent-object/>
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="EtatsKermel.war" deploy-path="/" handle="module:/resource/EtatsKermel/EtatsKermel">
            <dependent-object/>
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="PkermelV2.war" deploy-path="/" handle="module:/resource/PkermelV2/PkermelV2">
            <dependent-object/>
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="Kermel-BE.jar" deploy-path="/" handle="module:/resource/Kermel-BE/Kermel-BE">
            <dependent-object/>
            <dependency-type>uses</dependency-type>
        </dependent-module>
    </wb-module>
</project-modules>
