<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<?page title="" contentType="text/html;charset=UTF-8"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window title="" border="normal" width="100%" height="600px" use="sn.ssi.kermel.web.referentiel.controllers.AnnuaireFormController">
		<borderlayout>
			<north>
				<vbox width="100%">
					<hbox width="100%">
						<menubar>
						<menuitem id="menuValider" image="/images/ok.png" label="${c:l('kermel.common.form.valider')}" forward="onOK"/>
						<menuitem id="menuFermer" image="/images/cancel.png" label="${c:l('kermel.common.form.fermer')}" forward="onClose"/>
					</menubar>
					</hbox>
					
				</vbox>
			</north>
			<center>
				<div style="width:80%;margin-left:10%;margin-top:5%;margin-right:10%;">
					<n:table>
						 <n:tr>
								<n:td width="14%">${c:l('kermel.common.form.prenom')}</n:td>
								<n:td width="1%" align="right">:</n:td>
								<n:td width="85%"><textbox id="txtPrenom"   cols="60" /><label  value="*" style="color:red;"/></n:td>
								
						</n:tr>
					   <n:tr>
								<n:td>${c:l('kermel.common.form.nom')}</n:td>
								<n:td align="right">:</n:td>
								<n:td><textbox id="txtNom"  cols="60" /><label  value="*" style="color:red;"/></n:td>
						</n:tr>
						 <n:tr>
								<n:td>${c:l('kermel.common.form.fonction')}</n:td>
								<n:td align="right">:</n:td>
								<n:td><textbox id="txtFonction" cols="60"   /><label  value="*" style="color:red;"/></n:td>
						</n:tr>
						 <n:tr>
								<n:td>${c:l('kermel.referentiel.personne.telephone')}</n:td>
								<n:td align="right">:</n:td>
								<n:td><textbox id="txtTelephone" cols="60"   /></n:td>
						</n:tr>
						 <n:tr>
								<n:td>${c:l('kermel.referentiel.personne.email')}</n:td>
								<n:td align="right">:</n:td>
								<n:td><textbox id="txtEmail" cols="60"   /></n:td>
						</n:tr>
						<n:tr>
						 <n:td >${c:l('kermel.common.form.service')}</n:td>
							  <n:td >:</n:td>
							            <n:td>
							            <textbox id="txtService" cols="5"/>
			                               <bandbox id="bdService" mold="default" autodrop="true" buttonVisible="true" readonly="true">
								             <bandpopup>
									           <vbox>
										         <hbox>
											        ${c:l('kermel.common.form.rechercher') }
											          <textbox id="txtRechercherService" value="${c:l('kermel.common.form.service')}" />
											            <button image="/images/zoom.png" id="btnRechercherService"/>
										         </hbox>
										         <listbox width="250px" id="lstService"/>
										         <paging id="pgProfil" detailed="true"/>
									           </vbox>
								           </bandpopup>
							            </bandbox><label  value="*" style="color:red;"/>
							         </n:td>
						            </n:tr>
				 </n:table>
				</div> 
			</center>
			<south size="50px">
				<vbox  width="100%" spacing="5px">
					<hbox widths="40%,2%,2%,46%,10%">
					    <label/>
						<label  value="(" />
						<label  value="*" style="color:red;"/>
						<label  value=") = ${c:l('kermel.common.form.champs.obligatoire')}" />
						<label/>
					</hbox>
					 <hbox>
					   <label id="lbStatusBar" />
					 </hbox>
				</vbox>
			</south>
			
		</borderlayout>
	</window>
</zk>