.bounce-effect {
    display: block;
    -webkit-animation: bounce-1 .6s;
    -moz-animation: bounce-1 .6s;
    -o-animation: bounce-1 .6s;
    animation: bounce-1 .6s
}

.slide-down-up-effect {
    display: block;
    -webkit-animation: slide-down-up .6s;
    -moz-animation: slide-down-up .6s;
    -o-animation: slide-down-up .6s;
    animation: slide-down-up .6s
}

.slide-up-down-effect {
    display: block;
    -webkit-animation: slide-up-down .6s;
    -moz-animation: slide-up-down .6s;
    -o-animation: slide-up-down .6s;
    animation: slide-up-down .6s
}

.slide-right-left-effect {
    display: block;
    -webkit-animation: slide-right-left .6s;
    -moz-animation: slide-right-left .6s;
    -o-animation: slide-right-left .6s;
    animation: slide-right-left .6s
}

.slide-left-right-effect {
    display: block;
    -webkit-animation: slide-left-right .6s;
    -moz-animation: slide-left-right .6s;
    -o-animation: slide-left-right .6s;
    animation: slide-left-right .6s
}

.default-effect {
    display: block;
    -moz-animation: default-effect .6s ease-in-out;
    -o-animation: default-effect .6s ease-in-out;
    -webkit-animation: default-effect .6s ease-in-out;
    animation: default-effect .6s ease-in-out
}

.flip-effect {
    display: block;
    -moz-animation: flip-effect .8s ease-in-out;
    -o-animation: flip-effect .8s ease-in-out;
    -webkit-animation: flip-effect .8s ease-in-out;
    animation: flip-effect .8s ease-in-out
}

.transformation-effect {
    display: block;
    -moz-animation: transformation-effect .8s ease;
    -o-animation: transformation-effect .8s ease;
    -webkit-animation: transformation-effect .8s ease;
    animation: transformation-effect .8s ease
}

@-webkit-keyframes bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(.5)
    }
    60% {
        opacity: 1;
        -webkit-transform: scale(1.2)
    }
    100% {
        -webkit-transform: scale(1)
    }
}

@-moz-keyframes bounce-1 {
    0% {
        opacity: 0;
        -moz-transform: scale(.5)
    }
    60% {
        opacity: 1;
        -moz-transform: scale(1.2)
    }
    100% {
        -moz-transform: scale(1)
    }
}

@keyframes bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(.5);
        -moz-transform: scale(.5);
        -ms-transform: scale(.5);
        -o-transform: scale(.5);
        transform: scale(.5)
    }
    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2)
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes slide-down-up {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
        transform: translateY(20px)
    }
    60% {
        opacity: 1;
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px)
    }
    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes slide-up-down {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-30px);
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -o-transform: translateY(-30px);
        transform: translateY(-30px)
    }
    60% {
        opacity: 1;
        -moz-transform: translateY(30px);
        -ms-transform: translateY(30px);
        -o-transform: translateY(30px);
        -webkit-transform: translateY(30px);
        transform: translateY(30px)
    }
    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes slide-right-left {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
        -moz-transform: translateX(20px);
        -ms-transform: translateX(20px);
        -o-transform: translateX(20px);
        transform: translateX(20px)
    }
    60% {
        opacity: 1;
        -moz-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        -o-transform: translateX(-20px);
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px)
    }
    100% {
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes slide-left-right {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        -moz-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        -o-transform: translateX(-20px);
        transform: translateX(-20px)
    }
    60% {
        opacity: 1;
        -moz-transform: translateX(20px);
        -ms-transform: translateX(20px);
        -o-transform: translateX(20px);
        -webkit-transform: translateX(20px);
        transform: translateX(20px)
    }
    100% {
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes default-effect {
    0% {
        -moz-perspective: 150;
        -webkit-perspective: 150;
        -ms-perspective: 150;
        perspective: 150;
        -moz-transform: rotateX(15deg);
        -ms-transform: rotateX(15deg);
        -o-transform: rotateX(15deg);
        -webkit-transform: rotateX(15deg);
        transform: rotateX(15deg);
        opacity: 0;
        filter: alpha(opacity=0)
    }
    60% {
        -moz-transform: rotateX(7deg);
        -ms-transform: rotateX(7deg);
        -o-transform: rotateX(7deg);
        -webkit-transform: rotateX(7deg);
        transform: rotateX(7deg);
        opacity: 1;
        filter: alpha(opacity=100)
    }
    100% {
        -moz-transform: rotateX(0);
        -ms-transform: rotateX(0);
        -o-transform: rotateX(0);
        -webkit-transform: rotateX(0);
        transform: rotateX(0)
    }
}

@keyframes flip-effect {
    0% {
        -webkit-transform: rotateY(180deg);
        -webkit-transform-style: preserve-3d;
        -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
        transform-style: preserve-3d
    }
    100% {
        -webkit-transform: rotateY(0);
        -webkit-transform-style: preserve-3d;
        -moz-transform: rotateY(0);
        -ms-transform: rotateY(0);
        -o-transform: rotateY(0);
        transform: rotateY(0);
        transform-style: preserve-3d
    }
}

@keyframes transformation-effect {
    0% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
    100% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0)
    }
}

.tsf-step {
    display: none
}

.tsf-step.active {
    display: block
}

.tsf-content {
    border-radius: 3px;
    border: 1px solid #e7e7e7;
    padding: 15px
}

.tsf-content input.error {
    border: 1px solid #f00
}

.tsf-content label.error {
    color: #f00;
    font-style: italic
}

.tsf-controls {
    padding: 25px 0
}

.tsf-controls .tsf-wizard-btn {
    background-color: #96c03d;
    color: #fff !important;
    padding: 15px 25px !important
}

.tsf-controls .tsf-wizard-btn:hover {
    background-color: #2c3f4c
}

.tsf-controls .tsf-wizard-btn.btn-right {
    float: right
}

.tsf-nav-step div.ul a {
    text-decoration: none !important
}

.tsf-nav-step div.ul .desc {
    padding-top: 0
}

.tsf-nav-step div.ul label {
}

.tsf-nav-step .tsf-nav {
    -moz-transition: all 1000ms;
    -o-transition: all 1000ms;
    -webkit-transition: all 1000ms;
    transition: all 1000ms;
    position: absolute
}

.tsf-nav-many-steps {
    height: 100px;
    overflow: hidden;
    width: 100%;
    position: relative
}

.tsf-left-container,
.tsf-right-container {
    width: 66.66666667%;
    float: left;
    padding-right: 15px;
    padding-left: 15px
}

.tsf-right-nav-step,
.tsf-left-nav-step {
    width: 33.33333333%;
   
}

.tsf-right-nav-step {
    
}

.tsf-wizard .tsf-nav-step label {
    cursor: pointer !important
}

.tsf-wizard.not-show-num .tsf-nav-step .number {
    display: none
}

.tsf-wizard.bottom {
    display: flex;
    -ms-flex-flow: column;
    -webkit-flex-flow: column;
    flex-flow: column
}

.tsf-wizard.bottom .tsf-bottom-container {
    order: 1;
    display: flex;
    -ms-flex-flow: column;
    -webkit-flex-flow: column;
    flex-flow: column
}

.tsf-wizard.bottom .tsf-bottom-nav-step {
    order: 2
}

.tsf-wizard.bottom .tsf-controls {
    order: 1
}

.tsf-wizard.bottom .tsf-content {
    order: 2
}

.tsf-nav-step .gsi-style-9:not(.gsi-vertical) div.li:last-child {
    top: 37px
}

.tsf-nav-step .gsi-style-10:not(.gsi-vertical) div.li:last-child {
    top: 37px
}

.gsi-number-circle div.li a:hover {
    background-color: #2c3f4c;
    color: #fff
}

.gsi-number-circle div.li a:hover .number {
    color: #2c3f4c
}

.gsi-number-circle div.li>* .number {
    font-size: 24px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #2c3f4c;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    text-align: center;
    padding-top: 10px;
}

.gsi-number-circle div.li>* .desc {
    padding-left: 10px
}

.gsi-number-circle div.li.visited>* .number,
.gsi-number-circle div.li.current>* .number {
    color: #2c3f4c
}



.gsi-step-no-available div.li.current~li>*,
.gsi-step-no-available div.li.current~li>*:hover {
    background-color: #e5e5e5 !important;
    border-color: #e5e5e5;
    cursor: not-allowed;
    color: #2c3f4c !important;
    border-width: 0 !important
}

.gsi-step-no-available div.li.current~li>* .desc label,
.gsi-step-no-available div.li.current~li>*:hover .desc label {
    cursor: not-allowed !important
}

.gsi-step-no-available div.li.current~li>* .number:before,
.gsi-step-no-available div.li.current~li>*:hover .number:before {
    border-left-color: #e5e5e5 !important
}

.gsi-step-no-available-all div.li:not(.current)>*,
.gsi-step-no-available-all div.li:not(.current)>*:hover {
    background-color: #e5e5e5 !important;
    border-color: #e5e5e5 !important;
    cursor: not-allowed;
    color: #2c3f4c !important;
    border-width: 0 !important
}

.gsi-step-no-available-all div.li:not(.current)>* .desc label,
.gsi-step-no-available-all div.li:not(.current)>*:hover .desc label {
    cursor: not-allowed !important
}

.gsi-step-no-available-all div.li:not(.current)>* .number:before,
.gsi-step-no-available-all div.li:not(.current)>*:hover .number:before {
    border-left-color: #e5e5e5 !important
}

.gsi-step-no-available-after-current div.li.current~li>*,
.gsi-step-no-available-after-current div.li.current~li>*:hover {
    background-color: #e5e5e5 !important;
    border-color: #e5e5e5;
    cursor: not-allowed !important;
    color: #2c3f4c !important;
    border-width: 0 !important
}

.gsi-step-no-available-after-current div.li.current~li>* .desc label,
.gsi-step-no-available-after-current div.li.current~li>*:hover .desc label {
    cursor: not-allowed !important
}

.gsi-step-no-available-after-current div.li.current~li>* .number:before,
.gsi-step-no-available-after-current div.li.current~li>*:hover .number:before {
    border-left-color: #e5e5e5 !important
}

.gsi-step-no-available-before-current div.li:not(.current)>*,
.gsi-step-no-available-before-current div.li:not(.current)>*:hover {
    background-color: #e5e5e5 !important;
    border-color: #e5e5e5 !important;
    cursor: not-allowed !important;
    color: #2c3f4c !important;
    border-width: 0 !important
}

.gsi-step-no-available-before-current div.li:not(.current)>* .desc label,
.gsi-step-no-available-before-current div.li:not(.current)>*:hover .desc label {
    cursor: not-allowed !important
}

.gsi-step-no-available-before-current div.li:not(.current)>* .number:before,
.gsi-step-no-available-before-current div.li:not(.current)>*:hover .number:before {
    border-left-color: #e5e5e5 !important
}

.gsi-step-no-available-before-current div.li.current~li>*,
.gsi-step-no-available-before-current div.li.current~li>*:hover {
    background-color: #edeff0 !important;
    border-color: #edeff0 !important;
    cursor: not-allowed !important;
    color: #2c3f4c !important;
    border-width: 0 !important
}

.gsi-step-no-available-before-current div.li.current~li>* .desc label,
.gsi-step-no-available-before-current div.li.current~li>*:hover .desc label {
    cursor: pointer !important
}

.gsi-step-no-available-before-current div.li.current~li>* .number:before,
.gsi-step-no-available-before-current div.li.current~li>*:hover .number:before {
    border-left-color: #e5e5e5 !important
}

.gsi-transition div.li>* {
    -webkit-transition: background-color .6s ease, border-color .6s ease;
    -moz-transition: background-color .6s ease, border-color .6s ease;
    -o-transition: background-color .6s ease, border-color .6s ease;
    transition: background-color .6s ease, border-color .6s ease
}

.gsi-transition div.li>* .number,
.gsi-transition div.li>* .number:before {
    -webkit-transition: background-color .6s ease, border-color .6s ease;
    -moz-transition: background-color .6s ease, border-color .6s ease;
    -o-transition: background-color .6s ease, border-color .6s ease;
    transition: background-color .6s ease, border-color .6s ease
}

.gsi-vertical {
    margin: 0 0 10px 15px !important;
    width: 85% !important
}

.gsi-vertical div.li {
    min-width: 150px;
    margin-top: 10px;
    display: block !important
}

.gsi-vertical div.li>*,
.gsi-vertical div.li.current>* {
    padding: 1em .8em .8em 1em !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.gsi-step-indicator {
    width: 100%;
    padding: 0 1.2em;
    margin: 1em auto;
    background-color: #edeff0;
    border-radius: .25em
}

.gsi-step-indicator div.li {
    display: inline-block;
    float: left;
    margin: 1.2em 0
}

.gsi-step-indicator div.li .number {
    font-size: 2em
}

.gsi-step-indicator div.li .desc {
    padding-top: 10px;
    padding-left: 10px;
    vertical-align: super
}

.gsi-step-indicator div.li .desc label {
    font-size: 1.1em
}

.gsi-step-indicator div.li .desc span {
    font-size: 14px;
    display: block
}

.gsi-step-indicator div.li::after {
    display: inline-block;
    content: '»';
    margin: 0 1em;
    color: #959fa5
}

.gsi-step-indicator div.li:last-of-type::after {
    display: none
}

.gsi-step-indicator div.li>* {
    display: flex;
    font-size: 1.4rem;
    color: #2c3f4c
}

.gsi-step-indicator div.li.current>* {
    color: #96c03d
}

.gsi-step-indicator a:hover {
    color: #96c03d
}

.gsi-step-indicator a {
    text-decoration: none !important
}

.gsi-step-indicator:after {
    content: "";
    display: table;
    clear: both
}

.gsi-step-indicator.triangle {
    background-color: transparent;
    padding: 0
}

.gsi-step-indicator.triangle div.li {
    position: relative;
    padding: 0;
    margin: 4px 4px 4px 0
}

.gsi-step-indicator.triangle div.li:last-of-type {
    margin-right: 0
}

.gsi-step-indicator.triangle div.li>* {
    position: relative;
    padding: 1em .8em .8em 2.5em;
    color: #2c3f4c;
    background-color: #edeff0;
    border-color: #edeff0
}

.gsi-step-indicator.triangle div.li.current>* {
    color: #fff;
    background-color: #96c03d;
    border-color: #96c03d
}

.gsi-step-indicator.triangle div.li:first-of-type>* {
    border-radius: .25em 0 0 .25em
}

.gsi-step-indicator.triangle div.li:last-of-type>* {
    padding-right: 1.6em;
    border-radius: 0 .25em .25em 0
}

.gsi-step-indicator.triangle a:hover {
    color: #fff;
    background-color: #2c3f4c;
    border-color: #2c3f4c
}

.gsi-step-indicator.triangle div.li::after,
.gsi-step-indicator.triangle div.li>*::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 100%;
    height: 0;
    width: 0;
    border: 31px solid transparent;
    border-right-width: 0;
    border-left-width: 20px
}

.gsi-step-indicator.triangle div.li::after {
    z-index: 1;
    -webkit-transform: translateX(4px);
    -moz-transform: translateX(4px);
    -ms-transform: translateX(4px);
    -o-transform: translateX(4px);
    transform: translateX(4px);
    border-left-color: #fff;
    margin: 0
}

.gsi-step-indicator.triangle div.li>*::after {
    z-index: 2;
    border-left-color: inherit
}

.gsi-step-indicator.triangle .triangle div.li:last-of-type::after,
.gsi-step-indicator.triangle div.li:last-of-type>*::after {
    display: none
}

.gsi-step-indicator.triangle.gsi-arrow-left div.li::after,
.gsi-step-indicator.triangle.gsi-arrow-left div.li>*::after {
    content: '';
    position: absolute;
    top: 2px;
    left: -20px;
    height: 0;
    width: 0;
    border: 31px solid transparent;
    border-right-width: 20px;
    border-left-width: 0
}

.gsi-step-indicator.triangle.gsi-arrow-left div.li>*::after {
    z-index: 2;
    border-right-color: inherit
}

.gsi-step-indicator.gsi-vertical div.li {
    float: inherit !important;
    display: block
}

.gsi-style-1 div.li .desc {
    padding-top: 9px !important
}

.gsi-style-1 div.li .desc label {
    padding-bottom: 10px
}

.gsi-style-1 div.li .desc span {
    display: none
}

.gsi-style-2 div.li .desc {
    padding-top: 0
}

.gsi-style-3 div.li .number {
    font-size: 24px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    background-color: #fff;
    border: 1px solid #2c3f4c;
    text-align: center;
    display: inline-block
}

.gsi-style-3 div.li .desc {
    padding-top: 0
}

.gsi-style-3 div.li:hover .number,
.gsi-style-3 div.li.current .number {
    color: #2c3f4c
}

.gsi-style-4 {
    width: 100%;
    padding: 0 1.2em;
    margin: 1em auto
}

.gsi-style-4 div.li {
    display: inline-block
}

.gsi-style-4 div.li a {
    background-color: #edeff0;
    color: #2c3f4c
}

.gsi-style-4 div.li a .number:before {
    border-left-color: #edeff0
}

.gsi-style-4 div.li a:hover {
    background-color: #2c3f4c;
    color: #fff
}

.gsi-style-4 div.li a:hover .number:before {
    border-left-color: #2c3f4c
}

.gsi-style-4 div.li>* {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 16px 14px 14px 10px;
    display: flex
}

.gsi-style-4 div.li>* .number {
    font-size: 24px;
    position: relative;
    padding-right: 5px
}

.gsi-style-4 div.li>* .number:after,
.gsi-style-4 div.li>* .number:before {
    -webkit-transform: translateX(3px);
    -moz-transform: translateX(3px);
    -ms-transform: translateX(3px);
    -o-transform: translateX(3px);
    transform: translateX(3px);
    margin: 0;
    content: '';
    position: absolute;
    top: -15px;
    border: 34px solid transparent;
    border-left-width: 12px
}

.gsi-style-4 div.li>* .number:after {
    z-index: 1;
    left: 100%;
    border-left-color: #fff
}

.gsi-style-4 div.li>* .number:before {
    z-index: 2;
    left: 85%
}

.gsi-style-4 div.li>* .desc {
    padding-top: 5px;
    padding-left: 20px
}

.gsi-style-4 div.li>* .desc label {
    font-size: 1.1em
}

.gsi-style-4 div.li>* .desc span {
    font-size: 14px;
    display: block
}

.gsi-style-4 div.li.current>* {
    background-color: #96c03d;
    color: #fff
}

.gsi-style-4 div.li.current>* .number:before {
    border-left-color: #96c03d
}

.gsi-style-5 {
    width: 100%;
    padding: 0 1.2em;
    margin: 1em auto
}

.gsi-style-5 div.li {
    margin: 5px 0 5px 5px;
    display: inline-block
}

.gsi-style-5 div.li a {
    background-color: #edeff0;
    color: #2c3f4c
}

.gsi-style-5 div.li a:hover {
    background-color: #2c3f4c;
    color: #fff
}

.gsi-style-5 div.li>* {
    display: flex;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 16px 14px 14px 10px
}

.gsi-style-5 div.li>* .number {
    font-size: 19px;
    padding-right: 5px
}

.gsi-style-5 div.li>* .desc {
    padding-left: 20px
}

.gsi-style-5 div.li>* .desc label {
    font-size: 1.1em
}

.gsi-style-5 div.li>* .desc span {
    font-size: 14px;
    display: block
}

.gsi-style-5 div.li.current>* {
    background-color: #96c03d;
    color: #fff
}

.gsi-style-6 {
    width: 100%;
    padding: 0 1.2em;
    margin: 1em auto
}

.gsi-style-6 div.li {
    margin-left: 5px;
    display: inline-block
}

.gsi-style-6 div.li a {
    color: #2c3f4c
}

.gsi-style-6 div.li a:hover .number {
    background-color: #2c3f4c;
    color: #fff
}

.gsi-style-6 div.li>* {
    display: flex;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 16px 14px 14px 10px
}

.gsi-style-6 div.li>* .number {
    font-size: 20px;
    height: 36px;
    width: 36px;
    text-align: center;
    padding: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #edeff0
}

.gsi-style-6 div.li>* .desc {
    padding-left: 20px
}

.gsi-style-6 div.li>* .desc label {
    font-size: 1.1em
}

.gsi-style-6 div.li>* .desc span {
    font-size: 14px;
    display: block
}

.gsi-style-6 div.li.current>* .number {
    background-color: #96c03d;
    color: #fff
}

.gsi-style-6.gsi-step-no-available div.li.current~li>* .number,
.gsi-style-6.gsi-step-no-available div.li.current~li>*:hover .number {
    background-color: #edeff0 !important;
    color: #2c3f4c !important
}

.gsi-style-7 {
    width: 100%;
    padding: 0 1.2em;
    margin: 1em auto
}

.gsi-style-7 div.li {
    margin-left: 5px;
    display: inline-block;
    margin-bottom: 10px;
    min-width: 215px
}

.gsi-style-7 div.li a:hover {
    background-color: #2c3f4c;
    color: #fff
}



.gsi-style-7 div.li>* {
    display: flex;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 16px 14px 14px 10px;
    background-color: #edeff0;
    color: #2c3f4c
}

.gsi-style-7 div.li>* .number {
    font-size: 20px;
    padding-left: 5px;
    color: #aab3ba;
}

.gsi-style-7 div.li>* .desc {
    font-weight: normal;
    padding-left: 15px
}

.gsi-style-7 div.li>* .desc label {
    font-size: 1.1em
}

.gsi-style-7 div.li>* .desc span {
    font-size: 14*2px;
    display: block
}

.gsi-style-7 div.li.current:hover>* {
    background-color: #96c03d;
    color: #fff
}

.gsi-style-7.border-left div.li a {
    border-left: 10px solid #2c3f4c
}

.gsi-style-7.border-left div.li.current>* {
    border-left: 10px solid #96c03d
}

.gsi-style-7.border-right div.li a {
    border-right: 10px solid #FF8400; /* #2c3f4c*/
}

.gsi-style-7.border-right div.li.current>* {
    border-right: 10px solid #2086bf;
}

.gsi-style-7.border-right div.li.done>* {
    border-right: 10px solid #96c03d
}

.gsi-style-7.border-top div.li a {
    border-top: 10px solid #2c3f4c
}

.gsi-style-7.border-top div.li.current>* {
    border-top: 10px solid #96c03d
}

.gsi-style-7.border-bottom div.li a {
    border-bottom: 10px solid #2c3f4c
}

.gsi-style-7.border-bottom div.li.current>* {
    border-bottom: 10px solid #96c03d
}

.gsi-style-8 {
    width: 100%;
    padding: 0 1.2em;
    margin: 1em auto
}

.gsi-style-8 div.li {
    position: relative;
    margin-left: 40px;
    display: inline-block
}

.gsi-style-8 div.li a {
    background-color: #edeff0;
    color: #2c3f4c
}

.gsi-style-8 div.li a:hover {
    background-color: #2c3f4c;
    color: #fff
}

div.li.current a {
    background-color: #2c3f4c !important;
    color: #fff
}

.gsi-style-8 div.li:not(:last-child):after {
    position: absolute;
    content: '';
    height: 5px;
    background: #edeff0;
    margin: 0;
    width: 100%;
    top: 50%;
    left: 100%
}

.gsi-style-8 div.li>* {
    display: flex;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 16px 14px 14px 10px
}

.gsi-style-8 div.li>* .number {
    font-size: 19px;
    padding-right: 5px
}

.gsi-style-8 div.li>* .desc {
    padding-left: 20px
}

.gsi-style-8 div.li>* .desc label {
    font-size: 1.1em
}

.gsi-style-8 div.li>* .desc span {
    font-size: 14px;
    display: block
}

.gsi-style-8 div.li.visited>*,
.gsi-style-8 div.li.current>* {
    background-color: #96c03d;
    color: #fff
}

.gsi-style-8 div.li.visited:after {
    background-color: #96c03d !important
}

.gsi-style-8.gsi-vertical div.li {
    margin-top: 20px
}

.gsi-style-8.gsi-vertical div.li:not(:last-child):after {
    position: absolute;
    content: '';
    height: 100%;
    background: #edeff0;
    margin: 0;
    width: 5px;
    top: 100%;
    left: 10%
}

.gsi-style-9 {
    width: 100%;
    padding: 0 1.2em;
    margin: 1em auto
}

.gsi-style-9 div.li {
    position: relative;
    margin-left: 40px;
    display: inline-block
}

.gsi-style-9 div.li a {
    color: #2c3f4c
}

.gsi-style-9 div.li a:hover {
    color: #96c03d
}

.gsi-style-9 div.li:not(:last-child):after {
    position: absolute;
    content: '';
    height: 5px;
    background: #edeff0;
    margin: 0;
    width: 150%;
    top: 50%;
    left: 50%
}

.gsi-style-9 div.li>* {
    display: flex
}

.gsi-style-9 div.li>* .number {
    display: none
}

.gsi-style-9 div.li>* .desc {
    margin-top: -23%;
    padding-bottom: 33px
}

.gsi-style-9 div.li>* .desc span {
    display: none
}

.gsi-style-9 div.li.visited>*,
.gsi-style-9 div.li.current>* {
    color: #96c03d
}

.gsi-style-9 div.li.visited:after {
    background-color: #96c03d
}

.gsi-style-9 div.li>*:after {
    position: absolute;
    content: '';
    margin: 0;
    width: 20px;
    height: 20px;
    background-color: #edeff0;
    left: 33%;
    top: 30%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}

.gsi-style-9 div.li.visited>*:after,
.gsi-style-9 div.li.current>*:after {
    background-color: #96c03d;
    z-index: 3
}

.gsi-style-9.gsi-vertical div.li {
    padding-left: 15px
}

.gsi-style-9.gsi-vertical div.li:not(:last-child):after {
    height: 100%;
    width: 5px;
    top: 77%;
    left: 8px
}

.gsi-style-9.gsi-vertical div.li>* {
    display: block
}

.gsi-style-9.gsi-vertical div.li>* .desc {
    padding-left: 10px
}

.gsi-style-9.gsi-vertical div.li>*:after {
    left: 0;
    top: 36%
}

.gsi-style-10 {
    width: 100%;
    padding: 0 1.2em;
    margin: 1em auto
}

.gsi-style-10 div.li {
    position: relative;
    margin-left: 40px;
    display: inline-block
}

.gsi-style-10 div.li a {
    color: #2c3f4c
}

.gsi-style-10 div.li a:hover {
    color: #96c03d
}

.gsi-style-10 div.li a:hover:before {
    position: absolute;
    content: '';
    margin: 0;
    width: 26px;
    height: 26px;
    background-color: #b2b2b2;
    left: 29%;
    top: 24%;
    z-index: 1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    opacity: .2;
    filter: alpha(opacity=20)
}

.gsi-style-10 div.li:first-child a:hover:before,
.gsi-style-10 div.li:last-child a:hover:before {
    left: 28%;
    top: 23%
}

.gsi-style-10 div.li:not(:last-child):after {
    position: absolute;
    content: '';
    height: 5px;
    background: #edeff0;
    margin: 0;
    width: 150%;
    top: 50%;
    left: 50%
}

.gsi-style-10 div.li>* {
    display: flex
}

.gsi-style-10 div.li>* .number {
    display: none
}

.gsi-style-10 div.li>* .desc {
    margin-top: -23%;
    padding-bottom: 33px
}

.gsi-style-10 div.li>* .desc span {
    display: none
}

.gsi-style-10 div.li.visited>*,
.gsi-style-10 div.li.current>* {
    color: #96c03d
}

.gsi-style-10 div.li.visited:after {
    background-color: #96c03d
}

.gsi-style-10 div.li.visited a:hover:before {
    background-color: #96c03d
}

.gsi-style-10 div.li>*:after {
    position: absolute;
    content: '';
    margin: 0;
    width: 20px;
    height: 20px;
    background-color: #edeff0;
    left: 33%;
    top: 30%;
    z-index: 2;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}

.gsi-style-10 div.li.visited>*:after,
.gsi-style-10 div.li.current>*:after {
    background-color: #96c03d
}

.gsi-style-10.gsi-vertical div.li {
    padding-left: 15px
}

.gsi-style-10.gsi-vertical div.li a:hover:before {
    left: -3px;
    top: 28%
}

.gsi-style-10.gsi-vertical div.li:not(:last-child):after {
    height: 100%;
    width: 5px;
    top: 77%;
    left: 8px
}

.gsi-style-10.gsi-vertical div.li>* {
    display: block
}

.gsi-style-10.gsi-vertical div.li>*:after {
    left: 0;
    top: 36%
}

.gsi-style-11 {
    width: 100%;
    padding: 0 1.2em;
    margin: 1em auto
}

.gsi-style-11 div.li {
    position: relative;
    margin-left: 40px;
    display: inline-block
}

.gsi-style-11 div.li a {
    color: #2c3f4c
}

.gsi-style-11 div.li a:hover {
    color: #96c03d
}

.gsi-style-11 div.li a:hover:before {
    position: absolute;
    content: '';
    margin: 0;
    width: 26px;
    height: 26px;
    background-color: #b2b2b2;
    left: 27%;
    top: 88%;
    z-index: 1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    opacity: .2;
    filter: alpha(opacity=20)
}

.gsi-style-11 div.li:not(:first-child):before,
.gsi-style-11 div.li:not(:last-child):after {
    position: absolute;
    content: '';
    height: 5px;
    background: #edeff0;
    margin: 0;
    width: 75%;
    top: 141%
}

.gsi-style-11 div.li:not(:last-child):after {
    left: 50%
}

.gsi-style-11 div.li:not(:first-child):before {
    right: 60%
}

.gsi-style-11 div.li>* {
    display: block
}

.gsi-style-11 div.li>* .number {
    display: none
}

.gsi-style-11 div.li>* .desc span {
    display: none
}

.gsi-style-11 div.li.visited>*,
.gsi-style-11 div.li.current>* {
    color: #96c03d
}

.gsi-style-11 div.li.current:before,
.gsi-style-11 div.li.current:after,
.gsi-style-11 div.li.visited:before,
.gsi-style-11 div.li.visited:after {
    background-color: #96c03d
}

.gsi-style-11 div.li.visited a:hover:before {
    background-color: #96c03d
}

.gsi-style-11 div.li>*:after {
    position: absolute;
    content: '';
    margin: 0;
    width: 20px;
    height: 20px;
    background-color: #edeff0;
    left: 33%;
    top: 100%;
    z-index: 2;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}

.gsi-style-11 div.li.visited>*:after,
.gsi-style-11 div.li.current>*:after {
    background-color: #96c03d
}

.gsi-style-11.gsi-vertical div.li {
    padding-left: 15px
}

.gsi-style-11.gsi-vertical div.li a:hover:before {
    left: -3px;
    top: 28%
}

.gsi-style-11.gsi-vertical div.li:not(:last-child):after {
    height: 100%;
    width: 5px;
    top: 77%;
    left: 8px
}

.gsi-style-11.gsi-vertical div.li:not(:first-child):before {
    height: 75%;
    width: 5px;
    top: 0;
    left: 8px;
    right: 0
}

.gsi-style-11.gsi-vertical div.li>* {
    display: block
}

.gsi-style-11.gsi-vertical div.li>*:after {
    left: 0;
    top: 36%
}

.gsi-style-12 {
    width: 100%;
    padding: 0 1.2em 2em 1.2em;
    margin: 1em auto;
    counter-reset: step
}

.gsi-style-12 div.li {
    position: relative;
    margin-left: 40px;
    display: inline-block;
    counter-increment: step
}

.gsi-style-12 div.li a {
    color: #2c3f4c
}

.gsi-style-12 div.li a:hover {
    color: #96c03d
}

.gsi-style-12 div.li a:hover:before {
    position: absolute;
    content: '';
    margin: 0;
    width: 26px;
    height: 26px;
    background-color: #b2b2b2;
    left: 28%;
    top: 108%;
    z-index: 1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    opacity: .2;
    filter: alpha(opacity=20)
}

.gsi-style-12 div.li:not(:first-child):before,
.gsi-style-12 div.li:not(:last-child):after {
    position: absolute;
    content: '';
    height: 5px;
    background: #edeff0;
    margin: 0;
    width: 75%;
    top: 165%
}

.gsi-style-12 div.li:not(:last-child):after {
    left: 50%
}

.gsi-style-12 div.li:not(:first-child):before {
    right: 60%
}

.gsi-style-12 div.li>* {
    display: block
}

.gsi-style-12 div.li>* .number {
    display: none
}

.gsi-style-12 div.li>* .desc span {
    display: none
}

.gsi-style-12 div.li.visited>*,
.gsi-style-12 div.li.current>* {
    color: #96c03d
}

.gsi-style-12 div.li.current:before,
.gsi-style-12 div.li.current:after,
.gsi-style-12 div.li.visited:before,
.gsi-style-12 div.li.visited:after {
    background-color: #96c03d
}

.gsi-style-12 div.li.visited a:hover:before {
    background-color: #96c03d
}

.gsi-style-12 div.li>*:after {
    position: absolute;
    content: counter(step);
    margin: 0;
    width: 20px;
    height: 20px;
    background-color: #edeff0;
    left: 33%;
    top: 125%;
    z-index: 2;
    text-align: center;
    color: #2c3f4c;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}

.gsi-style-12 div.li.visited>*:after,
.gsi-style-12 div.li.current>*:after {
    background-color: #96c03d;
    color: #fff
}

.gsi-style-12.gsi-vertical div.li {
    padding-left: 15px
}

.gsi-style-12.gsi-vertical div.li a:hover:before {
    left: -3px;
    top: 28%
}

.gsi-style-12.gsi-vertical div.li:not(:last-child):after {
    height: 100%;
    width: 5px;
    top: 77%;
    left: 8px
}

.gsi-style-12.gsi-vertical div.li:not(:first-child):before {
    height: 75%;
    width: 5px;
    top: 0;
    left: 8px;
    right: 0
}

.gsi-style-12.gsi-vertical div.li>* {
    display: block
}

.gsi-style-12.gsi-vertical div.li>*:after {
    left: 0;
    top: 36%
}

.gsi-style-13 {
    width: 100%;
    padding: 0 1.2em;
    margin: 1em auto
}

.gsi-style-13 div.li {
    position: relative;
    margin-left: 40px;
    display: inline-block;
    margin-bottom: 40px
}

.gsi-style-13 div.li a {
    position: relative;
    background-color: #edeff0;
    color: #2c3f4c
}

.gsi-style-13 div.li a:hover {
    background-color: #2c3f4c;
    color: #fff
}

.gsi-style-13 div.li:not(:last-child):after {
    position: absolute;
    content: '';
    height: 5px;
    background: #edeff0;
    margin: 0;
    width: 100%;
    top: 50%;
    left: 100%
}

.gsi-style-13 div.li>* {
    display: flex;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 10px 25px 25px 25px
}

.gsi-style-13 div.li>* .number {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 50px;
    height: 42px;
    font-size: 28px;
    padding-top: 8px;
    text-align: center;
    top: 65%;
    left: 29%;
    position: absolute;
    border: 2px solid #edeff0;
    background-color: #fff;
    color: #2c3f4c
}

.gsi-style-13 div.li>* .desc {
    padding-bottom: 10px;
    font-size: 22px
}

.gsi-style-13 div.li>* .desc label {
    font-size: 1.1em
}

.gsi-style-13 div.li>* .desc span {
    font-size: 14px;
    display: block
}

.gsi-style-13 div.li.visited>*,
.gsi-style-13 div.li.current>* {
    background-color: #96c03d;
    color: #fff
}

.gsi-style-13 div.li.visited>* .number,
.gsi-style-13 div.li.current>* .number {
    border: 2px solid #96c03d;
    background-color: #fff;
    color: #96c03d
}

.gsi-style-13 div.li.visited:after {
    background-color: #96c03d
}

.gsi-style-13.gsi-vertical div.li {
    margin-bottom: 50px
}

.gsi-style-13.gsi-vertical div.li:not(:last-child):after {
    height: 100%;
    width: 5px;
    top: 100%;
    left: 48%
}

.gsi-style-13.gsi-vertical div.li>* {
    text-align: center
}

.gsi-style-13.gsi-vertical div.li>* .number {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 50px;
    height: 42px;
    font-size: 28px;
    padding-top: 8px;
    text-align: center;
    top: 65%;
    left: 38%;
    position: absolute;
    border: 2px solid #edeff0;
    background-color: #fff;
    color: #2c3f4c;
    z-index: 1
}

.gsi-style-13.gsi-vertical div.li>* .desc {
    padding-bottom: 10px;
    font-size: 22px;
    width: 100%
}

.gsi-style-13.gsi-vertical div.li>* .desc label {
    font-size: 1.1em
}

.gsi-style-13.gsi-vertical div.li>* .desc span {
    font-size: 14px;
    display: block
}

.gsi-style-13.gsi-vertical div.li.visited>*,
.gsi-style-13.gsi-vertical div.li.current>* {
    background-color: #96c03d;
    color: #fff
}

.gsi-style-13.gsi-vertical div.li.visited>* .number,
.gsi-style-13.gsi-vertical div.li.current>* .number {
    border: 2px solid #96c03d;
    background-color: #fff;
    color: #96c03d
}

.gsi-style-13.gsi-vertical div.li.visited:after {
    background-color: #96c03d
}

@media only screen and (min-width:317px) and (max-width:480px) {
    .gsi-step-indicator {
        width: 100%;
        padding: 0
    }
    .gsi-step-indicator div.li {
        float: inherit !important;
        display: block
    }
    .gsi-step-indicator div.li .number {
        display: none;
        font-size: 24px
    }
    .gsi-step-indicator div.li .desc {
        padding-top: 0;
        padding-left: 4px;
        vertical-align: super
    }
    .gsi-step-indicator div.li .desc label {
        font-size: 1.1em
    }
    .gsi-step-indicator div.li .desc span {
        font-size: 14px;
        display: block
    }
    .gsi-step-indicator div.li::after {
        display: inline-block;
        content: '»';
        margin: 0 1em;
        color: #959fa5
    }
    .gsi-step-indicator div.li:last-of-type::after {
        display: none
    }
    .gsi-step-indicator div.li>* {
        display: flex;
        font-size: 16px;
        color: #2c3f4c
    }
    .gsi-step-indicator.triangle {
        background-color: transparent;
        padding: 0
    }
    .gsi-step-indicator.triangle div.li {
        margin: 4px 4px 4px 0
    }
    .gsi-step-indicator.triangle div.li>* {
        padding: 6px 6px 6px 13px
    }
    .gsi-step-indicator.triangle div.li:first-of-type>* {
        border-radius: .25em 0 0 .25em
    }
    .gsi-step-indicator.triangle div.li:last-of-type>* {
        padding-right: 1.6em;
        border-radius: 0 .25em .25em 0
    }
    .gsi-step-indicator.triangle div.li::after,
    .gsi-step-indicator.triangle div.li>*::after {
        content: '';
        position: absolute;
        top: 0;
        left: 100%;
        height: 0;
        width: 0;
        border: 16px solid transparent;
        border-right-width: 0;
        border-left-width: 12px
    }
    .gsi-step-indicator.triangle div.li::after {
        z-index: 1;
        -webkit-transform: translateX(4px);
        -moz-transform: translateX(4px);
        -ms-transform: translateX(4px);
        -o-transform: translateX(4px);
        transform: translateX(4px);
        border-left-color: #fff;
        margin: 0
    }
    .gsi-step-indicator.triangle div.li>*::after {
        z-index: 2;
        border-left-color: inherit
    }
    .gsi-step-indicator.triangle .triangle div.li:last-of-type::after,
    .gsi-step-indicator.triangle div.li:last-of-type>*::after {
        display: none
    }
    .gsi-vertical {
        width: 100% !important
    }
    .gsi-vertical div.li {
        margin-right: 10px
    }
    .gsi-vertical div.li>*,
    .gsi-vertical div.li.current>* {
        padding: 8px 7px 7px 5px !important
    }
    .gsi-number-circle div.li {
        display: block;
        margin: 5px 0
    }
    .gsi-number-circle div.li>* .number {
        padding: 2px 4px 4px 4px;
        width: 18px;
        height: 18px;
        font-size: 16px
    }
    .gsi-number-circle div.li>* .desc {
        padding-left: 10px
    }
    .gsi-style-2.triangle div.li .desc {
        padding-top: 0
    }
    .gsi-style-2.triangle div.li::after,
    .gsi-style-2.triangle div.li>*::after {
        border-Width: 24px !important;
        border-right-width: 0 !important;
        border-left-width: 13px !important
    }
    .gsi-style-4 {
        display: inline-block;
        padding: 0;
        margin: 1em auto
    }
    .gsi-style-4 div.li {
        display: block;
        margin-bottom: 3px;
        margin-top: 3px
    }
    .gsi-style-4 div.li>* {
        padding: 8px 7px 7px 7px;
        display: flex
    }
    .gsi-style-4 div.li>* .number {
        font-size: 18px;
        padding-right: 5px
    }
    .gsi-style-4 div.li>* .number:after,
    .gsi-style-4 div.li>* .number:before {
        top: -8px;
        border: 19px solid transparent;
        border-left-width: 9px
    }
    .gsi-style-4 div.li>* .number:after {
        z-index: 1;
        left: 65%;
        border-left-color: #fff
    }
    .gsi-style-4 div.li>* .number:before {
        z-index: 2;
        left: 54%
    }
    .gsi-style-4 div.li>* .desc {
        padding-top: 0;
        padding-left: 10px
    }
    .gsi-style-4 div.li>* .desc label {
        font-size: 14px
    }
    .gsi-style-4 div.li>* .desc span {
        font-size: 12px
    }
    .gsi-style-4 div.li.current>* {
        background-color: #96c03d;
        color: #fff
    }
    .gsi-style-4 div.li.current>* .number:before {
        border-left-color: #96c03d
    }
    .gsi-style-5 {
        padding: 0;
        width: 100%
    }
    .gsi-style-5 div.li {
        margin: 5px 0;
        display: block
    }
    .gsi-style-5 div.li>* {
        padding: 8px 7px 7px 5px
    }
    .gsi-style-5 div.li>* .number {
        font-size: 16px;
        padding-right: 3px;
        padding-left: 3px
    }
    .gsi-style-5 div.li>* .desc {
        padding-left: 5px
    }
    .gsi-style-5 div.li>* .desc label {
        font-size: 16px
    }
    .gsi-style-5 div.li>* .desc span {
        font-size: 12px;
        display: block
    }
    .gsi-style-6 {
        width: 100%;
        padding: 0
    }
    .gsi-style-6 div.li {
        display: block
    }
    .gsi-style-6 div.li>* {
        padding: 8px 7px 7px 5px
    }
    .gsi-style-6 div.li>* .number {
        font-size: 20px;
        height: 26px;
        width: 26px;
        padding: 3px
    }
    .gsi-style-6 div.li>* .desc {
        padding-left: 10px
    }
    .gsi-style-6 div.li>* .desc label {
        font-size: 16px
    }
    .gsi-style-6 div.li>* .desc span {
        font-size: 12px
    }
    .gsi-style-7 {
        width: 100%;
        padding: 0
    }
    .gsi-style-7 div.li {
        margin-left: 5px;
        display: block;
        margin-bottom: 10px;
        min-width: 215px
    }
    .gsi-style-8 {
        width: 100%;
        padding: 0
    }
    .gsi-style-8 div.li {
        margin: 10px 0;
        display: block
    }
    .gsi-style-8 div.li:not(:last-child):after {
        width: 5px;
        height: 100%;
        top: 100%;
        left: 10%
    }
    .gsi-style-8 div.li>* .desc {
        padding-left: 10px
    }
    .gsi-style-8 div.li>* .desc label {
        font-size: 16px
    }
    .gsi-style-8 div.li>* .desc span {
        font-size: 12px
    }
    .gsi-style-9 {
        width: 100%;
        padding: 0
    }
    .gsi-style-9 div.li,
    .gsi-style-9 div.li:not(:first-child) {
        margin-left: 0
    }
    .gsi-style-9 div.li>* .desc {
        font-size: 14px
    }
    .gsi-style-9 div.li:not(:last-child):after {
        width: 100%;
        left: 70%
    }
    .gsi-style-10 {
        width: 100%;
        padding: 0
    }
    .gsi-style-10 div.li {
        margin-left: 0
    }
    .gsi-style-10 div.li:not(:first-child) {
        margin-left: 0
    }
    .gsi-style-10 div.li:not(:last-child):after {
        width: 100%
    }
    .gsi-style-10.gsi-vertical div.li {
        margin-left: 0
    }
    .gsi-style-10.gsi-vertical div.li>* .desc {
        padding-left: 10px
    }
    .gsi-style-11 {
        width: 100%;
        padding: 0
    }
    .gsi-style-11 div.li {
        margin-left: 0
    }
    .gsi-style-11 div.li:not(:first-child) {
        margin-left: 5px
    }
    .gsi-style-11 div.li>* .desc {
        font-size: 14px
    }
    .gsi-style-11 div.li:not(:first-child):before,
    .gsi-style-11 div.li:not(:last-child):after {
        width: 50%
    }
    .gsi-style-11.gsi-vertical div.li {
        margin-left: 0
    }
    .gsi-style-11.gsi-vertical div.li:not(:first-child) {
        margin-left: 0
    }
    .gsi-style-11.gsi-vertical div.li>* .desc {
        padding-top: 6px;
        padding-left: 5px;
        display: inline-block
    }
    .gsi-style-12 {
        width: 100%;
        padding: 0
    }
    .gsi-style-12 div.li {
        margin-left: 0
    }
    .gsi-style-12 div.li:not(:first-child) {
        margin-left: 0
    }
    .gsi-style-12 div.li:not(:first-child):before,
    .gsi-style-12 div.li:not(:last-child):after {
        width: 44%
    }
    .gsi-style-12 div.li.current:before,
    .gsi-style-12 div.li.current:after,
    .gsi-style-12 div.li.visited:before,
    .gsi-style-12 div.li.visited:after {
        background-color: #96c03d
    }
    .gsi-style-12.gsi-vertical div.li {
        margin-left: 0
    }
    .gsi-style-12.gsi-vertical div.li>* .desc {
        display: inline-block;
        padding: 5px;
        padding-top: 5px
    }
    .gsi-style-13 {
        width: 100%;
        padding: 0
    }
    .gsi-style-13 div.li {
        margin-left: 0;
        margin-bottom: 10px
    }
    .gsi-style-13 div.li:not(:first-child) {
        margin-left: 5px
    }
    .gsi-style-13 div.li:not(:last-child):after {
        display: none
    }
    .gsi-style-13 div.li>* {
        padding: 6px 7px 0 7px
    }
    .gsi-style-13 div.li>* .number {
        display: none
    }
    .gsi-style-13 div.li>* .desc {
        padding-bottom: 10px;
        font-size: 12px
    }
    .gsi-style-13 div.li>* .desc label {
        font-size: 1.1em
    }
    .gsi-style-13 div.li>* .desc span {
        font-size: 14px;
        display: block
    }
    .gsi-style-13.gsi-vertical div.li {
        margin-bottom: 10px;
        margin-left: 0
    }
    .gsi-style-13.gsi-vertical div.li:not(:first-child) {
        margin-left: 0
    }
    .gsi-style-13.gsi-vertical div.li:not(:last-child):after {
        display: block
    }
    .gsi-style-13.gsi-vertical div.li>* {
        text-align: center
    }
    .gsi-style-13.gsi-vertical div.li>* .number {
        left: 44%
    }
}

@media only screen and (min-width:480px) and (max-width:768px) {
    .gsi-step-indicator {
        width: 100%;
        padding: 0
    }
    .gsi-step-indicator div.li .number {
        font-size: 24px
    }
    .gsi-step-indicator div.li .desc {
        padding-top: 6px;
        vertical-align: super
    }
    .gsi-step-indicator div.li .desc label {
        font-size: 1.1em
    }
    .gsi-step-indicator div.li .desc span {
        font-size: 14px;
        display: block
    }
    .gsi-step-indicator div.li::after {
        display: none;
        content: '»';
        margin: 0 1em;
        color: #959fa5
    }
    .gsi-step-indicator div.li:last-of-type::after {
        display: none
    }
    .gsi-step-indicator div.li>* {
        display: flex;
        font-size: 1.6rem;
        color: #2c3f4c
    }
    .gsi-step-indicator.triangle {
        background-color: transparent;
        padding: 0
    }
    .gsi-step-indicator.triangle div.li {
        margin: 4px 4px 4px 0;
        display: block;
        float: none
    }
    .gsi-step-indicator.triangle div.li>* {
        padding: 6px 6px 6px 14px
    }
    .gsi-step-indicator.triangle div.li:first-of-type>* {
        border-radius: .25em 0 0 .25em
    }
    .gsi-step-indicator.triangle div.li:last-of-type>* {
        padding-right: 1.6em;
        border-radius: 0 .25em .25em 0
    }
    .gsi-step-indicator.triangle div.li::after,
    .gsi-step-indicator.triangle div.li>*::after {
        display: none !important;
        content: '';
        position: absolute;
        top: 0;
        left: 100%;
        height: 0;
        width: 0;
        border: 21px solid transparent;
        border-right-width: 0;
        border-left-width: 13px
    }
    .gsi-step-indicator.triangle div.li::after {
        z-index: 1;
        -webkit-transform: translateX(4px);
        -moz-transform: translateX(4px);
        -ms-transform: translateX(4px);
        -o-transform: translateX(4px);
        transform: translateX(4px);
        border-left-color: #fff;
        margin: 0
    }
    .gsi-step-indicator.triangle div.li>*::after {
        z-index: 2;
        border-left-color: inherit
    }
    .gsi-step-indicator.triangle .triangle div.li:last-of-type::after,
    .gsi-step-indicator.triangle div.li:last-of-type>*::after {
        display: none
    }
    .gsi-vertical {
        width: 100% !important
    }
    .gsi-vertical div.li {
        margin-right: 10px
    }
    .gsi-vertical div.li>*,
    .gsi-vertical div.li.current>* {
        padding: 8px 14px 8px 15px !important
    }
    .gsi-number-circle div.li>* .number {
        padding: 2px 4px 4px 4px;
        width: 18px;
        height: 18px;
        font-size: 16px
    }
    .gsi-number-circle div.li>* .desc {
        padding-left: 10px
    }
    .gsi-style-3.triangle div.li::after,
    .gsi-style-3.triangle div.li>*::after {
        border-Width: 28px !important;
        border-right-width: 0 !important;
        border-left-width: 13px !important
    }
    .gsi-style-2.triangle div.li .desc {
        padding-top: 0
    }
    .gsi-style-2.triangle div.li::after,
    .gsi-style-2.triangle div.li>*::after {
        border-Width: 24px !important;
        border-right-width: 0 !important;
        border-left-width: 13px !important
    }
    .gsi-style-4 {
        display: inline-block;
        padding: 0;
        margin: 1em auto
    }
    .gsi-style-4 div.li>* {
        padding: 8px 7px 7px 7px;
        display: flex
    }
    .gsi-style-4 div.li>* .number {
        font-size: 18px;
        padding-right: 5px
    }
    .gsi-style-4 div.li>* .number:after,
    .gsi-style-4 div.li>* .number:before {
        top: -8px;
        border: 19px solid transparent;
        border-left-width: 9px
    }
    .gsi-style-4 div.li>* .number:after {
        z-index: 1;
        left: 65%;
        border-left-color: #fff
    }
    .gsi-style-4 div.li>* .number:before {
        z-index: 2;
        left: 54%
    }
    .gsi-style-4 div.li>* .desc {
        padding-top: 0;
        padding-left: 10px
    }
    .gsi-style-4 div.li>* .desc label {
        font-size: 14px
    }
    .gsi-style-4 div.li>* .desc span {
        font-size: 12px
    }
    .gsi-style-4 div.li.current>* {
        background-color: #96c03d;
        color: #fff
    }
    .gsi-style-4 div.li.current>* .number:before {
        border-left-color: #96c03d
    }
    .gsi-style-5 {
        padding: 0;
        width: 100%
    }
    .gsi-style-5 div.li {
        margin-left: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        display: inline-block
    }
    .gsi-style-5 div.li>* {
        padding: 8px 7px 7px 5px
    }
    .gsi-style-5 div.li>* .number {
        font-size: 16px;
        padding-right: 3px;
        padding-left: 3px
    }
    .gsi-style-5 div.li>* .desc {
        padding-left: 5px
    }
    .gsi-style-5 div.li>* .desc label {
        font-size: 16px
    }
    .gsi-style-5 div.li>* .desc span {
        font-size: 12px;
        display: block
    }
    .gsi-style-6 {
        width: 100%;
        padding: 0
    }
    .gsi-style-6 div.li {
        margin-top: 5px;
        margin-bottom: 5px
    }
    .gsi-style-6 div.li>* {
        padding: 8px 7px 7px 5px
    }
    .gsi-style-6 div.li>* .number {
        font-size: 20px;
        height: 26px;
        width: 26px;
        padding: 3px
    }
    .gsi-style-6 div.li>* .desc {
        padding-left: 10px
    }
    .gsi-style-6 div.li>* .desc label {
        font-size: 16px
    }
    .gsi-style-6 div.li>* .desc span {
        font-size: 12px
    }
    .gsi-style-7 {
        width: 100%;
        padding: 0
    }
    .gsi-style-7 div.li {
        margin-left: 5px;
        display: block;
        margin-bottom: 10px;
        min-width: 215px
    }
    .gsi-style-8 {
        width: 100%;
        padding: 0
    }
    .gsi-style-8 div.li {
        margin: 10px 0;
        display: block
    }
    .gsi-style-8 div.li:not(:last-child):after {
        width: 5px;
        height: 100%;
        top: 100%;
        left: 10%
    }
    .gsi-style-8 div.li>* .desc {
        padding-left: 10px
    }
    .gsi-style-8 div.li>* .desc label {
        font-size: 16px
    }
    .gsi-style-8 div.li>* .desc span {
        font-size: 12px
    }
    .gsi-style-9 {
        width: 100%;
        padding: 0
    }
    .gsi-style-9 div.li {
        margin-left: 0
    }
    .gsi-style-9 div.li:not(:first-child) {
        margin-left: 30px
    }
    .gsi-style-9.gsi-vertical div.li {
        padding-left: 15px;
        margin-left: 0
    }
    .gsi-style-9.gsi-vertical div.li:not(:last-child):after {
        height: 100%;
        width: 5px;
        top: 94%;
        left: 8px
    }
    .gsi-style-9.gsi-vertical div.li>* {
        display: block
    }
    .gsi-style-9.gsi-vertical div.li>*:after {
        left: 0;
        top: 36%
    }
    .gsi-style-10 {
        width: 100%;
        padding: 0
    }
    .gsi-style-10 div.li {
        margin-left: 0
    }
    .gsi-style-10 div.li:not(:first-child) {
        margin-left: 20px
    }
    .gsi-style-10 div.li:not(:last-child):after {
        width: 120%
    }
    .gsi-style-10.gsi-vertical div.li {
        margin-left: 0
    }
    .gsi-style-11 {
        width: 100%;
        padding: 0
    }
    .gsi-style-11 div.li {
        margin-left: 0
    }
    .gsi-style-11 div.li:not(:first-child) {
        margin-left: 20px
    }
    .gsi-style-11 div.li:not(:first-child):before,
    .gsi-style-11 div.li:not(:last-child):after {
        width: 61%;
        top: 141%
    }
    .gsi-style-11 div.li:not(:last-child):after {
        left: 61%
    }
    .gsi-style-11 div.li:not(:first-child):before {
        right: 61%
    }
    .gsi-style-11.gsi-vertical div.li {
        margin-left: 0
    }
    .gsi-style-11.gsi-vertical div.li:not(:first-child) {
        margin-left: 0
    }
    .gsi-style-11.gsi-vertical div.li>* .desc {
        padding-top: 6px;
        padding-left: 5px;
        display: inline-block
    }
    .gsi-style-12 {
        width: 100%;
        padding: 0
    }
    .gsi-style-12 div.li {
        margin-left: 0
    }
    .gsi-style-12 div.li:not(:first-child) {
        margin-left: 20px
    }
    .gsi-style-12 div.li:not(:first-child):before,
    .gsi-style-12 div.li:not(:last-child):after {
        width: 61%
    }
    .gsi-style-12 div.li.current:before,
    .gsi-style-12 div.li.current:after,
    .gsi-style-12 div.li.visited:before,
    .gsi-style-12 div.li.visited:after {
        background-color: #96c03d
    }
    .gsi-style-12.gsi-vertical div.li {
        margin-left: 0
    }
    .gsi-style-12.gsi-vertical div.li>* .desc {
        display: inline-block;
        padding: 5px;
        padding-top: 5px
    }
    .gsi-style-13 {
        width: 100%;
        padding: 0
    }
    .gsi-style-13 div.li {
        margin-left: 0
    }
    .gsi-style-13 div.li:not(:first-child) {
        margin-left: 20px
    }
    .gsi-style-13 div.li:not(:last-child):after {
        width: 28%
    }
    .gsi-style-13 div.li>* {
        padding: 6px 7px 10px 7px
    }
    .gsi-style-13 div.li>* .number {
        width: 35px;
        height: 29px;
        font-size: 19px;
        padding-top: 7px;
        left: 26%
    }
    .gsi-style-13 div.li>* .desc {
        padding-bottom: 10px;
        font-size: 18px
    }
    .gsi-style-13 div.li>* .desc label {
        font-size: 1.1em
    }
    .gsi-style-13 div.li>* .desc span {
        font-size: 14px;
        display: block
    }
    .gsi-style-13.gsi-vertical div.li {
        margin-bottom: 50px;
        margin-left: 0
    }
    .gsi-style-13.gsi-vertical div.li:not(:first-child) {
        margin-left: 0
    }
    .gsi-style-13.gsi-vertical div.li>* {
        text-align: center
    }
    .gsi-style-13.gsi-vertical div.li>* .number {
        left: 44%
    }
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}