<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window height="500px" width="100%" use="sn.ssi.kermel.web.pidrp.controllers.DossiersOuverturePlisController">
	<vbox width="100%" heights="100%">
			<div style="width:60%;margin-left:20%;margin-top:1%;margin-right:20%;">
			 <n:table width="100%">
			   <n:tr>
			     <n:td width="100%">
			        <n:table>
			          <n:tr>
			            <n:td rowspan="5"></n:td>
			            <n:td colspan="2" style="color:#000;font-family: sans-serif; font-size: 16px">${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis')}</n:td>
			          </n:tr>
			       		<n:tr>
						  <n:td ><image src="/images/puce-a-noter.gif" border="0" /></n:td>
						   <n:td ><label style="color:red;font-family: sans-serif; font-size: 16px;cursor:pointer" value="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.registredepot')}" id="registredepot"/></n:td>
				    	</n:tr>
			          <n:tr>
						<n:td ><image src="/images/puce-a-noter.gif" border="0" /></n:td>
						    <n:td style="color:#000;font-family: sans-serif; font-size: 16px">${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis')}</n:td>
				  		</n:tr>
						<n:tr>
						    <n:td></n:td>
						   <n:td>
						      <n:table>
						        <n:tr>
						          <n:td ><image src="/images/puce-a-noter.gif" border="0" /></n:td>
						             <n:td ><label style="color:red;font-family: sans-serif; font-size: 16px;cursor:pointer" value="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis.presencecommissionsmarches')}" id="listepresencemembrescommissions"/></n:td>
				   
						        </n:tr>
						        <n:tr>
						          <n:td ><image src="/images/puce-a-noter.gif" border="0" /></n:td>
						             <n:td ><label style="color:red;font-family: sans-serif; font-size: 16px;cursor:pointer" value="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis.presencerepresentantsoum')}" id="representantssoumissionnaires"/></n:td>
				   
							        </n:tr>
						        <n:tr>
						          <n:td ><image src="/images/puce-a-noter.gif" border="0" /></n:td>
						             <n:td ><label style="color:red;font-family: sans-serif; font-size: 16px;cursor:pointer" value="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis.representantservicetechnique')}" id="representantsservicestechniques"/></n:td>
				   
						        </n:tr>
						        <n:tr>
						          <n:td ><image src="/images/puce-a-noter.gif" border="0" /></n:td>
						             <n:td ><label style="color:red;font-family: sans-serif; font-size: 16px;cursor:pointer" value="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis.obserindependants')}" id="observateursindependants"/></n:td>
				   
							        </n:tr>
						        <n:tr>
						          <n:td ><image src="/images/puce-a-noter.gif" border="0" /></n:td>
						             <n:td ><label style="color:red;font-family: sans-serif; font-size: 16px;cursor:pointer" value="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis.garantiesoumission')}" id="garantiesoumission"/></n:td>
				   
							        </n:tr>
						        <n:tr>
						          <n:td ><image src="/images/puce-a-noter.gif" border="0" /></n:td>
						             <n:td ><label style="color:red;font-family: sans-serif; font-size: 16px;cursor:pointer" value="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis.piecesadministratives')}" id="piecessoumissionnaires"/></n:td>
				   
							        </n:tr>
						       
						        <n:tr>
						          <n:td ><image src="/images/puce-a-noter.gif" border="0" /></n:td>
						             <n:td ><label style="color:red;font-family: sans-serif; font-size: 16px;cursor:pointer" value="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis.lectureoffres')}" id="lecturesoffres"/></n:td>
				   
							        </n:tr>
						        <n:tr>
						          <n:td ><image src="/images/puce-a-noter.gif" border="0" /></n:td>
						             <n:td ><label style="color:red;font-family: sans-serif; font-size: 16px;cursor:pointer" value="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis.procesverbalouverture')}" id="procesverbalouverture"/></n:td>
				   
							        </n:tr>
						         <n:tr>
						          <n:td ><image src="/images/puce-a-noter.gif" border="0" /></n:td>
						             <n:td ><label style="color:red;font-family: sans-serif; font-size: 16px;cursor:pointer" value="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis.compositioncommissiontechnique')}" id="compositioncommissiontechnique"/></n:td>
				   
						         </n:tr>
						         <n:tr>
						          <n:td ><image src="/images/puce-a-noter.gif" border="0" /></n:td>
						             <n:td ><label style="color:red;font-family: sans-serif; font-size: 16px;cursor:pointer" value="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.ouvertureplis.incidents.details')}" id="incidents"/></n:td>
				   
						         
						        </n:tr>
						      </n:table>
						   </n:td>
						</n:tr>
						
			        </n:table>
			     </n:td>
			     
			   </n:tr>
			 </n:table>
			 
			
				
			</div>

		</vbox>


	</window>
</zk>

