<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window width="100%" title="" height="100%"
			use="sn.ssi.kermel.web.pidrp.controllers.ProceduresPassationsMarcheFormController">
		<borderlayout height="100%">
			<center>
				<div height="100%">
					<div id="step1" height="100%">
						<borderlayout height="100%">
							<north>
								<hbox widths="75%,*" width="100%"
									height="25px" spacing="0px">
									<menubar>
					          <menuitem image="/images/cancel.png" label="${c:l('kermel.common.form.fermer')}" id="menuFermer"/>
				                </menubar>
								</hbox>
							</north>
							<center>
									<vbox  height="100%" width="100%">
					                    <include id="pgActes" height="100%" width="100%" />
				                   </vbox>
								
							</center>
							<south size="1px">
									</south>
						</borderlayout>
					</div>
                   
					
				</div>
			</center>
		</borderlayout>
	</window>
</zk>