<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window width="100%" title="" height="500px"
		use="sn.ssi.kermel.web.pidrp.controllers.CorrectionOffreController">
		<borderlayout height="100%">
			<center>
				<div height="100%">
					<div id="step0" height="100%">
						<borderlayout height="100%">
							<north>
								<hbox widths="85%,*" width="100%" height="25px" spacing="0px">
<!-- 									<menubar height="25px"> -->
<!-- 									    <menuitem image="/images/ok.png" label="${c:l('kermel.common.form.valider')}" id="menuValider" /> -->
<!-- 									</menubar> -->
			                     </hbox>
							</north>

							<center>
								<div style="width:98%;margin-left:1%;margin-top:1%;margin-right:1%;">
			<div style="margin-top:4%" >
					<label  style="color:#000;" sclass="complex-layout-header-label"   value="${c:l('kermel.plansdepassation.proceduresmarches.prestationintellectuelle.evaluationoffres.saisieprixevalues')}" />
		             </div>
		         
				
					
					 <grid width="100%" id="GridListe">
            <columns height="22px" >
                <column label="${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.evaluation.correctionoffres.soumissionnaire')}" width="27%"/>
                 <column label="${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.evaluation.correctionoffres.montantlu')}" width="15%" align="center"/>
				<column label="${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.evaluation.correctionoffres.montantdevise')}" width="16%" align="center"/>
				<column label="${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.evaluation.correctionoffres.montantcorrige')}" width="19%" align="center"/>
				<column label="${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.evaluation.correctionoffres.monnaie')}" width="6%" align="center"/>
				<column label="${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.evaluation.correctionoffres.nature')}" width="15%" align="center"/>
				<column  width="2%"/>
                
            </columns>
          
           
        </grid>
				</div>
							</center>
							<south size="25px">
								<vbox width="100%" height="100%" heights="80%,*">
									<paging id="pgPagination" />
								</vbox>
							</south>
						</borderlayout>
					</div>
					
				</div>
			</center>
		</borderlayout>
	</window>
</zk>