<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window width="100%" title="" height="450px"
		use="sn.ssi.kermel.web.pidrp.controllers.FournisseursController">
		<borderlayout height="100%">
			<center>
				<div height="100%">
					<div id="step0" height="100%">
						<borderlayout height="100%">
							<north>
								<hbox widths="85%,*" width="100%" height="25px" spacing="0px">
									<menubar height="25px">
										<menuitem image="/images/add.png" label="${c:l('kermel.common.form.ajouter')}" id="menuAjouter" />
										<menuitem image="/images/delete.png" label="${c:l('kermel.common.form.supprimer')}" id="menuSupprimer" />
										<menuitem image="/images/add.png" label="${c:l('kermel.plansdepassation.proceduresmarches.travauxdrp.lettreinvitation.envoyer')}" id="menuEnvoyer" />
									</menubar>
			                     </hbox>
							</north>

							<center>
								<div style="width:98%;margin-left:1%;margin-top:1%;margin-right:1%;">
			<div style="margin-top:4%" >
					<label  style="color:#000;" sclass="complex-layout-header-label"   value="${c:l('kermel.plansdepassation.proceduresmarches.travauxdrp.candidats.invites')}" />
		             </div>
				<listbox  id="lstListe" checkmark="true" ="true">
						<listhead >
							<listheader label="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.registreretrait.raisonsocial')}" width="60%" id="lshLibelle"/>
							<listheader label="${c:l('kermel.referentiel.common.pays')}" width="27%" />
							<listheader label="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.registredepot.email')}" width="10%" />
							<listheader label="" width="3%" align="center" />
						</listhead>
					</listbox>
				</div>
							</center>
							<south size="25px">
								<vbox width="100%" height="100%" heights="80%,*">
									<paging id="pgPagination" visible="false"/>
								</vbox>
							</south>
						</borderlayout>
					</div>
					<div id="step1" height="100%" visible="false">
						<borderlayout height="100%">
							<north>
								<hbox widths="90%,*" width="100%" height="25px" spacing="0px">
									<menubar height="100%">
										<menuitem image="/images/ok.png" label="${c:l('kermel.common.form.valider')}" id="menuValider" />
										<menuitem image="/images/cancel.png" label="${c:l('kermel.common.form.fermer')}" id="menuFermer" />
										
									</menubar>
								</hbox>

							</north>
							<center>

								<div style="width:90%;margin-left:5%;margin-top:1%">
										<listbox  id="lstPieces" checkmark="true" ="true">
						<listhead >
							<listheader label="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.registreretrait.raisonsocial')}" width="30%" />
							<listheader label="${c:l('kermel.referentiel.common.pays')}" width="20%" />
							<listheader label="${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.evaluation.classementfinal.attributaire.adresse')}" width="20%" />
							<listheader label="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.registreretrait.telephone')}" width="10%" />
							<listheader label="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.registreretrait.fax')}" width="10%" />
							<listheader label="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.registredepot.email')}" width="10%" />
						</listhead>
					</listbox>
									</div>
								

							</center>
							<south size="25">
			<paging id="pgPieces"/>
			</south>

						</borderlayout>
					</div>
					
					<div id="step2" height="100%" visible="false">
						<borderlayout height="100%">
							<north>
								<hbox widths="90%,*" width="100%" height="25px" spacing="0px">
									<menubar height="100%">
										<menuitem image="/images/ok.png" label="${c:l('kermel.common.form.valider')}" id="menuValiderstep2" />
										<menuitem image="/images/cancel.png" label="${c:l('kermel.common.form.fermer')}" id="menuFermerstep2" />
										
									</menubar>
								</hbox>

							</north>
							<center>

								<div style="width:90%;margin-left:5%;margin-top:1%">
										 <n:table>
				  
					<n:tr>
					  <n:td width="39%">${c:l('kermel.plansdepassation.proceduresmarches.travauxdrp.lettreinvitation')}</n:td>
					  <n:td   width="1%" >:</n:td>
					  <n:td width="60%"> <textbox id="txtVersionElectronique" width="300px" />
						
						<button label="..."  id="btnChoixFichier" image="/images/FileDownload-24x24.png"  style="backgroung-color:#000;"/><image id="image" /><label  value="*" style="color:red;"/>
                    </n:td>                    
				</n:tr>
				
			
						          
							   </n:table>
									</div>
								

							</center>
							<south size="25">
			                    <vbox  width="100%" spacing="5px">
							      <hbox widths="40%,2%,2%,46%,10%">
								    <label/>
									<label  value="(" />
									<label  value="*" style="color:red;"/>
									<label  value=") = ${c:l('kermel.common.form.champs.obligatoire')}" />
									<label/>
								 </hbox>
								 <hbox>
								   <label id="lbStatusBar" />
								 </hbox>
					           </vbox>
			                 </south>

						</borderlayout>
					</div>
						<div id="step3" height="100%" visible="false">
						<borderlayout height="100%">
							<north>
								<hbox widths="90%,*" width="100%" height="25px" spacing="0px">
									<menubar height="100%">
										<menuitem image="/images/cancel.png" label="${c:l('kermel.common.form.fermer')}" id="menuFermerstep3" />
										
									</menubar>
								</hbox>

							</north>
							<center>

								<div style="width:98%;margin-left:1%;margin-top:1%">
									<iframe id="idIframe" width="100%" height="600px" scrolling="auto" />
								</div>
								

							</center>
							
						</borderlayout>
					</div>
					<div id="step4" height="100%" visible="false">
						<borderlayout height="100%">
							<north>
								<hbox widths="90%,*" width="100%" height="25px" spacing="0px">
									<menubar height="100%">
										<menuitem image="/images/ok.png" label="${c:l('kermel.common.form.valider')}" id="menuValiderstep4" />
										<menuitem image="/images/cancel.png" label="${c:l('kermel.common.form.fermer')}" id="menuFermerstep4" />
										
									</menubar>
								</hbox>

							</north>
							<center>

								<div style="width:90%;margin-left:5%;margin-top:1%">
										 <n:table>
				  <n:tr>
				          <n:td width="39%">${c:l('kermel.plansdepassation.proceduresmarches.prestationintellectuelle.resultatnegociation.date')}</n:td>
				          <n:td width="1%">:</n:td>
				          <n:td width="60%"><datebox id="dtdate"  /><label  value="*" style="color:red;"/></n:td>
				        </n:tr>
				 <n:tr>
				 <n:td>${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.attribution.commentaires')}</n:td>
				 <n:td>:</n:td>
				 <n:td > <textbox id="txtCommentaires" cols="60" rows="5"/></n:td>
				</n:tr>
					
			
						          
							   </n:table>
									</div>
								

							</center>
							<south size="25">
			                    <vbox  width="100%" spacing="5px">
							      <hbox widths="40%,2%,2%,46%,10%">
								    <label/>
									<label  value="(" />
									<label  value="*" style="color:red;"/>
									<label  value=") = ${c:l('kermel.common.form.champs.obligatoire')}" />
									<label/>
								 </hbox>
								 <hbox>
								   <label id="lbStatusBarstep4" />
								 </hbox>
					           </vbox>
			                 </south>

						</borderlayout>
					</div>
				</div>
			</center>
		</borderlayout>
	</window>
</zk>