<?page title="" contentType="text/html;charset=UTF-8"?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
<window title="" border="normal" use="sn.ssi.kermel.web.traitementdossier.controllers.ListPieceDossier" height="500px" width="100%">
<borderlayout height="100%">
							<north>
								<hbox widths="85%,*" width="100%"
									height="25px" spacing="0px">
									<menubar height="25px">
											<menuitem
												image="/images/cancel.png" label="Fermer"
												id="menuCancelStep2" forward="onClose"/>
									</menubar>
								</hbox>
							</north>
							<center>
								<div
									style="width:95%;margin-left:2%;margin-top:1%">
																	
									<n:fieldset>
										<n:legend>
											${c:l('kermel.common.fichierjoint')}
										</n:legend>
										
										<listbox>
										<listhead>
<!-- 											<listheader -->
<!-- 												label="${c:l('kermel.common.nomfichier')}" /> -->

											

											<listheader
												label="${c:l('kermel.courriers.date.saisie')}" />


											<listheader
												label="${c:l('kermel.common.objet')}"  width="30%"/>
											<listheader
												label="${c:l('kermel.common.fichier')}" />
											<listheader width="3%"
												align="center">
											</listheader>
										</listhead>
										<listitem>
											
											
<!-- 											<listcell> -->
<!-- 												<textbox id="txtNomFIchier" -->
<!-- 													width="100%"> -->
<!-- 												</textbox> -->
<!-- 											</listcell> -->
											
											
											<listcell>
											<datebox id="dateSaisieFile"
													width="80%">
												</datebox>
												
											</listcell>
											<listcell>
												<textbox id="txtObjetFile"
													width="90%">
												</textbox>
											</listcell>
											<listcell>
												<textbox
													id="txtFichiersrc" width="80%">
												</textbox>
												<button id="bcUploadFile"
											tooltiptext="${c:l('kermel.common.form.rechercher')}"
											  label="..."/>
											</listcell>
											<listcell>
												<image
													src="/images/ok.png" id="cellValider3">
												</image>
											</listcell>
										</listitem>
									</listbox>
									</n:fieldset>
									<listbox id="lstFiles">
										<listhead>
<!-- 											<listheader width="20%"/> -->
											<listheader width="20%" />
											<listheader/>
											<listheader width="15%"/>
												<listheader width="2%"/>

										</listhead>
									</listbox>
								</div>
							</center>

							<south size="40px">
								<vbox width="100%" height="100%"
									heights="80%,*">
									<paging id="pgPieces" />
									<label id="lblStatusbar2"></label>
								</vbox>
							</south>
						</borderlayout>
</window>
</zk>