<?page title="" contentType="text/html;charset=UTF-8"?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
<window title="" border="normal" height="500px" width="100%" use="sn.ssi.kermel.web.traitementdossier.controllers.ListProjetReponse">
<borderlayout height="100%">
							<north>
								<vbox width="100%">
									<hbox width="100%" widths="75%,25%" >
										<kermelsousmenu id="monSousMenu"/>
									</hbox>
<!-- 									<hbox widths="75%,25%" width="100%"> -->
<!-- 										<div style="margin-top:30px;margin-left:5px"> -->
<!-- 										<label  style="font-weight:bold" value="${c:l('kermel.common.form.courrier')}" /> -->
<!-- 										</div> -->
<!-- 									</hbox>			 -->
									</vbox>
							</north>
							<center>
								<div
									style="width:98%;margin-left:1%;margin-top:1%;margin-right:1%;">
									
									<listbox id="lstListe"
										checkmark="true" ="false">
										<listhead>
											<listheader
												label="${c:l('kermel.courrierac.reference')}" width="10%"
												id="lshcourrierReference" />
											
											<listheader
												label="${c:l('kermel.courrierac.date')}" width="15%" id="lshcourrierDate" />
											<listheader
												label="${c:l('kermel.courrierac.dateReception')}"
												width="15%" id="lshcourrierDateReception" />
											<listheader
												label="${c:l('kermel.texte.reglementaire.tex_objet')}" width="25%" />
											<listheader
												
												width="3%" />
										</listhead>
									</listbox>
								</div>
							</center>
							<south size="75">
								<paging id="pgPagination" />
							</south>
						</borderlayout>
</window>
</zk>