<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<?page title="" contentType="text/html;charset=UTF-8"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
<window title="" border="normal" width="100%" height="700px" use="sn.ssi.kermel.web.traitementdossier.controllers.TabSuiviGrilleAnalyseCtrl">
<borderlayout height="100%">
	<center>
		<vbox width="100%" height="500px">
			
			<div width="100%">	
				<tabbox width="100%"
							use="sn.ssi.kermel.web.common.components.TabGrilleAnalyse">
							<tabs width="170px">
								<tab closable="false" id="TAB_GRILLE"
									onCreate="self.setVisible(true)"
									label="${c:l('kermel.traitementdossier.suivi.grilleanalyse')}" />
									<tab closable="false" id="TAB_PROJETREP"
									label="${c:l('kermel.traitementdossier.suivi.projetrep')}" />
									<tab closable="false" id="TAB_VERSIONSAS"
									label="${c:l('kermel.traitementdossier.suivi.versionss')}" />
									<tab closable="false" id="TAB_VERSIONS"
									label="${c:l('kermel.traitementdossier.suivi.versions')}" />
							</tabs>
							<tabpanels>

								<tabpanel id="tabGrille">
									<include id="incGrille" />
								</tabpanel>
								<tabpanel id="tabprojetrep">
									<include id="incprojetrep" />
								</tabpanel>

								<tabpanel id="tabVersionsas">
									<include id="incVersionsas" />
								</tabpanel>
								<tabpanel id="tabVersions">
									<include id="incVersions" />
								</tabpanel>
								
							</tabpanels>
						</tabbox>
				
			</div>
		</vbox>
	</center>
</borderlayout>
</window>
</zk>