<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window height="680px" width="100%" use="sn.ssi.kermel.web.denonciations.controllers.DenonciationsController">
	<vbox width="100%" heights="100%">
	<div style="margin-top:3%" >
					<label  style="color:#000;" sclass="complex-layout-header-label"  value="Dénonciations Anonymes" />
		             </div>
			<vbox width="100%" height="500px">
			
				<tabbox width="100%" use="sn.ssi.kermel.web.common.components.TabDenonciation">
					<tabs width="170px">
						<tab  closable="false" id="TAB_Portail" onCreate="self.setVisible(true)" label="Portail"/>
						<tab  closable="false" 	id="TAB_CourriersDenonciation" label="Courriers"/>
						<tab  closable="false" id="TAB_NumVert" label="Numéro Vert"/>
						<tab  closable="false" id="TAB_Poubelle" label="Poubelle"/>
						
					</tabs>
					<tabpanels>
						<tabpanel id="tabPortail">
							<include id="incPortail" />
						</tabpanel>
						<tabpanel id="tabCourriersDenonciation">
							<include id="incCourriersDenonciation" />
						</tabpanel>
                        <tabpanel id="tabNumVert">
							<include id="incNumVert" />
						</tabpanel>
						 <tabpanel id="tab_Poubelle">
							<include id="incPoubelle" />
						</tabpanel>
						
					</tabpanels>
				</tabbox>

			</vbox>

		</vbox>


	</window>
</zk>