<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<?page title="${c:l('kermel.common.form.piece')}" contentType="text/html;charset=UTF-8"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window title="${c:l('kermel.common.form.denonciation')}" border="normal" width="80%" height="500px" use="sn.ssi.kermel.web.denonciations.controllers.DenonciationPoubelleFormCourrierController">
		<borderlayout>
			<north>
				<vbox width="100%">
					<hbox width="100%">
						<menubar>
						<menuitem id="menuValider" image="/images/ok.png" label="${c:l('kermel.common.form.valider')}" forward="onOK"/>
						<menuitem id="menuFermer" image="/images/cancel.png" label="${c:l('kermel.common.form.fermer')}" forward="onClose"/>
					</menubar>
					</hbox>
				</vbox>
			</north>
			<center>
				<div height="100px" style="width:80%;margin-left:10%;margin-top:3%;margin-right:10%;">
					<n:table>
						<n:tr>
								<n:td >${c:l('kermel.referentiel.common.reference')}</n:td>
								<n:td align="right">:</n:td>
								<n:td ><textbox id="txtreference"  cols="10" rows="1"/> <label  value="*" style="color:red;"/></n:td>
						</n:tr>	
						   <n:tr>
								<n:td >${c:l('kermel.common.form.objet')}</n:td>
								<n:td align="right">:</n:td>
								<n:td ><textbox id="txtobjet"  cols="60" rows="5"/> <label  value="*" style="color:red;"/></n:td>
						</n:tr>
						<n:tr>
							   <n:td>${c:l('kermel.referentiel.common.datecourrier') }</n:td>
								<n:td >:</n:td>
								<n:td><datebox id="datecourrier"  /> <label  value="*" style="color:red;"/></n:td>		
						</n:tr>
							<n:tr>
							   <n:td>${c:l('kermel.referentiel.common.datereception') }</n:td>
								<n:td >:</n:td>
								<n:td><datebox id="datereception"  /> <label  value="*" style="color:red;"/></n:td>		
						</n:tr>
					     <n:tr>
								<n:td >${c:l('kermel.referentiel.common.fichier')}</n:td>
								<n:td align="right">:</n:td>
								<n:td >	<textbox id="txtVersionElectronique" width="300px" />
						
						<button label="..."  id="btnChoixFichier" image="/images/FileDownload-24x24.png"  style="backgroung-color:#000;"/><image id="image" />
             </n:td>
						 </n:tr>
				 </n:table>
				</div> 
			</center>
			<south size="50px">
				<vbox  width="100%" spacing="5px">
					<hbox widths="40%,2%,2%,46%,10%">
					    <label/>
						<label  value="(" />
						<label  value="*" style="color:red;"/>
						<label  value=") = ${c:l('kermel.common.form.champs.obligatoire')}" />
						<label/>
					</hbox>
					 <hbox>
					   <label id="lbStatusBar" />
					 </hbox>
				</vbox>
			</south>
		</borderlayout>
	</window>
</zk>