<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<?page title="${c:l('kermel.common.form.piece')}" contentType="text/html;charset=UTF-8"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window title="${c:l('kermel.common.form.denonciation')}" border="normal" width="80%" height="500px" use="sn.ssi.kermel.web.denonciations.controllers.DenonciationPoubelleFormNumVertController">
		<borderlayout>
			<north>
				<vbox width="100%">
					<hbox width="100%">
						<menubar>
						<menuitem id="menuValider" image="/images/ok.png" label="${c:l('kermel.common.form.valider')}" forward="onOK"/>
						<menuitem id="menuFermer" image="/images/cancel.png" label="${c:l('kermel.common.form.fermer')}" forward="onClose"/>
					</menubar>
					</hbox>
				</vbox>
			</north>
			<center>
				<div height="100px" style="width:80%;margin-left:10%;margin-top:3%;margin-right:10%;">
					<n:table>
					    <n:tr>
								<n:td >${c:l('kermel.common.form.numerovert')}</n:td>
								<n:td align="right">:</n:td>
								<n:td ><intbox id="txtnumvert" /> <label  value="*" style="color:red;"/></n:td>
						</n:tr>
						   <n:tr>
								<n:td >${c:l('kermel.common.form.nomappellant')}</n:td>
								<n:td align="right">:</n:td>
								<n:td ><textbox id="txtnomappellant"  cols="10" rows="1"/> <label  value="*" style="color:red;"/></n:td>
						</n:tr>
						<n:tr>
							   <n:td>${c:l('kermel.referentiel.common.dateappel') }</n:td>
								<n:td >:</n:td>
								<n:td><datebox id="dateappel"  /> <label  value="*" style="color:red;"/></n:td>		
								</n:tr>
						<n:tr>
								<n:td >${c:l('kermel.referentiel.common.adresse')}</n:td>
								<n:td align="right">:</n:td>
								<n:td ><textbox id="txtadresse"  cols="10" rows="1"/> <label  value="*" style="color:red;"/></n:td>
						</n:tr>	
				 </n:table>
				</div> 
			</center>
			<south size="50px">
				<vbox  width="100%" spacing="5px">
					<hbox widths="40%,2%,2%,46%,10%">
					    <label/>
						<label  value="(" />
						<label  value="*" style="color:red;"/>
						<label  value=") = ${c:l('kermel.common.form.champs.obligatoire')}" />
						<label/>
					</hbox>
					 <hbox>
					   <label id="lbStatusBar" />
					 </hbox>
				</vbox>
			</south>
		</borderlayout>
	</window>
</zk>