<?page title=""?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window border="normal" height="550px" width="100%"
		use="sn.ssi.kermel.web.denonciations.controllers.ListDenonciationNumVertController">
<!--		<vbox width="100%" height="100%">-->
			<borderlayout height="100%">
				<center>
					<listbox width="100%" id="list" checkmark="true" ="false">
						<listhead width="100%">
							<listheader label="${c:l('kermel.referentiel.common.dateappel')}" width="10%" id="lshdateappel"/>
						
							<listheader label="${c:l('kermel.denonciations.resumeappel.numvert')}" width="90%" id="lshadresse"/>
							
						</listhead>
					</listbox>
				</center>
				<north size="50">
					<vbox width="100%">
					<hbox width="100%" >
					<kermelsousmenu id="monSousMenu"/>
<!-- 						 <hbox width="100%" sclass="z-menubar-hor">  -->
<!-- 							<datebox id="datedenonciation"/> -->
<!-- 							 <button image="/images/zoom.png" id="btnRechercher"/>				  -->
<!-- 						    </hbox>  -->
					</hbox>
					<hbox widths="75%,25%" width="100%">
						<div style="margin-top:30px;margin-left:5px">
<!-- 						<label  style="font-weight:bold" value="${c:l('kermel.common.form.denonciation')}" /> -->
						</div>
					</hbox>			
					</vbox>
				</north>
				<south size="75" sclass="">
					<paging id="pgdenonciation"></paging>
				</south>
			</borderlayout>

<!--		</vbox>-->
	</window>
</zk>