<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window height="600px" width="80%" title="Nouvelle Autorité" 
		 use="sn.ssi.kermel.web.referentiel.controllers.ACFormController">
		<borderlayout height="100%">
			<center>
				<div height="100%">
					<div id="step0" height="100%">
						<borderlayout height="100%">
							<north>
								<hbox widths="80%,*" width="100%" height="25px" spacing="0px">
									<menubar height="25px">
										<menuitem image="/images/previous.png" label="${c:l('kermel.common.form.precedent')}"  disabled="true" />
										<menuitem image="/images/next.png"  label="${c:l('kermel.common.form.suivant')}" 	id="menuNext" />
										<menuitem image="/images/cancel.png" label="${c:l('kermel.common.form.fermer')}" id="menuCancel" />
									</menubar>
			                    
			                     <hbox pack="end" sclass="z-menubar-hor" height="100%">
						<textbox id="txtCodeTypeAutorite"  value="${c:l('kermel.referentiel.common.autorisation.code')}"></textbox>
				        <textbox id="txtRechercherTypeAutorite" value="${c:l('kermel.autoritecontractante.libelle')}" />
				<button image="/images/zoom.png" id="btnRechercherTypeAutorite"/>
						</hbox>	
						 </hbox>
							</north>

							<center>
								<div style="width:98%;margin-left:1%;margin-top:1%;margin-right:1%;">
			
				<listbox  id="lstTypeAutorite" checkmark="true" ="false">
						<listhead >
							<listheader label="${c:l('kermel.referentiel.common.code') }" width="10%" />
							<listheader label="${c:l('kermel.autoritecontractante.libelle') }" width="90%" />
						</listhead>
					</listbox>
					
				</div>
							</center>
							<south size="25px">
								<vbox width="100%" height="100%" heights="80%,*">
									<paging id="pgTypeAutorite" />
								</vbox>
							</south>
						</borderlayout>
					</div>
					<div id="step1" height="100%" visible="false">
						<borderlayout height="100%">
							<north>
								<hbox  width="100%" height="25px" spacing="0px">
									<menubar height="25px">
										<menuitem image="/images/previous.png" label="${c:l('kermel.common.form.precedent')}"  id="menuPrevious" />
										<menuitem image="/images/next.png"  label="${c:l('kermel.common.form.suivant')}" 	disabled="true" />
										<menuitem id="menuValider" image="/images/ok.png" label="${c:l('kermel.common.form.valider')}" forward="onOK"/>
						                <menuitem id="menuFermer" image="/images/cancel.png" label="${c:l('kermel.common.form.fermer')}" />
									</menubar>
			          		 </hbox>
							</north>

							<center>
								<div style="width:96%;margin-left:2%;margin-top:1%;margin-right:2%;">
					<groupbox id="gb" mold="3d" width="100%" closable="false">
										<n:table width="100%">
											<n:tr>
												<n:td align="left" width="9%"> ${c:l('kermel.referentiel.common.marche.Type')} </n:td>
												<n:td align="right" width="1%">:</n:td>
												<n:td class="valeur" width="90%"><label id="lblType"/></n:td>
												
											</n:tr>
											
										</n:table>
										</groupbox>
										<n:br/>
										<n:hr style="margin:0px;" />
										<n:br/>
										<n:table width="100%">
										   <n:tr>
										   <n:td width="80%">
										   <n:table>
						 <n:tr>
								<n:td width="39%">${c:l('kermel.referentiel.common.denomination')}</n:td>
								<n:td width="1%" align="right">:</n:td>
								<n:td width="60%"><textbox id="txtDenomination" cols="60" rows="2"/><label  value="*" style="color:red;"/></n:td>
								
						</n:tr>
					   <n:tr>
								<n:td>${c:l('kermel.referentiel.common.sigle')}</n:td>
								<n:td align="right">:</n:td>
								<n:td><textbox id="txtSigle"   /><label  value="*" style="color:red;"/></n:td>
						</n:tr>
						<n:tr>
						 <n:td >${c:l('kermel.referentiel.common.pole')}</n:td>
							  <n:td >:</n:td>
							            <n:td>
							              <bandbox id="bdPole" mold="default" autodrop="true" buttonVisible="true" readonly="true">
								             <bandpopup>
									           <vbox>
										         <hbox>
											        ${c:l('kermel.common.form.rechercher') }
											          <textbox id="txtRechercherPole" value="${c:l('kermel.referentiel.common.pole')}" />
											            <button image="/images/zoom.png" id="btnRechercherPole"/>
										         </hbox>
										         <listbox width="250px" id="lstPole"/>
										         <paging id="pgPole" detailed="true"/>
									           </vbox>
								           </bandpopup>
							            </bandbox>
							         </n:td>
						            </n:tr>
						 
						<n:tr>
								<n:td>${c:l('kermel.courriers.adresse')}</n:td>
								<n:td align="right">:</n:td>
																<n:td><textbox id="txtAdresse"  cols="60" rows="2"/><label  value="*" style="color:red;"/></n:td>
						</n:tr>
						<n:tr>
								<n:td>${c:l('kermel.referentiel.personne.telephone')}</n:td>
								<n:td align="right">:</n:td>
								<n:td><textbox id="txtTelephone"  cols="60"/><label  value="*" style="color:red;"/></n:td>
								
						</n:tr>
						<n:tr>
								<n:td>${c:l('kermel.referentiel.personne.fax')}</n:td>
								<n:td align="right">:</n:td>
								<n:td><textbox id="txtFax"  cols="60"/></n:td>
										
						</n:tr>
						<n:tr>
								<n:td>${c:l('kermel.referentiel.personne.email')}</n:td>
								<n:td align="right">:</n:td>
								<n:td><textbox id="txtEmail"  cols="60" /><label  value="*" style="color:red;"/></n:td>
								
						</n:tr>
						<n:tr>
								
								<n:td>${c:l('kermel.referentiel.personne.adresse.siteweb')}</n:td>
								<n:td align="right">:</n:td>
								<n:td><textbox id="txtSiteWeb"  cols="60" /></n:td>
								
						</n:tr>
						<n:tr>
								<n:td>${c:l('kermel.referentiel.personne.responsable')}</n:td>
								<n:td align="right">:</n:td>
								<n:td><textbox id="txtResponsable"  cols="60" rows="2"/></n:td>
										
								
						</n:tr>
						<n:tr>
								<n:td>${c:l('kermel.referentiel.common.ordre')}</n:td>
								<n:td align="right">:</n:td>
								<n:td><intbox id="intordre"  cols="60"/><label  value="*" style="color:red;"/></n:td>
								
						</n:tr>
						
				 </n:table>
				 
										   </n:td>
										   <n:td width="20%" align="center" valign="top">${c:l('kermel.referentiel.personne.logo')}
										      <n:br/>
										<image id="imagePhoto" width="100px" height="100px"/>
									<n:br/>
									<n:br/>
									<hbox>
										<button id="buttonTelecharger" label="Télécharger"/>
										<button id="buttonSupprimer" label="Supprimer"/>
									</hbox>
										   </n:td>
										   </n:tr>
										   </n:table>
										   </div>
							</center>
							<south size="50">
			<vbox  width="100%" spacing="5px">
				  <hbox widths="40%,2%,2%,46%,10%">  
					    <label/>
						<label  value="(" />
						<label  value="*" style="color:red;"/>
						<label  value=") = ${c:l('kermel.common.form.champs.obligatoire')}" />
						<label/>
					</hbox>
					 <hbox>
					   <label id="lbStatusBar" />
					 </hbox>
					 </vbox>
			</south>
						</borderlayout>
					</div>
			
					
					
				</div>
			</center>
		</borderlayout>
	</window>
</zk>