<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window width="100%" title="" height="450px"
		use="sn.ssi.kermel.web.servicedrp.controllers.CriteresqualificationsController">
		<borderlayout height="100%">
			<center>
				<div height="100%">
					<div id="step00" height="100%">
						<borderlayout height="100%">
							<north>
								<hbox widths="85%,*" width="100%" height="25px" spacing="0px">
									<menubar height="25px">
										<menuitem image="/images/add.png" label="${c:l('kermel.plansdepassation.proceduresmarches.preparation.dossiers.criteres')}" id="menuCritere" />
										
									</menubar>
			                     </hbox>
							</north>

							<center>
								<div style="width:98%;margin-left:1%;margin-top:1%;margin-right:1%;">
								<div style="margin-top:4%" >
					<label  style="color:#000;" sclass="complex-layout-header-label"   value="${c:l('kermel.plansdepassation.proceduresmarches.travauxdrp.liste.lots')}" />
		             </div>
					             <listbox  id="lstLots" checkmark="true" ="false">
							         <listhead >
								       <listheader label="${c:l('kermel.plansdepassation.proceduresmarches.travauxdrp.reference')}" width="15%" />
							           <listheader label="${c:l('kermel.plansdepassation.proceduresmarches.travauxdrp.libelle')}" width="50%" />
							            <listheader label="${c:l('kermel.common.commentaires')}" width="33%" />
							            <listheader label="" width="2%" />
							        </listhead>
						         </listbox>
					           </div>
							</center>
							<south size="25px">
								<vbox width="100%" height="100%" heights="80%,*">
									<paging id="pgLots"/>
								</vbox>
							</south>
						</borderlayout>
					</div>
							<div id="step0" height="100%" visible="false">
						<borderlayout height="100%">
							<north>
								<hbox widths="85%,*" width="100%" height="25px" spacing="0px">
									<menubar height="25px">
										<menuitem image="/images/add.png" label="${c:l('kermel.appelsoffre.critere.nouveau.referentiel')}" id="menuAjouter" />
										 <menuitem id="menuNouveauCritere" label="${c:l('kermel.appelsoffre.critere.nouveau')}" image="/images/add.png" ></menuitem>
										<menuitem image="/images/delete.png" label="${c:l('kermel.common.form.supprimer')}" id="menuSupprimer" />
										<menuitem image="/images/cancel.png" label="${c:l('kermel.common.form.fermer')}" id="menuCancel" />
									</menubar>
			                     </hbox>
							</north>

							<center>
							<div style="width:98%;margin-left:1%;margin-top:1%;margin-right:1%;">
								<div style="width:90%;margin-left:5%;margin-right:5%;">
								 <groupbox id="gb" mold="3d" width="100%" closable="false">
								   <n:table>
								      <n:tr>
								        <n:td width="14%">${c:l('kermel.plansdepassation.proceduresmarches.travauxdrp.liste.lot')}</n:td>
								        <n:td width="1%">:</n:td>
								         <n:td width="85%"><label id="lblLot" /></n:td>
								      </n:tr>
								   </n:table>
								 </groupbox>
								 </div>
							    <listbox  id="lstListe" checkmark="true" ="true">
									<listhead >
										<listheader label="${c:l('kermel.referentiel.common.libelle')}" width="100%" id="lshLibelle"/>
									</listhead>
								</listbox>
				</div>
							</center>
							<south size="25px">
								<vbox width="100%" height="100%" heights="80%,*">
									<paging id="pgPagination"/>
								</vbox>
							</south>
						</borderlayout>
					</div>
					<div id="step1" height="100%" visible="false">
						<borderlayout height="100%">
							<north>
								<hbox widths="90%,*" width="100%" height="25px" spacing="0px">
									<menubar height="100%">
										<menuitem image="/images/ok.png" label="${c:l('kermel.common.form.valider')}" id="menuValider" />
										<menuitem image="/images/cancel.png" label="${c:l('kermel.common.form.fermer')}" id="menuFermer" />
										
									</menubar>
								</hbox>

							</north>
							<center>
                         	    <div style="width:90%;margin-left:5%;margin-top:1%;margin-right:5%;">
                         	    <div style="width:90%;margin-left:5%;margin-right:5%;">
								 <groupbox  mold="3d" width="100%" closable="false">
								   <n:table>
								      <n:tr>
								        <n:td width="14%">${c:l('kermel.plansdepassation.proceduresmarches.travauxdrp.liste.lot')}</n:td>
								        <n:td width="1%">:</n:td>
								         <n:td width="85%"><label id="lblLots" /></n:td>
								      </n:tr>
								   </n:table>
								 </groupbox>
								 </div>
									<listbox  id="lstCriteres" checkmark="true" ="true">
					                    <listhead >
							                <listheader label="${c:l('kermel.referentiel.common.libelle')}"  />
						                 </listhead>
					                 </listbox>
								</div>
							</center>
							<south size="25">
			                  <paging id="pgCriteres"/>
			                 </south>
                     	</borderlayout>
					</div>
					<div id="step2" height="100%" visible="false">
						<borderlayout height="100%">
							<north>
								<hbox widths="90%,*" width="100%" height="25px" spacing="0px">
									<menubar height="25px">
										<menuitem image="/images/ok.png" label="${c:l('kermel.common.form.valider')}" id="menuValiderNouveau" />
										<menuitem image="/images/cancel.png" label="${c:l('kermel.common.form.fermer')}" id="menuFermerNouveau"/>
									</menubar>
									
								</hbox>
							</north>
							<center>
								<div style="width:90%;margin-left:10%;margin-top:1%">
			          
				<n:table>

				     <n:tr>
					
					<n:td>${c:l('kermel.referentiel.common.libelle')}</n:td>
					<n:td><textbox id="txtlibelle" maxlength="150" cols="80" rows="2" /></n:td>
					 
					 </n:tr>
					 				
				   
					 
					</n:table>
				
								</div>											
							</center>
							<south size="20px">
							  	<label width="100%"  style="margin-bottom:5px" id="lbStatusBar"/>
							</south>
						</borderlayout>
					</div>
					
				</div>
			</center>
		</borderlayout>
	</window>
</zk>