<?page title=""?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:n="http://www.zkoss.org/2005/zk/native">
	<window height="600px" id="winFormReleve" border="normal" width="100%"  title=""  use="sn.ssi.kermel.web.fournituredrp.controllers.VerificationsCriteresControllers">
		<borderlayout height="100%">
				<north>
				<hbox pack="end" sclass="z-menubar-hor" height="100%">
						<textbox cols="30" id="txtSoumissionnaire" value="${c:l('kermel.plansdepassation.proceduresmarches.ouvertureplis.registreretrait.raisonsocial')}" />
						<textbox cols="20" id="txtLot" value="${c:l('kermel.plansdepassation.proceduresmarches.travauxdrp.lotslot')}" />
						<textbox cols="30" id="txtCritere" value="${c:l('kermel.plansdepassation.proceduresmarches.preparation.dossiers.criteres')}" />
			  	       <button id="btnRechercher" tooltiptext="${c:l('kermel.common.form.rechercher')}" image="/images/find.png"/>
						</hbox>	
			</north>
			<center autoscroll="true">
				<div height="100%">
	
					<div id="step1" height="100%" visible="true">

					<borderlayout height="100%">
						<center autoscroll="true">
						<div style="width:98%;margin-left:1%;margin-top:1%;margin-right:1%;">			
							
							
							<grid id="GridLots" align="left">																			
										<columns>
											<column label="${c:l('kermel.plansdepassation.proceduresmarches.preparation.dossiers.pieces.libelle')}" width="85%"  />
											<column label="${c:l('kermel.plansdepassation.proceduresmarches.evaattrprovisoire.evaluation.vercriteresqualification.conforme')}" width="10%" align="center" />
											<column label="" width="5%" align="center"  />
										</columns>
									</grid>
							
							
							</div>
						</center>
						<south>
						
						</south>
					</borderlayout>
				

					</div>
				</div>
				
			</center>
			<south size="20px">
							<vbox width="100%" height="100%"
								heights="80%,*">
								<label width="100%"
									style="margin-bottom:5px" id="lbStatusBarStep5">
								</label>
							</vbox>
						</south>
		</borderlayout>


	</window>
</zk>